<h1>Namespace#NameSpaceList</h1>
<div class="row">
    <div class="col-md-12">
        <div class="subtitle">
            <div class="container">
                <h3>NAMESPACE LIST</h3>
            </div>
        </div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr text-align="left">
              <th class="centered">ID</th>
              <th>NS NAME</th>
              <th>USER ID</th>
              <th>CreatedAt</th>
            </tr>
          </thead>
        <tbody>
            <tr>
            <%= if (ns_list && len(ns_list) > 0) { %>
                
                <%= for (ns) in ns_list { %>
                  
                        <td><%= ns.ID %></td>
                        <td><%= ns.NsName %></td>
                        <td><%= ns.User.Email %></td>
                        <td><%= ns.CreatedAt %></td>
               
                <% } %>
            <% } else { %>
            
                    <td colspan="4">No Namespaces</td>
            
            <% } %>
            </tr>
            <%= current_user %>
            <%= ns_list %>

        </tbody>
    
    </table>
    </div>
    </div>
    </div>