<!DOCTYPE html>

<html>
<%= partial("partials/layout/header.html") %>

  <body>
    <!-- theme js -->
    <%= javascriptTag("common/theme/themeMode.js") %>
    <%= javascriptTag("common/theme/tabler.js") %>
    <%= javascriptTag("common/theme/tablerHelper.js") %>


    <div class="page">

      <%= partial("partials/layout/sidebar.html") %>
      <%= partial("partials/layout/navbar.html") %>
      
      <div class="page-wrapper">

        <!-- Page header -->
        <%= partial("partials/layout/pageheader.html") %>

        <!-- Page body -->
        <%= partial("partials/layout/flash.html") %>
        <%= yield %>
        <%= partial("partials/layout/modal.html") %>
        <div id="loader" class="section active">
          <div class="page page-center">
            <div class="container container-slim py-4">
                <div class="text-center">
                    <div class="mb-3">
                        <a href="." class="navbar-brand navbar-brand-autodark"><img src="/assets/static/logo/logo-small.svg" height="36" alt=""></a>
                    </div>
                    <div class="text-secondary mb-3">Preparing page</div>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-indeterminate"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <!-- footer -->
        <%= partial("partials/layout/footer.html") %>
      </div>

    </div>

  <!-- common js-->
  <%= javascriptTag("application.js") %>
  <%= javascriptTag("common/util.js") %>
  <%= javascriptTag("common/api/http.js") %>
  <%= javascriptTag("common/storage/sessionstorage.js") %>
  <%= javascriptTag("partials/layout/navigatePages.js") %>
  <%= javascriptTag("partials/layout/modal.js") %>
  
  </body>

</html>