
<!DOCTYPE html>
<html>
  <head >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Buffalo Sequential Workflow</title>
    <%= stylesheetTag("application.css") %>
    <!-- theme js -->
    <%= javascriptTag("common/theme/themeMode.js") %>
    <%= javascriptTag("common/theme/tabler.js") %>
    <%= javascriptTag("common/theme/tablerHelper.js") %>
    <meta id="csrf-param" content="authenticity_token" />
    <meta id="csrf-token" content="<%= authenticity_token %>" />
    <%= partial("partials/layout/flash.html") %>
  </head>
  <body class="d-flex flex-column" data-bs-theme>
    <%= yield %>
  </body>

  <!-- common js-->
  <%= javascriptTag("application.js") %>
  <%= javascriptTag("common/util.js") %>
  <%= javascriptTag("common/api/http.js") %>
  <%= javascriptTag("common/storage/sessionstorage.js") %>
</html>

