<div class="row">
  <%= for (k, messages) in flash { %>
    <%= for (msg) in messages { %>
      <div class="col-md-12">
        <div class="alert alert-<%= k %> alert-dismissible m-2" role="alert">
            <div class="d-flex">
                <div>
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alert-square"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /><path d="M12 8v4" /><path d="M12 16h.01" /></svg>
                </div>
                <div>
                    <h4 class="alert-title"><%= k %></h4>
                    <div class="text-secondary"><%= msg %></div>
                </div>
            </div>
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        </div>
      </div>
    <% } %>
  <% } %>
</div>
