{{ template "OperationTop" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}
		
	</div>
	
	<div class="bottom"></div>
    <link rel="icon" href="/assets/js/sequential-workflow-designer/favicon.ico">
	
	<!-- 필수요소 -->
	<script src="/assets/js/sequential-workflow-designer/dist/index.umd.js"></script>
	<link rel="stylesheet" href="/assets/js/sequential-workflow-designer/css/common.css">
	<link rel="stylesheet" href="/assets/js/sequential-workflow-designer/css/designer.css">
	<link rel="stylesheet" href="/assets/js/sequential-workflow-designer/css/designer-light.css">
	<link rel="stylesheet" href="/assets/js/sequential-workflow-designer/css/designer-dark.css">

	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

    <!-- contents -->
    <input type="hidden" id="mcis_id" />
    <input type="hidden" id="mcis_name" />
    <input type="hidden" id="init_select_areabox" />

    <div class="contbox">
        
        <div class="titlebox">
            <div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Dashboard / <strong>WorkFlow</strong></div>
            <div class="location">Home  <span>></span>  Operation  <span>></span>  Dashboard  <span>></span>  <strong>WorkFlow</strong></div>
        </div>

        <div class="contbox">
            <div class="dashboard dashboard_cont">
                <div class="d_box box_m box_w100">
                    <div class="titbox">
                        <div class="tit" >
                            <strong>Mcis</strong> <span>/</span> server
                        </div>
                        <div class="state color_b"></div>
                    </div>
                    <div class="box_cont">
                        <div id="placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            $(function() {
                jQuery('.sc_box.scrollbar-inner').scrollbar();
            }); 
        </script>

	<script src="/assets/js/sequential-workflow-designer/js/smaple.js"></script>


    </div>
{{template "Footer" .}}