# mc_web_console_api
mc_web_console_api/vendor/
mc_web_console_api/**/*.log
mc_web_console_api/**/*.sqlite
mc_web_console_api/.idea/
mc_web_console_api/bin/
mc_web_console_api/tmp/
mc_web_console_api/tmp/*
mc_web_console_api/node_modules/
mc_web_console_api/.sass-cache/
mc_web_console_api/public/assets/
mc_web_console_api/.vscode/
mc_web_console_api/.grifter/
mc_web_console_api/.env
mc_web_console_api/**/.DS_Store
mc_web_console_api/*.pid
mc_web_console_api/coverage
mc_web_console_api/coverage.data
mc_web_console_api/.svn
mc_web_console_api/.console_history
mc_web_console_api/.sass-cache/*
mc_web_console_api/.jhw-cache/
mc_web_console_api/jhw.*
mc_web_console_api/*.sublime*
mc_web_console_api/dist/
mc_web_console_api/generated/
mc_web_console_api/.vendor/
mc_web_console_api/.pnp.*
mc_web_console_api/.yarn/*
mc_web_console_api/!.yarn/patches
mc_web_console_api/!.yarn/plugins
mc_web_console_api/!.yarn/releases
mc_web_console_api/!.yarn/sdks
mc_web_console_api/!.yarn/versions
mc_web_console_api/database.yml

# mc_web_console_front
mc_web_console_front/vendor/
mc_web_console_front/**/*.log
mc_web_console_front/**/*.sqlite
mc_web_console_front/.idea/
mc_web_console_front/bin/
mc_web_console_front/tmp/
mc_web_console_front/node_modules/
mc_web_console_front/.sass-cache/
mc_web_console_front/public/assets/
mc_web_console_front/.vscode/
mc_web_console_front/.grifter/
mc_web_console_front/.env
mc_web_console_front/**/.DS_Store
mc_web_console_front/*.pid
mc_web_console_front/coverage
mc_web_console_front/coverage.data
mc_web_console_front/.svn
mc_web_console_front/.console_history
mc_web_console_front/.sass-cache/*
mc_web_console_front/.jhw-cache/
mc_web_console_front/jhw.*
mc_web_console_front/*.sublime*
mc_web_console_front/dist/
mc_web_console_front/generated/
mc_web_console_front/.vendor/
mc_web_console_front/.pnp.*
mc_web_console_front/.yarn/*
mc_web_console_front/!.yarn/patches
mc_web_console_front/!.yarn/plugins
mc_web_console_front/!.yarn/releases
mc_web_console_front/!.yarn/sdks
mc_web_console_front/!.yarn/versions
mc_web_console_front/database.yml

# deploy
devlog/mc_web_console_api.log
devlog/mc_web_console_api.pid
devlog/mc_web_console_front.log
devlog/mc_web_console_front.pid
devlog/mc_web_console_api_build.log
devlog/mc_web_console_api_front.log

# bin
bin/mc-web-console-api
bin/mc-web-console-front
bin/.env

mc_web_console_api/database.yml
.env
mc_web_console_api/conf/api.yaml
bin/mc-web-console-api.log
bin/conf/api.yaml
mc_web_console_api/conf/serverinfo
