<div class="container">
    <div class="row">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Connection Name
                </div>
                <div class="datagrid-content">
                    aws-sao-conn
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Credential
                </div>
                <div class="datagrid-content">
                    aws-credential
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Cloud Provider(CP)
                </div>
                <div class="datagrid-content">
                    aws
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Driver File Name
                </div>
                <div class="datagrid-content">
                    aws-driver
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Region
                </div>
                <div class="datagrid-content">
                    Sao Paulo(sa-east-1)
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Available Zone
                </div>
                <div class="datagrid-content">
                    sa-east-1b
                </div>
            </div>
        </div>
        <div class="row">
            <%= partial("partials/operation/manage/connectionservicemap.html") %>
        </div>
    </div>
</div>