<div class="container">
  <div class="row">
    <div class="col-lg-auto">
      <div class="datagrid">
        <div class="datagrid-item">
          <div class="datagrid-title">ServerID</div>
          <div class="datagrid-content">i-04da3054fa8f519ba</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Server Status</div>
          <div class="datagrid-content">Running</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Server Spec</div>
          <div class="datagrid-content">t3a.small</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Public DNS(IPv4)</div>
          <div class="datagrid-content">-</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Public IP(IPv4)</div>
          <div class="datagrid-content">177.71.233.40</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Region</div>
          <div class="datagrid-content">Sao Paulo:sa-east-1</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Zone</div>
          <div class="datagrid-content">sa-east-1b</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Security Group</div>
          <div class="datagrid-content">testns01-aws-sao-sg</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Private DNS</div>
          <div class="datagrid-content">-</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Private IP</div>
          <div class="datagrid-content">10.0.0.122</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Image ID</div>
          <div class="datagrid-content">ubuntu2004</div>
        </div>
      </div>
    </div>
    <div class="col-lg-auto">
      <div class="datagrid">
        <div class="datagrid-item">
          <div class="datagrid-title">Platform</div>
          <div class="datagrid-content">x86_64</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Operating System</div>
          <div class="datagrid-content">Linux/UNIX</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">VPC ID</div>
          <div class="datagrid-content">
            testns01-aws-sao-vnet(vpc-0bdc1678ac519761d)
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">subnet ID</div>
          <div class="datagrid-content">
            aws-sao-snet(subnet-05f9d6f58889f1dd4)
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Network Interface</div>
          <div class="datagrid-content">-</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Root Device Type</div>
          <div class="datagrid-content">gp2</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Root Device</div>
          <div class="datagrid-content">/dev/sda1</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Block Device</div>
          <div class="datagrid-content">Attach Disk</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Keypair Name</div>
          <div class="datagrid-content">testns01-aws-sao-ssh</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Access ID / Pwd</div>
          <div class="datagrid-content">cb-user/***</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">User ID / Pwd</div>
          <div class="datagrid-content">cb-user/***</div>
        </div>
      </div>
    </div>
  </div>
</div>