<!-- 표의 행 클릭 시  -->

<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      MCIS Info<span id="region" class="text-info"> [ aws-sao-mcis ] </span>
    </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group mb-2">
          <span class="text-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="75"
              height="75"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M20 11a8.1 8.1 0 0 0 -6.986 -6.918a8.095 8.095 0 0 0 -8.019 3.918"
              />
              <path d="M4 13a8.1 8.1 0 0 0 15 3" />
              <path d="M19 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
              <path d="M5 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
              <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            </svg>
          </span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group mb-2">
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Name</div>
              <div class="datagrid-content">aws-sao-mcis / aws-sa</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">targetStatus</div>
              <div class="datagrid-content">None</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Description</div>
              <div class="datagrid-content">-</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">targetAction</div>
              <div class="datagrid-content">None</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Provider</div>
              <div class="datagrid-item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-aws"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M17 18.5a15.198 15.198 0 0 1 -7.37 1.44a14.62 14.62 0 0 1 -6.63 -2.94"
                  />
                  <path
                    d="M19.5 21c.907 -1.411 1.451 -3.323 1.5 -5c-1.197 -.773 -2.577 -.935 -4 -1"
                  />
                  <path d="M3 11v-4.5a1.5 1.5 0 0 1 3 0v4.5" />
                  <path d="M3 9h3" />
                  <path d="M9 5l1.2 6l1.8 -4l1.8 4l1.2 -6" />
                  <path
                    d="M18 10.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"
                  />
                </svg>
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Deployment Algorithm</div>
              <div class="datagrid-content">-</div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <%= partial("partials/operation/manage/serverlist_status.html") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
