<div class="col-12">
  <h3 class="text-info">Server Security Configuration</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-2">
        <label class="form-label required">Security Group Name</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Please Use Search"
            />
          </div>
          <div class="col-auto">
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#securitygroup-list"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/search -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label">VPC Id</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder=""
              value=""
            />
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label">Firewall RuleSet</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder="Direction"
              value="Direction"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder="FromPort"
              value="FromPort"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder="ToPort"
              value="ToPort"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder="Ip Protocol"
              value="IpProtocol"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder="CIDR"
              value="CIDR"
            />
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label">Description</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder=""
              value=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group mb-2">
        <label class="form-label required">SSH Key Name</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Please Use Search"
            />
          </div>
          <div class="col-auto">
            <a
              href="#"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#sshkey-list"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/search -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label">Connection Name</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder=""
              value=""
            />
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label">Description</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              disabled=""
              placeholder=""
              value=""
            />
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label">Access ID</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Access User Account"
              value=""
            />
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label class="form-label">Access Password</label>
        <div class="row g-2">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Access User Password"
              value=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div align="right">
  <button type="submit" class="btn btn-secondary">Prev</button>    <button
    type="submit"
    class="btn btn-info"
  >
    Next
  </button>
</div>
