<div class="card bg-secondary-lt">
  <div class="card-header">
    <div class="container">
      <div class="col-sm">
        <h3 class="card-title">
          Server Detail Info<span id="region" class="text-info">
            [aws-sao-server-1/aws-sao-mcis]
          </span>
        </h3>
      </div>
      <div class="col-sm">
        <h5>Public IP : 177.71.233.40</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= partial("partials/operation/manage/servertabcards.html") %>
  </div>
</div>
<div class="d-flex align-items-baseline"></div>