<div class="dashboard dashboard_cont">
  <div class="d_box box_m box_w100">
    <div class="titbox"></div>

    <div class="ds_cont">
      <div class="row">
        <div class="col">
          <label class="mb-3" for="search" id="searchplaceholder">METHOD</label>
          <div class="input-group">
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="GET"
                name="METHOD"
                value="GET"
                checked
              />
              <label class="form-check-label" for="GET">GET</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="POST"
                name="METHOD"
                value="POST"
              />
              <label class="form-check-label" for="POST">POST</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="DELETE"
                name="METHOD"
                value="DELETE"
              />
              <label class="form-check-label" for="DELETE">DELETE</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="PUT"
                name="METHOD"
                value="PUT"
              />
              <label class="form-check-label" for="PUT">PUT</label>
            </div>
          </div>
          <label class="mb-3" for="search" id="searchplaceholder"
            >PATH ( ex :
            /api/adminconfig/category/?categoryName=Dashboard)</label
          >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="search"
              placeholder="TARGET PATH"
              autocomplete="on"
              list="autocomplete"
            />
            <label for="search" id="searchplaceholder">PATH </label>
          </div>

          <div class="autocomplete"></div>
          <div class="d-grid gap-3 mb-3">
            <button
              type="button"
              id="swaggerSearch"
              class="btn btn-success btn-block"
            >
              swagger DOC
            </button>
          </div>

          <div id="dataList" style="display: none"><%= routerList %></div>
          <label class="mb-3" for="search" id="searchplaceholder">DATA</label>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="data"
              name="text"
              placeholder="Comment goes here"
              style="height: 300px"
            ></textarea>
            <label for="result">DATA</label>
          </div>

          <div class="d-grid gap-3 mb-3">
            <button
              id="testbtn"
              type="button"
              class="btn btn-primary btn-block"
            >
              TEST
            </button>
          </div>
        </div>

        <div class="col">
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="result"
              name="text"
              placeholder="Comment goes here"
              style="height: 600px"
            ></textarea>
            <label for="result">RESULT</label>
          </div>
          <div class="d-grid gap-3 mb-3">
            <button
              type="button"
              id="prettyPrint"
              class="btn btn-success btn-block"
            >
              prettyPrint
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
