<div class="dashboard dashboard_cont">
  <div>
    <div class="ds_cont">
      <div class="register_box">
        <div class="graybox">
          <div class="g_box">

            <div class="logicbox">
              <div class="mainbox">

                <div class="logic_tbox lg_1">
                  <div class="tit">Step 1. NameSpace</div>
                  <div class="btn btn-primary btn-lg txtmain" id="infoNamePrs">
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/setting/namespaces/namespace/mngform')">NameSpace</a>

                    <span id="gotomainnamespace" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="logicbox">
              <div class="mainbox">
                <div class="logic_tbox lg_1">
                  <div class="tit">&nbsp;</div>
                </div>
              </div>
            </div>

            <!-- step2 -->
            <div class="logicbox">
              <div class="mainbox">

                <div class="logic_tbox lg_1">
                  <div class="tit">Step 2. Connection</div>
                  <div class="btn btn-primary btn-lg txtmain"> <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/connection/cloudconnectionconfig/mngform')">Connection</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="logicbox">
              <div class="mainbox">
                <div class="line line_p0"></div>
                <div class="line line_a line_p0_1"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;">
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/connection/cloudconnectionconfig/mngform')" >Credential</a> 	<br/>
                    <span id="gotomaincredential" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>
                <div class="line line_space"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;">
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/connection/cloudconnectionconfig/mngform')" >Driver</a>  <br/>
                    <span id="gotomaindriver" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>

                <div class="line line_space"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;">
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/connection/cloudconnectionconfig/mngform')" >Region</a>  <br/>
                    <span id="gotomainregion" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="logicbox">
              <div class="mainbox">
                <div class="logic_tbox lg_1">
                  <div class="tit">&nbsp;</div>
                </div>
              </div>
            </div>
            <!-- step3 -->
            <div class="logicbox">
              <div class="mainbox">
                <div class="logic_tbox lg_1">
                  <div class="tit">Step 3. Resource</div>
                  <div class="btn btn-primary btn-lg txtmain">Resource 생성</div>
                </div>
              </div>
            </div>
            <!-- sub단계-->
            <div class="logicbox">
              <div class="mainbox">
                <div class="line line_p0"></div>
                <div class="line line_a line_p0_1"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;">
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/resources/network/mngform')">Network</a> <br/>
                    <span id="gotomainnetwork" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>

                <div class="line line_space"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;" >
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/resources/securitygroup/mngform')"> Security</a><br/>
                    <span id="gotomainsecuritygroup" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>

                <div class="line line_space"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;" onclick="mcpjs['util/util'].changePage('/settings/resources/sshkey/mngform')" >
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/resources/sshkey/mngform')" > SSH Key</a><br/>
                    <span id="gotomainsshkey" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>

                <div class="line line_space"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;">
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/resources/vmimage/mngform')" > (Server) Image </a><br/>
                    <span id="gotomainimage" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>

                <div class="line line_space"></div>

                <div class="logic_tbox lg_4">
                  <div class="tit">&nbsp;</div>
                  <div class="btn btn-info btn-lg txt" style="min-height: 70px;" onclick="mcpjs['util/util'].changePage('/settings/resources/vmspec/mngform')" >
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/settings/resources/vmspec/mngform')" > (Server) Spec </a><br/>
                    <span id="gotomainspec" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="logicbox">
              <div class="mainbox">
                <div class="logic_tbox lg_1">
                  <div class="tit">&nbsp;</div>
                </div>
              </div>
            </div>

            <div class="logicbox">
              <div class="mainbox">

                <div class="logic_tbox lg_1">
                  <div class="tit">Step 4-1. MCIS </div>
                  <div class="btn btn-success btn-lg txtmain"  >
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/operations/mcismng/mngform')"> MCIS </a><br/>
                    <span id="gotomainmcis" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>

                <div class="line line_space"></div>
                <div class="line line_space"></div>
                <div class="line line_space"></div>
                <div class="line line_space"></div>

                <div class="logic_tbox lg_2">
                  <div class="tit">Step 4-2. MCKS </div>
                  <div class="btn btn-success btn-lg txtmain"  >
                    <a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/operations/mcksmng/mngform')"> MCKS </a><br/>
                    <span id="gotomainmcks" style="display:none">
																[미생성]
															</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

</div>

<%= javascriptTag("auth/userguide.js") %>