<div class="servers_config simple_servers_config" id="simpleServerConfig">
	<form id="simple_form">
		<input type="hidden" name="provider" id="s_provider" />

		<!-- <input type="hidden" name="specId"  value="" id="s_specId" /> -->
		<!--id 에 간단설정이면 s_, Expert On 이면 e_ -->
		<input type="hidden" name="vNetId" id="s_vNetId" value=""/>
		<input type="hidden" name="subnetId" id="s_subnetId" value=""/>
		<input type="hidden" name="securityGroupIds[]" id="s_securityGroupIds"/>
		<input type="hidden" name="name" id="s_name" />
		<input type="hidden" name="description" id="s_description" />
		<input type="hidden" name="providerId" id="s_providerId" />
		<input type="hidden" name="regionName" id="s_regionName" />
		<input type="hidden" name="connectionName" id="s_connectionName" />
		<input type="hidden" name="specId" id="s_spec" />
		<input type="hidden" name="imageId" id="s_imageId" />
		<input type="hidden" name="imageType" id="s_imageType" />
		<input type="hidden" name="sshKeyId" id="s_sshKey" />
		<input type="hidden" name="vmUserPassword" id="s_vmUserPassword" />
		<input type="hidden" name="tempProviderId" id="t_providerId" />
		<input type="hidden" name="tempRegionName" id="t_regionName" />
		<input type="hidden" name="tempConnectionName" id="t_connectionName" />
		<input type="hidden" name="tempSpec" id="t_spec" />
		<input type="hidden" name="tempImage" id="t_image" />
		<input type="hidden" name="tempSshKey" id="t_sshKey" />
		<input type="hidden" name="dataDiskIds[]" id="s_dataDiskIds" />
		<input type="hidden" name="rootDiskSize" id="s_rootDiskSize" />
		<input type="hidden" name="rootDiskType" id="s_rootDiskType" />
		<!--		<input type="hidden" name="vm_cnt" value="" id="s_vm_cnt" />-->
		<input type="hidden" name="subGroupSize" value="" id="s_subGroupSize" /><!-- vm_cnt에서 subGroupSize로 변경 -->

	</form>

	<div class="top_box">
		<div class="titbox_sc">
			<div class="tit">Server Configuration</div>
		</div>

		<div class="ip_box">

			<div class="svc_ipbox">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Server Name</label>
							<input type="text" name="name" value="" placeholder="Input Name" class="pline ip_3" title=""
								id="ss_name"/>
						</li>
					</ul>
				</div>
				<div class="ipbox ipbox4">
					<ul>
						<li>
							<label>Description</label>
							<textarea cols="" rows="" placeholder="Input Description" class="pline ta_3" title=""
								name="description" id="ss_description"></textarea>
						</li>
					</ul>
				</div>
			</div>

			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Provider</label>							
							<select class="selectbox white pline sel_4" name="provider" id="ss_providerId"
								onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'ss_regionName');">
								<option value="">Select Cloud Provider</option>
                                <%= for (provider) in cloud_os_list {%>
                                    <option value="<%= provider %>"><%= provider %></option>
                                <% } %>
							</select>
						</li>
						<li>
							<label><span class="ch">*</span>Region Name</label>
							<select class="selectbox white pline sel_4" name="regionName" id="ss_regionName"
								onchange="mcpjs['mcismng/vmconfiguresimple'].changeMcisSimpleRegion('mciscreatesimple', 'ss_providerId', 'ss_regionName');">
								<option value="">Select Region</option>
							</select>
						</li>
						<input type="hidden" name="connectionName" id="ss_connectionName"/>
						<!--
						<li>
							<label><span class="ch">*</span>Connection Name</label>
							<select class="selectbox white pline sel_4" name="connectionName" id="ss_connectionName"
								onchange="changeConnectionInfo(this.value);">
								<option value="aws-ap-northeast-1">aws-ap-northeast-1</option>
							</select>
						</li>
						-->
					</ul>
				</div>
			</div>

			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>VPC</label>
							<select class="selectbox white pline sel_4" name="vNetId" id="ss_VNetId">
								<option>Select VPC</option>
							</select>
							<input type="hidden" name="subnetId" id="ss_subnetId" />
						</li>
						<li>
							<label><span class="ch">*</span>SecurityGroup</label>
							<select class="selectbox white pline sel_4" name="securityGroupId" id="ss_securityGroupId">
								<option>Select SecurityGroup</option>
							</select>
						</li>
						<li>
							<label><span class="ch">*</span>Spec</label>
							<select class="selectbox white pline sel_4" name="specId" id="ss_spec">
								<option>Select VM Spec</option>
							</select>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#recommendSpecAssist" class="btn_recommend_vmspec">Assist</a>
						</li>
						<li>
							<label><span class="ch">*</span>which OS</label>
							<select class="selectbox white pline sel_4" name="imageId" id="ss_imageId" display=""
								onchange="mcpjs['mcismng/vmconfiguresimple'].setSimpleImageId(this.value)">
								<option>Select VM Image</option>
							</select>
							<select class="selectbox white pline sel_4" name="mySnapShotId" id="ss_myImageId"
								onchange="mcpjs['mcismng/vmconfiguresimple'].setSimpleImageId(this.value)" display="none;">
								<option>Select My Image</option>
							</select>
							<div class="switch select_type">
								<span class="txt">
									<input type="hidden" id="ss_vmimage_toggle_status" value="toggle_off" />
									<input type="hidden" id="ss_imageType"/>
									<label>
										<input type="checkbox" name="" class="ch" id="p_to_my"
											onclick="mcpjs['mcismng/vmconfiguresimple'].toggleMyImage();">
										<span></span>
									</label>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch">*</span>Access (ssh key)</label>
							<select class="selectbox white pline sel_4" name="sshKeyId" id="ss_sshKey">
								<option>Select SSH Key</option>
							</select>

						</li>
						<li>
							<label><span class="ch"></span>Access (password)</label>
							<input type="text" name="password" value="" placeholder="Input Password" class="pline ip_3"
								title="" id="ss_password" />
						</li>
					</ul>
				</div>

			</div>
			<div class="svc_ipbox svc_ipbox_2">
				<div class="ipbox ipbox3">
					<ul>
						<li>
							<label><span class="ch"></span>Root Disk</label>
							<select class="selectbox white pline sel_4" name="rootDiskType" id="ss_root_disk_type"
								onchange="mcpjs['datadisk/namespaceavailabledatadisk_modal'].changeDiskSize(this.value);">
								<option value="">Select Root Disk Type</option>
							</select>
							<input type="text" name="rootDiskSize" value="" placeholder="Root Disk Size(GB)"
								class="pline ip_3" title="" id="ss_root_disk_size" />
						</li>

						<li>
							<label>DataDisk</label>
							<select class="selectbox white pline sel_4" name="dataDiskId" id="ss_data_disk">
								<option value="">Select Root Disk Type</option>
							</select>
							<!--
							<input type="text" name="dataDiskId" placeholder="" class="pline ip_3" title=""
								id="ss_data_disk" readonly />
							
							<a href="javascript:void(0);" data-toggle="modal" data-target="#availableDiskSelectBox" class="btn_availabledisk">Available Disk</a>
							-->
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- button -->
		<div class="btnbox spec_select_box">
			<div class="svc_ipbox svc_ipbox_2">

				<div class="amount_add s_slider_box">
					<div class="add_box">
						<div class="a_box">
							<strong>Server Quantity</strong>
							<div class="a_slider">
								<div class="slider_ip">
									<button type="button" class="btn_s btn_s_minus">-</button>
									<div class="slider_bar">
									</div>
									<button type="button" class="btn_s btn_s_plus">+</button>
								</div>
								<input type="text" name="exp_vm_add_cnt" value="1" class="components_input txt_ipbox"
									title="" id="ep_vm_add_cnt" />
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="btnbox spec_select_box">
				<div class="btn_right">

					<button type="button" name="" value="" class="btn_done btn_co btn_cr_g"><span>DONE</span></button>
					<button type="button" name="" value="" class="btn_clear btn_co btn_cr_b">CLEAR</button>

				</div>
			</div>
		</div>
		<!-- //button -->
	</div>

</div>
<%= javascriptTag("mcismng/vmconfiguresimple.js") %>