<div class="register_box modal fade" id="mcisSubgroupAssist" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" id="parentsSubgroupListAssist" value="" />
    <input type="hidden" id="parentsVpcId" value="" />
    
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pop-body">
                    <div class="title_box">
                        <div class="title">VM List</div>
                    </div>

                    <div class="pop-cont">
                        <div id="subGroupList"></div>
                    </div>
                    <!-- <div class="pop-cont">                        
                        <div class="dtbox scrollbar-inner">
                            <div class="dataTable dt_overlay">
                                <table cellpadding="0" cellspacing="0" border="1" summary="">
                                    <thead>
                                        <tr>
                                            <th class="column-50px">
                                                <input type="checkbox" name="" value="" id="th_chall" title="" /><label
                                                    for="th_chall"></label>
                                            </th>
                                            <th>MCIS</th>
                                            <th>Sub Group</th>
                                            <th>VM List</th>
                                        </tr>
                                    </thead>
                                    <tbody id="subGroupList">
                                        <tr>
                                            <td class="overlay hidden" data-th="" colspan="4">
                                                No Data
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                         
                        <div class="b_txt">
                            <span class="ch">*</span> Define the VM Group to be
                            added to MCIS and VMs and add it by clicking
                            <span class="txt">“Apply”</span>
                        </div>
                    </div> -->
                </div>

                <div class="btnbox">
                    <div class="btn_right">
                        <button name="" value="" class="btn_apply btn_co btn_cr_g">
                            <span>Apply</span>
                        </button>
                        <button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">
                            cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascriptTag("mcismng/subgrouplist_modal.js") %>
