<div class="dashboard dashboard_cont detail server_info" id="dashboard_detailBox">
	<input type="hidden" name="server_info_provider_id" id="server_info_provider_id" />
	<input type="hidden" name="server_info_region_name" id="server_info_region_name" />
	<div class="d_box box_m box_w100">
		<div class="titbox">
			<div class="top_info">
				<div class="tit initial"><strong>Server Info</strong> <span class="stxt" id="server_info_text">[ Server 2 /
					mcis-t03 ]</span></div>
				<ul>
					<li>
						<a href="javascript:void(0);"><img src="/assets/images/common/icon_question.png" alt="" /></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="ds_cont">

			<div class="iparea">
				<div class="boxlist ipbox d_ip1">
					<div class="iconbox">
						<div class="img" id="server_info_status_img"><img id="server_info_status_icon_img" src="/assets/images/contents/icon_running_db.png"
								alt="" /></div>
						<!-- 
											<div class="img"><img src="/assets/images/contents/icon_stop_db.png" alt=""/></div>
											<div class="img"><img src="/assets/images/contents/icon_terminate_db.png" alt=""/></div>
											 -->
					</div>
					<ul>
						<li>
							<label>Name</label>
							<input type="text" name="" value="" placeholder="Name / ID" title="" readonly
								id="server_info_name" />
						</li>
						<li>
							<label>Description</label>
							<input type="text" name="" value="" placeholder="description" title="description" readonly
								id="server_info_desc" />
							<!-- 
												<label class="ta">Description</label>
												<textarea  cols="" rows="" placeholder="description" title="" class="ta_line" readonly ></textarea> 
												-->
						</li>
					</ul>
				</div>

				<div class="boxlist ipbox d_ip2">
					<ul>
						<li>
							<label>Public IP</label>
							<input type="text" name="" value="" placeholder="Public IP" title=""
								id="server_info_public_ip" readonly />
						</li>
						<li>
							<label>/ DNS</label>
							<input type="text" name="" value="" placeholder="Public DNS" title="" readonly
								id="server_info_public_dns" />
						</li>
						<li>
							<label>Private IP</label>
							<input type="text" name="" value="" placeholder="Private IP" title="" readonly
								id="server_info_private_ip" />
						</li>
						<li>
							<label>/ DNS</label>
							<input type="text" name="" value="" placeholder="Private DNS" title="" readonly
								id="server_info_private_dns" />
						</li>
					</ul>
				</div>

				<div class="boxlist ipbox d_ip3">
					<ul>
						<li>
							<label>Operating System</label>
							<input type="text" name="" value="" placeholder="Operating System" title="" readonly
								id="server_info_os" />
						</li>
						<li>
							<label>Architecture</label>
							<input type="text" name="" value="" placeholder="Architecture" title="" readonly
								id="server_info_archi" />
						</li>
						<li>
							<label>VMSpecName</label>
							<input type="text" name="" value="t2.micro" placeholder="" title="" readonly
								id="server_info_vmspec_name" />
						</li>
						<li>
							<label>StartTime</label>
							<input type="text" name="" value="2020-05-08T14:49:47Z" placeholder="" title="" readonly
								id="server_info_start_time" />
						</li>
					</ul>
				</div>

				<div class="boxlist ipbox d_ip4">
					<div class="iconbox">
						<div class="img" id="server_info_csp_icon"><img src="/assets/images/contents/img_logo_a.png"
								alt="" /></div>
					</div>
					<ul>
						<li>
							<label>Region</label>
							<input type="text" name="" value="Seoul : 리전(지역)" placeholder="" title="" readonly
								id="server_info_region" />
						</li>
						<li>
							<label>Zone</label>
							<input type="text" name="" value="a1 : 존" placeholder="" title="" readonly
								id="server_info_zone" />
						</li>
						<li>
							<label>VMID</label>
							<input type="text" name="" value="cspVMID : CSP VM ID" placeholder="" title="" readonly
								id="server_info_cspVMID" />
						</li>
						<li>
							<label>ConfigName</label>
							<input type="text" name="" value="" placeholder="Cloud Connection name" title="" readonly
								id="server_info_connection_name" />
						</li>
					</ul>
				</div>
			</div>
		</div>


		<!-- detail Info -->
		<%= partial("operations/mcismng/vm_detail.html") %>
		<!-- //detail Info -->


	</div>

</div>