<input type="hidden" id="mcis_id" value='{{ .McisID }}' />
<input type="hidden" id="mcis_name" value='{{ .McisName }}' />
<input type="hidden" id="vm_id" value='' />
<input type="hidden" id="vm_name" value='' />

<input type="hidden" id="selected_mcis_id" value='{{ .SelectedMcisID }}' />
<input type="hidden" id="selected_mcis_index" value='0' />
<input type="hidden" id="selected_vm_id" />

<!-- export 시 사용할 filename, script -->
<input type="hidden" id="exportFileName" />
<input type="hidden" id="exportScript" />

<div class="titlebox">
    <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="">Manage / <strong>MCIS</strong></div>
    <div class="location">Home <span>&gt;</span> Operation <span>&gt;</span> Manage <span>&gt;</span>
        <strong>MCIS</strong></div>
</div>
<%= partial("operations/mcismng/list.html") %>
<%= partial("operations/mcismng/detail.html") %>
<%= partial("operations/mcismng/vmlist.html") %>
<%= partial("operations/mcismng/vm_overview.html") %>

<%= partial("settings/securitygroup/firewallruleset_modal.html") %>

<%= javascriptTag("mcismng/mcismng.js") %>

