<div class="contbox">
    <input type="hidden" name="installMonAgent" value="yes" id="installMonAgent" />

    <div class="titlebox">
        <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="" />Manage / <strong>MCIS</strong></div>
        <div class="location">Home <span>></span> Operation <span>></span> Manage <span>></span>
            <strong>MCIS</strong>
        </div>
    </div>


    <!-- list -->
    <div class="dashboard dashboard_cont">

        <div class="d_box box_m box_w100">
            <div class="titbox line_none">
                <div class="tit initial">
                    <strong>Create MCIS</strong>
                </div>

                <!-- <div class="step_box">
                    <div class="on">STEP 1 <div class="bar"></div>
                    </div>
                    <div>STEP 2 <div class="bar"></div>
                    </div>
                    <div>STEP 3 <div class="bar"></div>
                    </div>
                </div> -->

            </div>


            <div class="ds_cont">

                <div class="area_cont">

                    <div class="box">

                        <div class="create_box">

                            <div class="create_top">

                                <div class="top_ipbox" id="mcisInfobox">
                                    <div class="ipbox ipbox1">
                                        <ul>
                                            <li>
                                                <label>Name</label>
                                                <input type="text" name="mcis_name" value="" id="mcis_name"
                                                    placeholder="Input Name" class="pline ip_1" title=""
                                                    onkeyup="mcpjs['mcismng/mciscreate'].setMcisValue(this.id, this.value)" />
                                            </li>
                                            <li>
                                                <label>Description</label>
                                                <textarea cols="" rows="" id="mcis_desc"
                                                    placeholder="type Description" name="mcis_desc"
                                                    class="pline ta_1" title=""
                                                    onkeyup="mcpjs['mcismng/mciscreate'].setMcisValue(this.id, this.value)"></textarea>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ipbox ipbox2">
                                        <ul>
                                            <li>
                                                <label>Deployment Algorithm</label>
                                                <select class="selectbox white pline sel_1" name="placement_algo"
                                                    id="placement_algo" onchange="mcpjs['mcismng/mciscreate'].closeNewServerForm()">
                                                    <!-- <option value="">Select Algorithm Name / (ID)</option> -->
                                                    <option value="express" selected>Express</option>
                                                    <option value="simple">Simple</option>
                                                    <option value="expert">Expert</option>
                                                </select>
                                            </li>
                                            <li>
                                                <div class="btnbox">
                                                    <div class="btn_right">
                                                        <label>MCIS Import</label>
                                                        &nbsp;
                                                        <button name="" type="button" value=""
                                                            class="btn_co btn_cr_g w95 btn_apply"
                                                            onclick="mcpjs['mcismng/vmconfigureimport'].displayMcisImportServerFormByImport(true);"><span>Import</span></button>
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </div>

                                <!-- servers -->
                                <div class="servers_box" id="addVmList">
                                    <div class="title">Servers</div>
                                   

                                    <div class="list">
                                        <ul id="mcis_server_list">

                                            <li id="plusVmIcon">
                                                <div class="server server_add">
                                                    <!-- <a href="#">+</a> -->

                                                </div>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <!-- //servers -->

                                <!-- import scripts-->
                                <div class="servers_box" id="addMcisByScript" style="display:none;">
                                    <div class="title">Import MCIS by Script
                                   
                                    </div>

                                   
                                    <div>
                                        <p>&nbsp;</p><br>
                                        <p>&nbsp;</p>
                                        <input type="hidden" name="mcisImportScript" id="mcisImportScript" />

                                        <div class="svc_ipbox">
                                            <div class="ipbox ipbox3">
                                                <textarea style="width:100%; font-size: 25px;" rows="50"
                                                    placeholder="Display imported MCIS Script" class="pline ta_1"
                                                    id="mcisImportScriptPretty"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- import scripts-->

                                <div class="btnbox">
                                    <div class="btn_right">
                                        <button name="" type="button" value="" class="btn_co btn_cr_g w95 btn_apply"
                                            onclick="mcpjs['mcismng/mciscreate'].deployMcis();"><span>DEPLOY</span></button>
                                        <button name="" type="button" value="" class="btn_clear btn_co btn_cr_b"
                                            id="addMcisCancel" style="display: none;"
                                            onclick="mcpjs['mcismng/vmconfigureimport'].displayMcisImportServerFormByImport(false);">CANCEL</button>
                                    </div>
                                </div>

                                <%= partial("operations/mcismng/deploy_express.html") %>
                                <%= partial("operations/mcismng/deploy_simple.html") %>
                                <%= partial("operations/mcismng/deploy_expert.html") %>
                                <%= partial("operations/mcismng/import.html") %>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- //list -->

</div>
</div>

<!-- TODO : assist 와 modal 이 모두 popup이므로 둘 중 하나만 쓰도록 변경할 것.-->
<%= partial("settings/vmspec/vmspecrecommendassist_modal.html") %><!-- express mode에서 추천 spec modal-->

<%= partial("settings/vmspec/namespacevmspec_modal.html") %><!-- expert mode에서 namespace의 spec modal-->

<%= partial("settings/vmimage/namespacevmimage_modal.html") %>

<%= partial("settings/myimage/namespacemyimage_modal.html") %>
             
<%= partial("settings/datadisk/namespaceavailabledatadisk_modal.html") %>

<%= partial("settings/datadisk/namespacevmattacheddisk_modal.html") %>

<%= partial("settings/vnet/namespacevpc_modal.html") %>

<%= partial("settings/securitygroup/namespacesecuritygroup_modal.html") %>

<%= partial("settings/sshkey/namespacesshkey_modal.html") %>

<%= javascriptTag("mcismng/mciscreate.js") %>
<%= javascriptTag("mcismng/vmassist_modal.js") %><!-- expert mode에서 팝업관련 function모음인 것 같은데... 필요 없을 것 같은데... 사용하지 않으면 제거-->
<%= javascriptTag("ui/mcis.map.js") %>

