<div class="contbox">
    <input type="hidden" name="mcis_id" value="<%= mcis_id %>" id="mcis_id" />
    <input type="hidden" name="installMonAgent" value="yes" id="installMonAgent" />

    <div class="titlebox">
        <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="" />Manage / <strong>MCIS</strong></div>
        <div class="location">Home <span>></span> Operation <span>></span> Manage <span>></span>
            <strong>MCIS</strong>
        </div>
    </div>


    <!-- list -->
    <div class="dashboard dashboard_cont">

        <div class="d_box box_m box_w100">
            <div class="titbox line_none">
                <div class="tit initial"><strong>Extend VM</strong></div>

                <div class="step_box">
                    <div class="on">STEP 1 <div class="bar"></div>
                    </div>
                    <div>STEP 2 <div class="bar"></div>
                    </div>
                    <div>STEP 3 <div class="bar"></div>
                    </div>
                </div>

            </div>


            <div class="ds_cont">

                <div class="area_cont">

                    <div class="box">

                        <div class="create_box">

                            <div class="create_top">

                                <div class="top_ipbox">
                                    <div class="ipbox ipbox1">
                                        <ul>
                                            <li>
                                                <label>Name</label>
                                                <input type="text" name="mcis_name" value="<%= mcis_name %>"
                                                    id="mcis_name" placeholder="Input Name" class="pline ip_1"
                                                    title="" readonly />
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ipbox ipbox2">
                                        <ul>
                                            <li>
                                                <label>Deployment Algorithm</label>
                                                <select class="selectbox white pline sel_1" name="placement_algo"
                                                    id="placement_algo" onchange="mcpjs['mcismng/mcisvmcreate'].closeNewServerForm()">
                                                    <!-- <option value="">Select Algorithm Name / (ID)</option> -->
                                                    <option value="express" selected>Express</option>
                                                    <option value="simple">Simple</option>
                                                    <option value="expert">Expert</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- servers -->
                                <div class="servers_box">
                                    <div class="title">Servers</div>

                                    <div class="list">
                                        <ul id="mcis_server_list">
                                            <li id="plusVmIcon">
                                                <div class="server server_add">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- //servers -->

                                <div>
                                    <span class="text-center" id="serverRegistResult">&nbsp;</span>
                                </div>

                                <div class="btnbox">
                                    <div class="btn_right">
                                        <button name="" type="button" value="" class="btn_co btn_cr_g w95 btn_apply btn_deploy"><span>DEPLOY</span></button>
                                    </div>
                                </div>

                                <%= partial("operations/mcismng/deploy_express.html") %>
                                <%= partial("operations/mcismng/deploy_simple.html") %>
                                <%= partial("operations/mcismng/deploy_expert.html") %>
                                <%= partial("operations/mcismng/import.html") %>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- //list -->

</div>
</div>
<!-- //contents -->
<%= partial("operations/mcismng/modal.html") %>

<!-- TODO : assist 와 modal 이 모두 popup이므로 둘 중 하나만 쓰도록 변경할 것.-->
<%= partial("settings/vmspec/vmspecrecommendassist_modal.html") %><!-- express mode에서 추천 spec modal-->
<%= partial("settings/vmspec/namespacevmspec_modal.html") %><!-- expert mode에서 namespace의 spec modal-->
<%= partial("settings/vmimage/namespacevmimage_modal.html") %>
<%= partial("settings/myimage/namespacemyimage_modal.html") %>
<%= partial("settings/vnet/namespacevpc_modal.html") %>
<%= partial("settings/securitygroup/namespacesecuritygroup_modal.html") %>
<%= partial("settings/sshkey/namespacesshkey_modal.html") %>
<%= partial("settings/datadisk/namespaceavailabledatadisk_modal.html") %>

<%= javascriptTag("mcismng/vmassist_modal.js") %>
<%= javascriptTag("ui/mcis.map.js") %>
<%= javascriptTag("mcismng/mcisvmcreate.js") %>
