{{ template "OperationTop" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}
		
	</div>
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Migration / <strong>Source Model</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Migration  <span>></span>  <strong>Source Model</strong></div>
					</div>
					
					<!-- list -->
					{{template "SourceModelList" .}}
					<!-- //list -->
					
					<!-- Info -->
					{{template "SourceModelInfo" .}}
					<!-- //Info -->
				
					
				</div>
				<!-- //contents -->

<script type="text/javascript" src="/assets/js/operation/migrations/sourcemodelmng/sourcemodelmng.js"></script>
{{template "Footer" .}}