<div class="dashboard dashboard_cont detail_box" id="menu-InfoBox">

    <div class="d_box box_m box_w100">

        <div class="titbox_n">
            <div class="tit initial"><strong>Category Info</strong> [ <span class="stxt" id="dtl-stxt"></span>
                ] </div>
        </div>

        <div class="ds_cont">

            <div class="register_box">

                <div class="top_ipbox">

                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Id</label>
                                <input type="text" id="dtl-id" name="dtl-id" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Name</label>
                                <input type="text" id="dtl-name" name="dtl-name" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Description</label>
                                <input type="text" id="dtl-description" name="dtl-description" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Sort</label>
                                <input type="text" id="dtl-sort" name="dtl-sort" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                        </ul>
                    </div>

                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Category Id</label>
                                <input type="text" id="dtl-category_id" name="dtl-category_id" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Created At</label>
                                <input type="text" id="dtl-created_at" name="dtl-created_at" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Updated At</label>
                                <input type="text" id="dtl-updated_at" name="dtl-updated_at" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Alias</label>
                                <input type="text" id="dtl-alias" name="dtl-alias" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Visible</label>
                                <input type="text" id="dtl-visible" name="dtl-visible" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
