<div class="dashboard dashboard_cont detail_box" id="menu-EditBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Category Edit</strong> [ <span class="stxt" id="edit-stxt"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">

                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Id</label>
                                <input type="text" id="edit-id" name="edit-id" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Name</label>
                                <input type="text" id="edit-name" name="edit-name" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Description</label>
                                <input type="text" id="edit-description" name="edit-description" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Sort</label>
                                <input type="text" id="edit-sort" name="edit-sort" value="" placeholder=""
                                        class="" title="" />
                            </li>
                        </ul>
                    </div>

                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Category Id</label>
                                <input type="text" id="edit-category_id" name="edit-category_id" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Created At</label>
                                <input type="text" id="edit-created_at" name="edit-created_at" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Updated At</label>
                                <input type="text" id="edit-updated_at" name="edit-updated_at" value="" placeholder=""
                                        class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Alias</label>
                                <input type="text" id="edit-alias" name="edit-alias" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Visible</label>
                                <input type="checkbox" id="edit-visible" name="create-visible"
                                            />
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                        onclick="mcpjs['adminconfig/menumng'].editMenu()">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
