<div class="dashboard dashboard_cont">

    <input type="hidden" id="sampleMode" value=""/>

	<div class="d_box box_m box_w100">

		<div class="titbox">

			<div class="top_info">

				<div>

					<select name="MenuListTable_field" id="MenuListTable_field">

						<option value="id" selected>id</option>
						<option value="name" selected>name</option>
						<option value="description" selected>description</option>
						<option value="sort" selected>sort</option>
						<option value="category_id" selected>category_id</option>
						<option value="visible" selected>visible</option>

					</select>

					<input type="text" name="filter_keyword" value="" id="filter_keyword" placeholder="Please Input Keyword"
					onkeyup="mcpjs['util/util'].setTableFilter('MenuListTable',this.value)" />

				</div>

				<ul>

					<li>
						<a href="javascript:void(0);">Column</a>

						<div class="infobox">

							<div class="box">

								<ul>

									<li>
										<label class="display-column" data-column="id">id
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="name">name
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="description">description
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="sort">sort
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="category_id">category_id
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>[o-]
										<label class="display-column" data-column="created_at">created_at
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility_off</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="updated_at">updated_at
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility_off</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="alias">alias
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility_off</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="visible">visible
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>


								</ul>

							</div>

						</div>

					</li>

					<li>

						<a href="javascript:void(0);">Action</a>

						<div class="infobox">

							<div class="box">

								<ul>
									<li><a href="javascript:void(0);" onclick="mcpjs['util/common'].displayStateChange('menu', 'REG')">Add</a>
                                    </li>

									<li><a href="javascript:void(0);" onclick="mcpjs['adminconfig/menumng'].showMenuEditForm()">Edit</a>
                                    </li>

                                    <li><a href="javascript:void(0);" onclick="mcpjs['adminconfig/menumng'].deleteMenu()">Delete</a></li>
									<li class="divider"></li>

									<li>
										<strong>Export</strong>
										<ul>
											<li><a href="javascript:void(0);" onclick="">Total List (CSV)</a>
											</li>
										</ul>
									</li>
								</ul>

							</div>

						</div>

					</li>

					<li>
						<a href="javascript:void(0);"><span class="material-icons md-20">help</span></a>
					</li>

				</ul>

			</div>

		</div>

		<div class="ds_cont">

			<div id="MenuListTable"></div>

		</div>

	</div>

</div>