
{{ template "OperationTop" .}}
<!-- 
// workflow 관리화면
// workflow 목록 table
// workflow 상세 : viewer
//      task viewer 
-->
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}
		
	</div>
	
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Migration / <strong>Infra</strong></div>
						<div class="location">Home  <span>></span>  Migration  <span>></span> <strong>Infra</strong></div>
					</div>
					
					<!-- list -->
					{{template "LegacySourceConnectionList" .}}
					<!-- list -->
					
					<!-- Info -->
					{{template "LegacySourceConnectionInfo" .}}
					<!-- Info -->

					<!-- Create -->
					{{template "LegacySourceConnectionCreate" .}}
					<!-- Create -->
					
				</div>
				<!-- //contents -->

<script type="text/javascript" src="/assets/js/migration/legacy/legacyconnectionmng.js"></script>

{{template "Footer" .}}

