<div class="dashboard dashboard_cont register_cont" id="dataDiskCreateBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial cg"><strong>Create Disk</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box reg">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label><span class="ch">*</span>Disk Name</label>
                                <span class="sbox">
                                    <input type="text" id="regDataDiskName" name="reg_dataDiskName" value=""
                                        placeholder="Input Disk Name" class="pline" title="" />
                                </span>
                            </li>
                            <li>
                                <label><span class="ch">*</span>Disk Type</label>
                                <span class="sbox">
                                    <select class="selectbox white pline w3" id="regDataDiskType"
                                        name="reg_dataDiskType">
                                        <option selected>Select Disk Type</option>
                                    </select>
                                </span>
                            </li>
                            <li>
                                <label><span class="ch">*</span>Disk Size(GB)</label>
                                <span class="sbox">
                                    <input type="text" id="regDataDiskSize" name="reg_dataDiskSize" value=""
                                        placeholder="Input Disk Size" class="pline" title="" />
                                </span>
                            </li>
                            <li>
                                <label>Description</label>
                                <span class="sbox">
                                    <textarea id="regDescription" name="reg_description" cols="" rows=""
                                        placeholder="Description" class="pline" title=""></textarea>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Cloud Provider</label>
                                <select class="selectbox white pline w3" id="regProviderName" name="reg_provideName"
                                    onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'regRegionName'), mcpjs['util/util'].diskTypeListByProviderForSelectBox(this.value, 'datadisk', 'regDataDiskType')">
                                    <option value='' selected>Select Cloud Provider</option>
                                <%= for (provider) in cloud_os_list {%>
                                    <option value="<%= provider %>"><%= provider %></option>
                                <% } %>
                                </select>                               
                            </li>
                            <li>
                                <label><span class="ch">*</span>Region</label>
                                <select class="selectbox white pline w3" id="regRegionName"
                                    name="reg_regionName">
                                    <option selected>Select Region</option>
                                </select>
                            </li>
                            <!--
                            <li>
                                <label><span class="ch">*</span>Connection</label>
                                <select class="selectbox white pline w3" id="regConnectionName"
                                    name="reg_connectionName">
                                    <option selected>Select ConnectionName</option>
                                </select>
                            </li>                            
                            -->
                        </ul>
                    </div>
                </div>

                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
                            onclick="mcpjs['datadisk/datadiskmng'].displayDataDiskInfo('CLOSE')">Cancel</button>
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                            onclick="mcpjs['datadisk/datadiskmng'].createDataDisk()">Ok</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>