<div class="dashboard dashboard_cont detail_box" id="dataDiskInfoBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Disk Info</strong> [ <span class="stxt" id="dataDiskName"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label>Disk Name</label>
                                <span class="sbox">
                                    <input type="text" id="dtlDiskName" name="dtlDiskName" value=""
                                        placeholder="" class="gray" title="" readonly />
                                    <input type="hidden" id="dtlDiskId" name="dtlDiskId" value=""
                                        placeholder="" />
                                </span>
                            </li>
                            <li>
                                <label>Disk Type</label>
                                <span class="sbox">
                                    <input type="text" id="dtlDiskType" name="dtlDiskType" value=""
                                        placeholder="" class="gray" title="" readonly />
                                </span>
                            </li>
                            <li>
                                <label>Disk Size(GB)</label>
                                <span class="sbox">
                                    <input type="text" id="dtlPreDiskSize" name="dtlDiskSize" value=""
                                        placeholder="" class="gray" title="" readonly />
                                </span>
                            </li>                            
                            <li>
                                <label>Associated Object</label>
                                <span class="sbox">
                                    <input type="text" id="dtlAssoObj" name="dtlAssoObj" value="" placeholder=""
                                        class="gray" title="" readonly />

                                </span>
                            </li>
                            <li>
                                <label>Description</label>
                                <span class="sbox">
                                    <textarea id="dtlDescription" name="dtlDescription" cols="" rows=""
                                        placeholder="" class="" title="" readonly></textarea>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Cloud Provider</label>
                                <input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Cloud Provider</label>
                                <input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder=""
                                    class="gray" title="" readonly />

                            </li>                           
                            <li>
                                <label>Region Name</label>
                                <input type="text" id="dtlRegionName" name="dtlRegionName" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>
                            <!--
                            <li>
                                <label>Connection Name</label>
                                <input type="text" id="dtlConnectionName" name="dtlConnectionName" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>
                            -->                           
                        </ul>
                    </div>
                </div>                

            </div>
        </div>

    </div>

</div>