<div class="dashboard dashboard_cont">
    <input type="hidden" id="dataDiskMode" value=""/>
    <div class="d_box box_m box_w100">
        <div class="titbox">
            <div class="tit initial"><strong>Disk</strong></div>
            <div class="top_info">
                <ul>
                    <li>
                        <a href="javascript:void(0);">Filter</a>
                        <div class="infobox">
                            <div class="box">
                                <ul>
                                    <li><a href="javascript:void(0);"
                                            onclick="mcpjs['util/util'].commonPromptOpen('RsFltVPCName', 'dataDiskListTable')">Disk
                                            Name</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="mcpjs['util/util'].commonPromptOpen('RsFltCIDRBlock', 'dataDiskListTable')">Disk
                                            Type</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="mcpjs['util/util'].commonPromptOpen('RsFltCIDRBlock', 'dataDiskListTable')">Disk
                                            Size</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal"
                                            data-target="#RegistBox" onClick="mcpjs['datadisk/datadiskmng'].getDataDiskList()">Clear</a></li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Sort</a>
                        <div class="infobox">
                            <div class="box">
                                <ul>
                                    <li><a href="javascript:void(0);"
                                            onclick="tableSort('dataDiskListTable', 'Disk Name')">Disk Name</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="tableSort('dataDiskListTable', 'Disk Type')">Disk Type</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="tableSort('dataDiskListTable', 'Disk Size')">Disk Size</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Action</a>
                        <div class="infobox">
                            <div class="box">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal"
                                            data-target="#RegistBox"
                                            onClick="mcpjs['datadisk/datadiskmng'].displayDataDiskInfo('REG')">Add</a></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal"
                                            data-target="#RegistBox"
                                            onClick="mcpjs['datadisk/datadiskmng'].displayDataDiskInfo('Attach')">Attach</a></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal"
                                            data-target="#RegistBox"
                                            onClick="mcpjs['datadisk/datadiskmng'].runDetachDataDisk('detach')">Detach</a></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal"
                                            data-target="#UnRegist"
                                            onClick="mcpjs['util/util'].commonConfirmOpen('DeleteDataDisk')">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:void(0);"><img src="/assets/images/common/icon_question.png"
                                alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ds_cont">
            <div id="dataDiskList"></div>
        </div>
        <!-- <div class="ds_cont">

            <div class="dataTable status_list" id="dataDiskListTable">
                <table cellpadding="0" cellspacing="0" border="1" summary="" id="dataDiskListTable">

                    <thead>
                        <tr>
                            <th class="column-50px"><input type="checkbox" name="chk" value="" id="th_chall"
                                    title="" /><label for="th_chall"></label></th>
                            <th>Disk Name</th>
                            <th>Disk Type</th>
                            <th>Disk Size</th>
                            <th>Associated Object</th>
                            <th>Connection Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody id="dataDiskList">
                    </tbody>
                </table>
            </div>

        </div> -->

    </div>

</div>