<div class="register_box modal fade" id="vmDiskSelectBox" tabindex="-1" role="dialog" aria-hidden="true">
	<!-- Assist Popup에서 table의 항목을 클릭했을 때 index를 저장. apply 클릭 시 해당 index의 값을 main으로 set 하기 위한 용도 -->
	<input type="hidden" id="parentsVmDiskAssist">

	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="pop-body">

					<div class="title_box">
						<div class="title">VM List</div>
					</div>

					<div class="pop-cont">

						<div class="toptxt">
							<label>Selected Disk : </label>
							<input type="text" id="selected_disk" name="" value="" placeholder="" class="gray"
								title="" readonly />
							<input type="hidden" id="selected_disk_id" name="" value="" placeholder=""
								class="gray" title="" readonly />
							<input type="hidden" id="selected_connectionName" />
							<input type="hidden" id="attach_mcis_id" value="" />
							<input type="hidden" id="attach_vm_id" value="" />
						</div>

						<div id="vmList"></div>
						<!-- table scrollbar -->
						<!-- <div class="dtbox scrollbar-inner">
							<div class="dataTable dt_overlay">
								<table cellpadding="0" cellspacing="0" border="1" summary="">
									<thead>
										<tr>
											<th class="column-50px">									
											</th>
											<th>MCIS Name</th>
											<th>VM Name</th>
											<th>Connection Name</th>
										</tr>
									</thead>
									<tbody id="vmList">

									</tbody>
								</table>
							</div>
						</div> -->
						<!-- //table scrollbar -->

						<div class="b_txt"><span class="ch">*</span> Select the VM to be attached to DISK by
							clicking <span class="txt"> “Attach”</span></div>
					</div>

				</div>

				<div class="btnbox">
					<div class="btn_right">
						<button name="" value="" class="btn_apply btn_co btn_cr_g"><span>Attach</span></button>
						<button name="" value="" class="btn_cancel btn_co btn_cr_b"
							data-dismiss="modal">cancel</button>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>

<%= javascriptTag("datadisk/vmdiskassist_modal.js") %>