<div class="dashboard dashboard_cont detail_box" id="monitoringAlertPolicyInfoBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Threshold Info</strong> [ <span class="stxt"
                    id="thresholdName"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1 ipbox2">
                        <ul>
                            <li>
                                <label>Name</label>
                                <input type="text" id="dtlMonitoringAlertName" name="dtlMonitoringAlertName"
                                    value="" placeholder="" class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Measurement</label>
                                <input type="text" id="dtlMonitoringAlertMeasure"
                                    name="dtlMonitoringAlertMeasure" value="" placeholder="" class="gray"
                                    title="" readonly />
                            </li>
                            <li>
                                <label>Target Type</label>
                                <input type="text" id="dtlMonitoringAlertTargetType"
                                    name="dtlMonitoringAlertTargetType" value="" placeholder="" class="gray"
                                    title="" readonly />
                            </li>
                            <li>
                                <label>Target ID</label>
                                <input type="text" id="dtlMonitoringAlertTargetID"
                                    name="dtlMonitoringAlertTargetID" value="" placeholder="" class="gray"
                                    title="" readonly />
                            </li>
                            <li>
                                <label>Event Duration</label>
                                <input type="text" id="dtlMonitoringAlertEventDuration"
                                    name="dtlMonitoringAlertEventDuration" value="" placeholder="" class="gray"
                                    title="" readonly />
                            </li>
                            <li>
                                <label>Metric</label>
                                <input type="text" id="dtlMonitoringAlertMetric" name="dtlMonitoringAlertMetric"
                                    value="" placeholder="" class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Alert Math Expression</label>
                                <input type="text" id="dtlMonitoringAlertAlertMathExpression"
                                    name="dtlMonitoringAlertAlertMathExpression" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Alert Threshold</label>
                                <input type="text" id="dtlMonitoringAlertAlertThreshold"
                                    name="dtlregMonitoringAlertAlertThreshold" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Warn Event Count</label>
                                <input type="text" id="dtlMonitoringAlertWarnEventCount"
                                    name="dtlMonitoringAlertWarnEventCount" value="" placeholder="" class="gray"
                                    title="" readonly />
                            </li>
                            <li>
                                <label>Critic Event Count</label>
                                <input type="text" id="dtlMonitoringAlertCriticEventCount"
                                    name="dtlMonitoringAlertCriticEventCount" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Monitoring Alert Event Handler Type</label>
                                <input type="text" id="dtlMonitoringAlertEventHandlerModalType"
                                    name="dtlMonitoringAlertEventHandlerModalType" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Monitoring Alert Event Handler Name</label>
                                <input type="text" id="dtlMonitoringAlertEventHandlerModalName"
                                    name="dtlMonitoringAlertEventHandlerModalName" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Monitoring Alert Event Message</label>
                                <input type="text" id="dtlMonitoringAlertEventMessage"
                                    name="dtlMonitoringAlertEventMessage" value="" placeholder="" class="gray"
                                    title="" readonly />
                            </li>
                        </ul>
                    </div>
                    <!-- alert 발생 이력 표시 -->
                    <div class="ipbox ipbox1 ipbox2">
                        <ul>
                            <li class="reg_2">
                                <label>Monitoring Alert Event</label>
                                <span class="sbox">
                                    <select id="selectMonitoringAlertEvent" class="selectbox2 white pline w_ip1"
                                        required>
                                        <option value="" selected>Select Alert Event Level</option>
                                        <option value="ok">OK</option>
                                        <option value="warning">Warning</option>
                                        <option value="critical">Critical</option>
                                    </select>
                                    <input type="button" name="" class="btn_search2" value="" title=""
                                        onclick="mcpjs['policies/monitoringalertpolicymng'].searchAlertEventLog('selectMonitoringAlertEvent')" />
                                </span>
                            </li>
                            <li class="reg_2">
                                <textarea cols="" rows="" placeholder="Monitoring Alert Event List Area"
                                    id="mAlertEventList" title="" class="gray" title="" readonly></textarea>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>