<div class="dashboard dashboard_cont edit_box" id="monitoringAlertPolicyEditBox">
    
    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Threshold Info</strong> [ <span class="stxt"
                    id="edtThresholdName"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1 ipbox2">
                        <ul>                            
                            <li>
                                <label>Measurement</label>
                                <input type="text" id="edtMonitoringAlertMeasure"
                                    name="edtMonitoringAlertMeasure" value="" placeholder="" class="gray"
                                    title="" />
                            </li>
                            <li>
                                <label>Target Type</label>
                                <input type="text" id="edtMonitoringAlertTargetType"
                                    name="edtMonitoringAlertTargetType" value="" placeholder="" class="gray"
                                    title="" />
                            </li>
                            <li>
                                <label>Target ID</label>
                                <input type="text" id="edtMonitoringAlertTargetID"
                                    name="edtMonitoringAlertTargetID" value="" placeholder="" class="gray"
                                    title="" />
                            </li>
                            <li>
                                <label>Event Duration</label>
                                <input type="text" id="edtMonitoringAlertEventDuration"
                                    name="edtMonitoringAlertEventDuration" value="" placeholder="" class="gray"
                                    title="" />
                            </li>
                            <li>
                                <label>Metric</label>
                                <input type="text" id="edtMonitoringAlertMetric" name="edtMonitoringAlertMetric"
                                    value="" placeholder="" class="gray" title="" />
                            </li>
                            <li>
                                <label>Alert Math Expression</label>
                                <input type="text" id="edtMonitoringAlertAlertMathExpression"
                                    name="edtMonitoringAlertAlertMathExpression" value="" placeholder=""
                                    class="gray" title="" />
                            </li>
                            <li>
                                <label>Alert Threshold</label>
                                <input type="text" id="edtMonitoringAlertAlertThreshold"
                                    name="edtregMonitoringAlertAlertThreshold" value="" placeholder=""
                                    class="gray" title="" />
                            </li>
                            <li>
                                <label>Warn Event Count</label>
                                <input type="text" id="edtMonitoringAlertWarnEventCount"
                                    name="edtMonitoringAlertWarnEventCount" value="" placeholder="" class="gray"
                                    title="" />
                            </li>
                            <li>
                                <label>Critic Event Count</label>
                                <input type="text" id="edtMonitoringAlertCriticEventCount"
                                    name="edtMonitoringAlertCriticEventCount" value="" placeholder=""
                                    class="gray" title="" />
                            </li>
                            <li>
                                <label>Monitoring Alert Event Handler Type</label>
                                <input type="text" id="edtMonitoringAlertEventHandlerModalType"
                                    name="edtMonitoringAlertEventHandlerModalType" value="" placeholder=""
                                    class="gray" title="" />
                            </li>
                            <li>
                                <label>Monitoring Alert Event Handler Name</label>
                                <input type="text" id="edtMonitoringAlertEventHandlerModalName"
                                    name="edtMonitoringAlertEventHandlerModalName" value="" placeholder=""
                                    class="gray" title="" />
                            </li>
                            <li>
                                <label>Monitoring Alert Event Message</label>
                                <input type="text" id="edtMonitoringAlertEventMessage"
                                    name="edtMonitoringAlertEventMessage" value="" placeholder="" class="gray"
                                    title="" />
                            </li>
                        </ul>
                    </div>                    
                </div>

            </div>
        </div>

    </div>

</div>