<!-- <div class="modal fade register_add" id="Add_MonitoringAlertEventHandler_Register" tabindex="-1" role="dialog" aria-hidden="true">
						
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="pop-body">
                    
                    <div class="title_box">
                        <div class="title">Add Monitoring Alert Event-Handler</div>
                    </div>
                    
                    <div class="pop-cont">
                        
                        <div class="pop_ipbox">
                            <ul>
                                <li class="p_ip1">
                                    <label><span class="ch">*</span>Type</label>
                                    <select id="regMonitoringAlertEventHandlerModalType" class="selectbox white pline w_ip1" required>
                                        <option value="slack">slack</option>															
                                    </select>        
                                </li>
                                <li class="p_ip1">
                                    <label><span class="ch">*</span>Name</label>
                                    <input type="text" id="regMonitoringAlertEventHandlerModalName" name="" value="" placeholder="input Event-Handler Name" class="pline w_ip1" title="" />
                                </li>
                                <li class="p_ip1">
                                    <label><span class="ch">*</span>URL</label>
                                    <input type="text" id="regMonitoringAlertEventHandlerModalUrl" name="" value="" placeholder="input Event-Handler URL" class="pline w_ip1" title="" />
                                </li>
                                <li class="p_ip1">
                                    <label><span class="ch">*</span>Channel</label>
                                    <input type="text" id="regMonitoringAlertEventHandlerModalChannel" name="" value="" placeholder="input Event-Handler Channel" class="pline w_ip1" title="" />
                                </li>
                            </ul>
                        </div>
    
                    </div>
                    
                </div>
                
                <div class="btnbox">
                    <div class="btn_right">
                        <button name="" value="" class="btn_co btn_cr_g" onclick="saveNewMonitoringAlertEventHandler()"><span>OK</span></button> 
                        <button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>                  
</div> -->
