<div class="titlebox">
    <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="" />Policy / <strong>Threshold</strong>
    </div>
    <div class="location">Home <span>></span> Operation <span>></span> Policy <span>></span>
        <strong>Threshold</strong>
    </div>
</div>

<%= partial("operations/monitoringalertpolicy/list.html") %>
<%= partial("operations/monitoringalertpolicy/create.html") %>
<%= partial("operations/monitoringalertpolicy/detail.html") %>
<%= partial("operations/monitoringalertpolicy/edit.html") %>
<%= partial("operations/monitoringalertpolicy/monitoringalerteventhandler_modal.html") %>

<%= javascriptTag("policies/monitoringalertpolicymng.js") %>