<div class="dashboard dashboard_cont register_cont" id="virtualMachineImageCreateBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial cg"><strong>Register Server Image</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_2">
                                <label><span class="ch">*</span>Image Name</label>
                                <input type="text" id="regImageName" name="reg_imageName" value=""
                                    placeholder="Input Image Name" class="pline" title="" />
                            </li>
                            <li class="reg_2">
                                <label><span class="ch">*</span>CSP Image ID</label>
                                <input type="text" id="regCspImgId" name="reg_cspImgId" value=""
                                    placeholder="Input CSP Image Id" class="pline ip_w1" title="" />
                                <a href="javascript:void(0);" class="btn_assist">Assist</a>
                            </li>
                            <li class="reg_2">
                                <label>CSP Image Name</label>
                                <span class="sbox">
                                    <input type="text" id="regCspImgName" name="reg_cspImgName" value=""
                                        placeholder="Input CSP Image Name" class="pline" title="" />
                                </span>
                            </li>
                            <li class="reg_2">
                                <label>guestOS</label>
                                <input type="text" id="regGuestOS" name="reg_guestOS" value=""
                                    placeholder="Input GuestOS" class="pline" title="" />
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li class="reg_1">
                                <label>Cloud Provider</label>
                                <select class="selectbox white pline w3" name="ProviderName"
                                    id="regProviderName"
                                    onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'regRegionName')">
                                    <option value='' selected>Select Cloud Provider</option>
                                    <%= for (provider) in cloud_os_list {%>
                                        <option value="<%= provider %>"><%= provider %></option>
                                    <% } %>
                                </select>

                            </li>
                            <li class="reg_1">
                                <label><span class="ch">*</span>Region</label>
                                <select class="selectbox white pline w3" id="regRegionName"
                                name="reg_regionName">
                                <option value="">Select Region</option>
                                </select>
                            </li>
                            <!-- <li class="reg_1">
                                <label><span class="ch">*</span>Connection Name</label>
                                <select class="selectbox white pline w3" name="reg_connectionName"
                                    id="regConnectionName" onchange="clearCspImageInfo()">
                                    <option value="" selected>Select Connection</option>
                                </select>
                            </li> -->
                            <li>
                                <label>Description</label>
                                <textarea id="regDescription" name="reg_description" cols="" rows=""
                                    placeholder="Description" class="pline" title=""></textarea>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
                            onclick="mcpjs['vmimage/vmimagemng'].displayVirtualMachineImageInfo('CLOSE')">Cancel</button>
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                            onclick="mcpjs['vmimage/vmimagemng'].createVirtualMachineImage()">OK</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>