<div class="dashboard dashboard_cont edit_box" id="virtualMachineImageEditBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Image Info</strong> [<span class="stxt"></span>]</div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label>Image Name</label>
                                <span class="sbox">
                                    <input type="text" id="dtlImageName" name="dtlImageName" value=""
                                        placeholder="" class="pline" title="" readonly />
                                    <!--<a href="javascript:void(0);"><img src="/assets/images/contents/icon_copy.png" class="icon" alt=""/></a>-->
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label>Cloud Provider</label>
                                <input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder=""
                                    class="gray" title="" readonly />
                                <!--
                                            <select class="selectbox w1">
                                                <option value="1">Select Provider</option>
                                            </select>
                                            <select class="selectbox w2">
                                                <option value="1">Select Region</option>
                                            </select>
                                            -->
                            </li>
                            <li class="reg_1">
                                <label>Connection</label>
                                <input type="text" id="dtlConnectionName" name="dtlConnectionName" value=""
                                    placeholder="" class="gray" title="" readonly />
                                <a href="javascript:void(0);" class="btn_assist" id="assistVmImage">Assist</a>
                                <!--
                                            <select class="selectbox w3">
                                                <option value="1">Select ConnectionName</option>
                                            </select>
                                            -->
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="graybox">

                    <div class="g_box">
                        <div class="g_ipbox g_ipbox1">
                            <ul>
                                <li>
                                    <label>Image Id</label>
                                    <span class="sbox">
                                        <input type="text" id="dtlImageId" name="" value="" placeholder=""
                                            class="gray" title="" readonly />
                                        <!--<a href="javascript:void(0);"><img src="/assets/images/contents/icon_copy.png" class="icon" alt=""/></a>-->
                                    </span>
                                </li>
                                <li>
                                    <label>guestOS</label>
                                    <input type="text" id="dtlGuestOS" name="dtlGuestOS" value="" placeholder=""
                                        class="gray" title="" readonly />
                                </li>
                            </ul>
                        </div>

                        <div class="g_ipbox g_ipbox1">
                            <ul>
                                <li>
                                    <label>Description</label>
                                    <textarea id="dtlDescription" name="dtlDescription" cols="" rows=""
                                        placeholder="" class="pline" title="" readonly></textarea>
                                </li>
                            </ul>
                        </div>
                        <!--
                                    <div class="g_ipbox g_ipbox1 g_ipbox3">
                                        <ul>
                                            <li>
                                                <label>guestOS</label>
                                                <input type="text" name="" value="" placeholder="guestOS" class="gray" title="" readonly />
                                            </li>
                                            <li>
                                                <label>status</label>
                                                <input type="text" name="" value="" placeholder="status" class="gray" title="" readonly />
                                            </li>
                                        </ul>
                                    </div>
                                    -->
                        <!--
                                    <div class="g_ipbox g_ipbox2 g_ipbox4">
                                        <ul>
                                            <li>
                                                <label>creationDate</label>
                                                <input type="text" name="" value="" placeholder="vNetId" class="gray" title="" readonly />
                                            </li>
                                            <li>
                                                <label>keyvalues</label>
                                                <textarea  cols="" rows="" placeholder="display Json Context" class="gray" title="" readonly ></textarea>
                                                <span class="reg_stxt right_a"><a href="#">Import JSON</a></span>
                                            </li>
                                        </ul>
                                        <span class="b_txt">Help ) Provider 별 Custom 필수 항목 값이 정의 될 수도 있음.</span>
                                    </div>
                                    -->
                    </div>

                </div>

                <div class="top_ipbox bottom_ipbox padd_Box_1">
                    <div class="ipbox ipbox1 ipbox5">
                        <ul>
                            <li class="reg_1">
                                <label>CSP Image Name</label>
                                <input type="text" id="dtlCspImageName" name="dtlCspImageName" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2 ipbox6">
                        <ul>
                            <li class="reg_2">
                                <label>CSP Image ID</label>
                                <input type="text" id="dtlCspImageId" name="dtlCspImageId" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>