<!-- popup 뜰 때 parent의 provider set : ani = Assist Namespace (VM)Image-->
<div class="modal fade popup_editBox" id="namespaceVmImageAssist" tabindex="-1" role="dialog" aria-hidden="true">
	<input type="hidden" id="parentsNamespaceVmImageAssist">
	<input type="hidden" id="parentsNamespaceVmImageConnectionName">
	<input type="hidden" id="selectedIndexNamespaceVmImageAssist">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="pop-body">

					<div class="title_box">
						<div class="title">Image List of Namespace</div>
					</div>

					<div class="pop-cont">
						<div class="image_box">
							<div class="toptxt search">
								<label>Search</label>
								<ul>
									<li class="reg_1">
										<label class="assistLabel">Cloud Provider</label>
										<select class="selectbox white pline w3" name="assist_namespaceVmImage_providerId"
											id="ani_providerId"
                                            onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'ani_regionName');">
											<option value="" selected>Select Cloud Provider</option>
											<%= for (provider) in cloud_os_list {%>
                                                <option value="<%= provider %>"><%= provider %></option>
                                            <% } %>
										</select>
									</li>
                                    <li class="reg_1">
										<label class="assistLabel"></span>Region</label>
										<select class="selectbox white pline w3" name="assist_namespaceVmImage_regionName"
											id="ani_regionName">
											<option value="" selected>Select Region</option>
										</select>
									</li>
                                    <!--
									<li class="reg_1">
										<label class="assistLabel"></span>Connection Name</label>
										<select class="selectbox white pline w3" name="assistImageConnectionName"
											id="assistImageConnectionName">
											<option value="" selected>Select Connection</option>
										</select>
									</li>
                                    -->
								</ul>
							</div>
							<div>
								<input type="text" id="keywordAssistImage" placeholder="Input Keyword"
									class="pline image"
									/>
								<input type="button" name="" class="btn_search_image" title="" value=""
									/>
							</div>
							<div class="keyword_box" id="searchAssistImageKeywords">
								<input type="submit" name="" class="btn_del_all" title="" value="필터 지우기"
									onclick="delAllKeyword()" />
							</div>
						</div>

						



						<!-- <div class="top_info">
							<div class="toptxt">
								<label>Image List : <span id="namespaceVmImageCount"></span></label>
							</div>
							<ul>
								<li>
									<a href="javascript:void(0);">Filter</a>
									<div class="infobox">
										<div class="box">
											<ul>
												<li><a href="javascript:void(0);"
														onclick="mcpjs['util/util'].commonPromptOpen('RsFltSrvImgId', 'serverImageList')">Image
														ID</a></li>
												<li><a href="javascript:void(0);"
														onclick="mcpjs['util/util'].commonPromptOpen('RsFltSrvImgName', 'serverImageList')">Image
														Name</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<a href="javascript:void(0);">Sort</a>
									<div class="infobox">
										<div class="box">
											<ul>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'Name')">Name</a></li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'Status')">Status</a>
												</li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'GuestOS')">GuestOS</a>
												</li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'IID nameId')">IID
														nameId</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li><a href="javascript:void(0);"><img src="/assets/images/common/icon_question.png"
											alt="" /></a>
								</li>
							</ul>
						</div> -->


						<!-- table scrollbar -->
						<div id="assistNamespaceVmImageList"></div>
						<!-- //table scrollbar -->

					</div>

				</div>

				<div class="btnbox">
					<div class="btn_right">
						<button name="" value="" class="btn_apply btn_co btn_cr_g" data-dismiss="modal"><span>Apply</span></button>
						<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">cancel</button>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
<!-- Namespace Image Assist popup -->
<%= javascriptTag("vmimage/namespacevmimage_modal.js") %>