<div class="titlebox">
    <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="">Resources / <strong>(Server) Image</strong></div>
    <div class="location">Home <span>&gt;</span> Setting <span>&gt;</span> Resources <span>&gt;</span>
        <strong>(Server) Image</strong></div>
</div>
<%= partial("settings/vmimage/list.html") %>
<%= partial("settings/vmimage/create.html") %>
<%= partial("settings/vmimage/detail.html") %>
<%= partial("settings/vmimage/edit.html") %>
<%= partial("settings/vmimage/cspvmimageassist_modal.html") %>
<%= javascriptTag("vmimage/vmimagemng.js") %>