<div class="page-body">
  <div class="container-xl">
    <!-- MCIS DASHBOARD -->
    <div id="index" class="section">
      <div class="row row-cards">
        <div class="col-md-7">
          <%= partial("partials/operation/manage/mcis_status_summary.html") %>
        </div>

        <div class="col-md-5">
          <%= partial("partials/operation/manage/server_status_summary.html") %>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List of MCIS</h3>
              <div class="card-actions btn-actions">
                <a
                  href="#manage"
                  class="btn btn-primary"
                  onclick="webconsolejs['partials/operation/manage/mciscreate'].addNewMcis()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M5 12l14 0"></path>
                  </svg>
                  Add mcis
                </a>

                <!-- filter -->
                <a
                  class="btn-action"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#filterbody"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-filter"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
                    />
                  </svg>
                </a>

                <!-- sort -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-sort"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 9l4 -4l4 4m-4 -4v14" />
                      <path d="M21 15l-4 4l-4 -4m4 4v-14" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Action
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                        ></path>
                        <path
                          d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                        ></path>
                        <path d="M16 5l3 3"></path>
                      </svg>
                      Another action
                    </a>
                  </div>
                </div>

                <!-- Action -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M6 9l6 6l6 -6" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'McisSuspend', 'Would you like to suspend MCIS ?', 'pages/operation/manage/mcis.changeMcisLifeCycle', 'reboot')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Reboot
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'McisSuspend', 'Would you like to suspend MCIS ?', 'pages/operation/manage/mcis.changeMcisLifeCycle', 'suspend')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Suspend
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'McisSuspend', 'Would you like to suspend MCIS ?', 'pages/operation/manage/mcis.changeMcisLifeCycle', 'resume')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Resume
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'McisSuspend', 'Would you like to suspend MCIS ?', 'pages/operation/manage/mcis.changeMcisLifeCycle', 'terminate')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Terminate
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#manage">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      New
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Delete
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Export
                    </a>
                  </div>
                </div>

                <!-- refresh -->
                <a class="btn-action">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                  </svg>
                </a>
              </div>
            </div>

            <div id="filterbody" class="accordion-collapse collapse">
              <div class="accordion-body p-3 row">
                <div class="col-sm-12 col-md-2 row mb-1">
                  <div
                    class="col-4 col-form-label required d-flex justify-content-end"
                  >
                    Field
                  </div>
                  <select class="col form-select" id="filter-field">
                    <option value="name">Name</option>
                    <option value="provider">Provider</option>
                    <option value="statusCount.countTotal">
                      Total Servers
                    </option>
                    <option value="statusCount.countRunning">Running</option>
                    <option value="statusCount.countSuspended">
                      Suspended
                    </option>
                    <option value="statusCount.countTerminated">
                      Terminated
                    </option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-2 row mb-1">
                  <div class="col-4 col-form-label d-flex justify-content-end">
                    Type
                  </div>
                  <select class="col form-select" id="filter-type">
                    <option value="like">like</option>
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-8 row mb-1">
                  <div
                    class="col-sm-4 col-md-1 col-form-label required d-flex justify-content-end"
                  >
                    Filter
                  </div>
                  <input
                    class="col form-control"
                    id="filter-value"
                    type="text"
                    placeholder="value to filter"
                  />
                  <div class="col-auto">
                    <a
                      id="filter-clear"
                      class="btn btn-icon"
                      type="button"
                      aria-label="Button"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-x"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 6l-12 12" />
                        <path d="M6 6l12 12" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-table table-responsive">
              <!-- Tabulator TABLE SET -->
              <div id="mcislist-table"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <%= partial("partials/operation/manage/mcisinfo.html") %>
        </div>
      </div>
    </div>

    <!-- MCIS CREATE -->

    <!-- TODO : divide to express, simple, expert form  -->
    <div id="manage" class="section">
      <form id="express_form">
        <!-- <input type="hidden" name="specId"  value="" id="p_specId" /> -->
        <!--id 에 간단설정이면 s_, Expert On 이면 e_ , Express On 이면 p_-->
        <input
          type="hidden"
          name="subGroupSize"
          value=""
          id="p_subGroupSize"
        /><!-- vm_cnt에서 subGroupSize로 변경 -->
        <input type="hidden" name="name" value="" id="p_name" />
        <input type="hidden" name="description" id="p_description" />
        <input type="hidden" name="provider" id="p_provider" />
        <input type="hidden" name="image" id="p_imageId" />
        <input type="hidden" name="spec" id="p_specId" />
        <input type="hidden" name="commonSpec" id="p_commonSpecId" />
        <input type="hidden" name="commonImage" id="p_commonImageId" />
        <input type="hidden" name="rootDiskType" id="p_root_disk_type" />
        <input type="hidden" name="rootDiskSize" id="p_root_disk_size" />
        <input
          type="hidden"
          name="connectionName"
          value=""
          id="p_connectionName"
        />
      </form>

      <div class="row row-cards">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Create MCIS</h3>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label required">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="mcis_name"
                  id="mcis_name"
                  placeholder="Input Name"
                />
              </div>

              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="2"
                  name="mcis_desc"
                  id="mcis_desc"
                  placeholder="type Description"
                ></textarea>
              </div>

              <div class="mb-3">
                <label class="form-label required">Deployment Algorithm</label>
                <select
                  class="form-select"
                  name="mcis_deploy_algorithm"
                  id="mcis_deploy_algorithm"
                >
                  <option value="express" selected>Express</option>
                  <option value="simple">Simple</option>
                  <option value="expert">Expert</option>
                </select>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <ul
                      class="removebullet vmStatus-list"
                      id="mcis_server_list"
                    >
                      <li
                        class="removebullet btn btn-secondary-lt"
                        id="mcis_plusVmIcon"
                        onclick="webconsolejs['partials/operation/manage/mciscreate'].displayNewServerForm()"
                      >
                        +
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button
                type=""
                class="btn btn-primary"
                onclick="webconsolejs['partials/operation/manage/mciscreate'].deployMcis()"
              >
                Deploy
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Steps</h3>
              <ul class="steps steps-vertical">
                <li class="step-item active">
                  <div class="h4 m-0">MCIS Name</div>
                  <div class="text-secondary">MCIS Name input ex) mcis01</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">Order received</div>
                  <div class="text-secondary">Lorem ipsum dolor sit amet.</div>
                </li>
              </ul>
            </div>

            <div class="card-body">
              <ul class="steps steps-counter steps-vertical">
                <li class="step-item active">Step one</li>
                <li class="step-item">Step two</li>
                <li class="step-item">Step three</li>
                <li class="step-item">Step four</li>
                <li class="step-item">Step five</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- addserver -->

    <div id="addserver" class="section">
      <form id="express_form">
        <!-- <input type="hidden" name="specId"  value="" id="p_specId" /> -->
        <!--id 에 간단설정이면 s_, Expert On 이면 e_ , Express On 이면 p_-->
        <input
          type="hidden"
          name="subGroupSize"
          value=""
          id="p_subGroupSize"
        /><!-- vm_cnt에서 subGroupSize로 변경 -->
        <input type="hidden" name="name" value="" id="p_name" />
        <input type="hidden" name="description" id="p_description" />
        <input type="hidden" name="provider" id="p_provider" />
        <input type="hidden" name="image" id="p_imageId" />
        <input type="hidden" name="spec" id="p_specId" />
        <input type="hidden" name="commonSpec" id="p_commonSpecId" />
        <input type="hidden" name="commonImage" id="p_commonImageId" />
        <input
          type="hidden"
          name="connectionName"
          value=""
          id="p_connectionName"
        />
      </form>

      <div class="row row-cards">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Extend VM</h3>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="extend_mcis_name"
                  id="extend_mcis_name"
                  value=""
                />
              </div>

              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="2"
                  name="extend_mcis_desc"
                  id="extend_mcis_desc"
                  placeholder="type Description"
                ></textarea>
              </div>

              <div class="mb-3">
                <label class="form-label">Deployment Algorithm</label>
                <select
                  class="form-select"
                  name="vm_deploy_algorithm"
                  id="vm_deploy_algorithm"
                >
                  <option value="express">Express</option>
                  <option value="simple">Simple</option>
                  <option value="expert">Expert</option>
                </select>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <ul class="vmStatus-list removebullet" id="vm_server_list">
                      <li
                        class="removebullet btn btn-secondary-lt"
                        id="vm_plusVmIcon"
                        onclick="webconsolejs['partials/operation/manage/mciscreate'].displayNewServerForm()"
                      >
                        +
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button
                type=""
                class="btn btn-primary"
                onclick="webconsolejs['partials/operation/manage/mciscreate'].deployVm()"
              >
                Deploy
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Steps</h3>
              <ul class="steps steps-vertical">
                <li class="step-item active">
                  <div class="h4 m-0">MCIS Name</div>
                  <div class="text-secondary">MCIS Name input ex) mcis01</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">Order received</div>
                  <div class="text-secondary">Lorem ipsum dolor sit amet.</div>
                </li>
              </ul>
            </div>

            <div class="card-body">
              <ul class="steps steps-counter steps-vertical">
                <li class="step-item active">Step one</li>
                <li class="step-item">Step two</li>
                <li class="step-item">Step three</li>
                <li class="step-item">Step four</li>
                <li class="step-item">Step five</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add server : server configuration -->
<%= partial("partials/operation/manage/mciscreate.html") %>

<!-- add server : spec-search -->
<%= partial("partials/operation/manage/serverrecommendation.html") %> 
<!-- add server : cspimagelist -->
<%= partial("partials/operation/manage/cspimagelist.html") %> 
<!-- add server : cspspeclist -->
<%= partial("partials/operation/manage/cspspeclist.html") %> 

<%= javascriptTag("pages/operation/manage/mcis.js") %>
<%= javascriptTag("common/api/services/mcis_api.js") %> 
<%= javascriptTag("common/api/services/vmimage_api.js") %>
