<div class="dashboard dashboard_cont register_cont" id="vNetCreateBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial cg"><strong>Create Network</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box reg">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1 ipbox3">
                        <ul>
                            <li>
                                <label><span class="ch">*</span>VPC Name</label>
                                <input type="text" id="regVpcName" name="reg_vpcName" value=""
                                    placeholder="Input VPC Name" class="pline" title="" />
                            </li>
                            <li class="ta_1">
                                <label>Description</label>
                                <textarea id="regDescription" name="reg_description" cols="" rows=""
                                    placeholder="Description" class="pline" title=""></textarea>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2 ipbox4">
                        <ul>
                            <li>
                                <label>Cloud Provider</label>
                                <select class="selectbox white pline w3" id="regProviderName" name="ProvideName"
                                onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'regRegionName')">                                    
                                <option value="">Select Cloud Provider</option>
                                <%= for (provider) in cloud_os_list {%>
                                    <option value="<%= provider %>"><%= provider %></option>
                                <% } %>
                                </select>
                            </li>
                            <!-- <li>
                                <label><span class="ch">*</span>Connection</label>
                                <select class="selectbox white pline w3" id="regConnectionName"
                                    name="reg_connectionName">
                                    <option selected>Select Connection</option>
                                </select>
                            </li> -->
                            <li>
                                <label><span class="ch">*</span>Region</label>
                                <select class="selectbox white pline w3" id="regRegionName"
                                    name="reg_regionName">
                                    <option selected>Select Region</option>
                                </select>
                            </li>
                            <li>
                                <label><span class="ch">*</span>CIDR Block</label>
                                <input type="text" id="regCidrBlock" name="reg_cidrBlock" value=""
                                    placeholder="ex) 10.0.0.0/24" class="pline ip_w1" title="" />
                            </li>
                            <li>
                                <label><span class="ch">*</span>Subnet</label>
                                <span class="sbox">
                                    <input type="text" id="regSubnet" name="reg_subnet" value=""
                                        placeholder="ex) subnetname (10.0.0.0/24)" class="ip_w1 gray noline"
                                        title="" />
                                    <button name="" value="" class="btn_edit btn_register"
                                    data-toggle="modal" data-target="#subnetRegisterBox" id="btn_subnet_edit">Edit</button>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
                            onclick="mcpjs['network/vnetmng'].displayVNetInfo('CLOSE')">Cancel</button>
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                            onclick="mcpjs['network/vnetmng'].createVpcData()">Ok</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>