<div class="dashboard dashboard_cont detail_box" id="vNetInfoBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Network Info</strong> [ <span class="stxt" id="networkVpcName"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label>VPC Name</label>
                                <span class="sbox">
                                    <input type="text" id="infoVpcName" name="infoVpcName" value="" placeholder=""
                                        class="gray" title="" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Description</label>
                                <span class="sbox">
                                    <textarea id="infoDescription" name="infoDescription" cols="" rows=""
                                        placeholder="" class="gray" title="" disabled></textarea>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Cloud Provider</label>
                                <input type="text" id="infoProvider" name="infoProvider" value="" placeholder=""
                                    class="gray" title="" readonly />

                            </li>                           
                            <li>
                                <label>Region Name</label>
                                <input type="text" id="infoRegionName" name="infoRegionName" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>CidrBlock</label>
                                <input type="text" id="infoCidrBlock" name="infoCidrBlock" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Subnet</label>
                                <span class="sbox">
                                    <input type="text" id="infoSubnet" name="infoSubnet" value="" placeholder=""
                                        class="gray" title="" readonly />                                 
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
