<div class="dashboard dashboard_cont">
    <input type="hidden" id="vpcMode" value=""/>
	<div class="d_box box_m box_w100">
		<div class="titbox">
			<div class="top_info">
				<div>
					<select name="vpcList_field" id="vpcList_field">
						<option value="name" selected>VPC Name</option>
					</select>
					<input type="text" name="vpcList_filter_keyword" value="" id="vpcList_filter_keyword" placeholder="Please Input Keyword"
					onkeyup="mcpjs['util/util'].setTableFilter('vpcList',this.value)" />
				</div>
				<ul>
					<li>
						<a href="javascript:void(0);">Column</a>
						<div class="infobox">
							<div class="box">
								<ul>
									<li>
										<label class="display-column" data-column="name">VPC Name
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="cidrBlock">CIDR Block
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="description">Description
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:void(0);">Action</a>
						<div class="infobox">
							<div class="box">
								<ul>
									<li><a href="javascript:void(0);" data-toggle="modal"
                                        data-target="#RegistBox" onclick="mcpjs['network/vnetmng'].displayVNetInfo('REG')">Add</a>
                                    </li>
                                    <li><a href="javascript:void(0);" data-toggle="modal"
                                        data-target="#UnRegist"
                                        onclick="mcpjs['network/vnetmng'].deleteVpcData()">Delete</a></li>
									<li class="divider"></li>
									<li>
										<strong>Export</strong>
										<ul>
											<li><a href="javascript:void(0);" data-toggle="modal"
													onclick="">Total List (CSV)</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:void(0);"><span class="material-icons md-20">help</span></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="ds_cont">
			<div id="vpcList"></div>
		</div>

	</div>

</div>