<div class="register_box modal fade" id="subnetRegisterBox" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="pop-body">

                    <div class="title_box">
                        <div class="title">Subnet</div>
                    </div>

                    <div class="pop-cont">
                        <div class="dtbox scrollbar-inner">
                            <div class="dataTable dt_overlay">
                                <table cellpadding="0" cellspacing="0" border="1" summary="">
                                    <!-- <colgroup><col width=""><col width=""><col width="100px"></colgroup> -->
                                    <thead>
                                        <tr>
                                            <th class="column-40percent">Subnet Name</th>
                                            <th>CIDR Block</th>
                                            <th class="column-100px"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="subnetList">
                                        <tr name="tr_Input">
                                            <td class="btn_mtd column-40percent" data-th="subnet Name"><input
                                                    type="text" id="regSubnetName" name="reg_subnetName" value=""
                                                    placeholder="" class="pline" title="" /> <span
                                                    class="ov off"></span></td>
                                            <td class="overlay hidden" data-th="cidrBlock"><input type="text"
                                                    id="regSubnetCidrBlock" name="reg_subnetCidrBlock" value=""
                                                    placeholder="ex) 10.0.0.0/24" class="pline" title="" /></td>
                                            <td class="overlay hidden column-100px" data-th="">
                                                <button class="btn btn_add" name="addSubnet">add</button>
                                                <!-- <button class="btn btn_del" name="delInput">del</button> 처음 한개는 놔 둘 것 -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //table scrollbar -->

                        <div class="b_txt"><span class="ch">*</span> Define the subnet to be added to Virtual
                            Network and add it by clicking <span class="txt">“Apply”</span></div>
                    </div>

                </div>

                <div class="btnbox">
                    <div class="btn_right">
                        <button name="" value="" class="btn_apply btn_co btn_cr_g"
                            onclick="mcpjs['network/subnet_add_modal'].applySubnet()"><span>Apply</span></button>
                        <button name="" value="" class="btn_cancel btn_co btn_cr_b"
                            data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<%= javascriptTag("network/subnet_add_modal.js") %>