<div class="titlebox">
    <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="">Resources / <strong>Network</strong></div>
    <div class="location">Home <span>&gt;</span> Setting <span>&gt;</span> Resources <span>&gt;</span>
        <strong>Network</strong></div>
</div>
<%= partial("settings/vnet/list.html") %>
<%= partial("settings/vnet/create.html") %>
<%= partial("settings/vnet/detail.html") %>
<%= partial("settings/vnet/edit.html") %>
<%= partial("settings/vnet/subnet_add_modal.html") %>
<%= javascriptTag("network/vnetmng.js") %>