<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Open dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Name</a>
                  <a class="dropdown-item" href="#">Measurement</a>
                  <a class="dropdown-item" href="#">Target Type</a>
                </div>
            </div>
            <h3 class="card-title">Most Visited Pages</h3>
        </div>
        <div class="card-table table-responsive">
            <div id="example-table"></div>
        </div>
    </div>
</div>

<%= javascriptTag("debug/tabulator/tabulator.js") %>
