<style>
  table > tbody {
    overflow-y: hidden;
  }

  .container{
    width: 100%;
    margin: 0 auto;
  }
  
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  ul.tabs li.current{
    background: #ededed;
    color: #222;
  }
  
  .tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
    height: 300px;
  }
  
  .tab-content.current{
    display: inherit;
    
  }

.SumoSelect > .CaptionCont > span.placeholder {
  color: #000;
  font-style: italic;
}
.placeholder {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    background-color: white;
    opacity: 0.5;
}

</style>
  
  <div class="dashboard dashboard_cont" id="monitoringConfigPolicyInfoBox">

    <div class="d_box box_w100">
  
      <div class="titbox_n">
        <div class="titbox_n">
          <div class="tit initial">
            <div><strong>Define Cron Task</strong></div>
          </div>
        </div>
      </div>
      
      <div class="ds_cont">

        <div class="ipbox ipbox1" style="float: left; width: 40%;">
          
          <div class="container">
            <input type="hidden" name="name" id="e_name" />
            <input type="hidden" name="description" id="e_description" />
            <input type="hidden" name="providerId" id="e_providerId" />
            <table>
              <tbody>
                <tr style="height: 40px;">
                  <td style="text-align: center;">*TaskName</td>
                  <td><input type="text" id="taskname" style="width: 100%; height: 30px; border: none; border-bottom: solid 1px"></td>
                </tr>

                <tr style="height: 40px;">
                  <td style="text-align: center;">Description</td>
                  <td><input type="text" style="width: 100%; height: 30px; border: none; border-bottom: solid 1px"></td>
                </tr>

                <tr style="height: 40px;">
                  <td style="text-align: center;">
                    *<input type="checkbox" name="color" value="red">
                    startDate
                  </td>
                  <td>
                    <input type="date" id="start" name="trip-start"
                    value="2018-07-22"
                    min="2018-01-01" max="2018-12-31">
                  </td>
                </tr>

                <tr style="height: 40px;">
                  <td style="text-align: center;">
                    *<input type="checkbox" name="color" value="red">
                    endDate
                  </td>
                  <td>
                    
                    <input type="date" id="start" name="trip-start"
                    value="2018-07-22"
                    min="2018-01-01" max="2018-12-31">
                  </td>
                </tr>

                <tr style="height: 40px;">
                  <td style="text-align: center;">*Action</td>
                  <td>
                    <select>
                      <option value="0">select action</option>  
                      <option value="reboot">reboot</option>  
                      <option value="suspend">suspend</option>  
                      <option value="resume">resume</option>  
                      <option value="Terminate">reboot</option>  
                    </select>
                  </td>
                </tr>
                
                
                <tr style="height: 40px;">
                  <td style="text-align: center;">*CRON</td>
                  <td><input style="width:100%;float:left;font-size:20px;border:none;" 
                      id="userCron"
                      value="* * * * *"
                      placeholder="input CRON is here" readonly/>
                    <div id="output">Humman Readable here!</div>
                  </td>
                </tr>
                <tr style="height: 40px;">
                  <td></td>
                  <td><button class="cron">save</button></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="ipbox ipbox2" style="float: left; width: 60%;">

          <div class="container">

            <ul class="tabs">
              <li class="tab-link current" data-tab="tab-1">Simple</li>
              <li class="tab-link" data-tab="tab-2">Normal</li>
              <li class="tab-link" data-tab="tab-3">Expert</li>
            </ul>

            <div id="tab-1" class="tab-content current">
              
            </div>

            <div id="tab-2" class="tab-content">
              <div>Next Run in</div>
              <ul>
                <li><div class="outputPredict1">-</div></li>
                <li><div class="outputPredict2">-</div></li>
                <li><div class="outputPredict3">-</div></li>
              </ul>
              <br><br>
              <label style="width: 30px; text-align: center;">IN</label>
              <select multiple="multiple" id="monthSelect" name="" class="cronselecter monthSelect">
                <optgroup label="inteval">
                  <option value="*/1">1</option>  
                  <option value="*/2">2</option>  
                  <option value="*/3">3</option>  
                </optgroup>
                <% let month = ["January","February","March","April","May","June","July","August","September","October","November","December"] %>
                <%= for (i,v) in month { %> 
                  <option value="<%= i+1 %>"><%= v %></option>  
                <% } %>
              </select>

              <label style="width: 30px; text-align: center;">ON</label>
              <select multiple="multiple" id="daySelect" name="" class="cronselecter daySelect">
                <%= for (v) in range (1,31){ %> 
                  <option value="<%= v %>"><%= v %></option>
                <% } %>
              </select>

              <br><br>
              <label style="width: 30px; text-align: center;">ON</label>
              <select multiple="multiple" id="weekSelect" name="" class="cronselecter weekSelect">
                <% let week = ["Sunday","Monday","Tueday","Wednesday","Thursday","Friday","Saturday"] %>
                <%= for (i,v) in week { %> 
                  <option value="<%= i %>"><%= v %></option>  
                <% } %>
              </select>

              <br><br>
              <label style="width: 30px; text-align: center;">AT</label>

              <select multiple="multiple" id="hourSelect" name="" class="cronselecter hourSelect">
                <%= for (v) in range (0,23){ %> 
                  <option value="<%= v %>"><%= v %></option>  
                <% } %>
              </select>

              <label style="width: 30px; text-align: center;">:</label>

              <select multiple="multiple" id="minuteSelect" name="" class="cronselecter minuteSelect">
                <%= for (v) in range (0,59){ %> 
                  <option value="<%= v %>"><%= v %></option>  
                <% } %>
              </select>

              
              
            </div>

            <div id="tab-3" class="tab-content">
              <!-- <h1>Hour 입력 </h1> -->
              <input type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<%= javascriptTag("scheduler/schedulermng.js") %> 


  
  
  