<%= partial("partials/layout/pageheader/default.html") %>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-md-6">
                <%= partial("partials/operation/dashboard/mcisserver.html") %>
            </div>
            <div class="col-md-6">
                <%= partial("partials/operation/dashboard/cpconnection.html") %>
            </div>
            <div class="col-md-6">
                <%= partial("partials/operation/dashboard/mcisserverprint.html") %>
            </div>
            <div class="col-md-6">
                <%= partial("partials/operation/dashboard/servicemap.html") %>
            </div>
        </div>
    </div>
</div>

<%= javascriptTag("debug/tabulator/tabulator.js") %>