	<!-- Create Name Space -->
	<div class="dashboard dashboard_cont register_cont" id="ns_reg">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial cg"><strong>Create Name Space</strong></div>
			</div>

			<div class="ds_cont">
				<div class="register_box reg">

					<div class="top_ipbox">
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_1 reg_4">
									<label><span class="ch">*</span>Name</label>
									<input type="text" name="" value="" placeholder="Input Name" class="pline" title=""
										id="regName" />
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox2">
							<ul>
								<li class="reg_2">
									<label>Description</label>
									<textarea cols="" rows="" placeholder="Description" class="pline" title=""
										id="regDesc"></textarea>
								</li>
							</ul>
						</div>
					</div>

					<div class="btnbox">
						<div class="btn_center">
							<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
								onclick="mcpjs['namespace/namespacemng'].displayNameSpaceInfo('CLOSE')">Cancel</button>
							<button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
								onclick="mcpjs['namespace/namespacemng'].createNameSpace()">Ok</button>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- //Create Name Space -->