<div class="dashboard dashboard_cont server_status" id="info_box">
    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Name Space Info</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1 reg_4">
                                <label>Name</label>
                                <input type="text" name="" value="" placeholder="Name" class="gray" title=""
                                    readonly id="infoName" />
                            </li>
                            <li class="reg_1 reg_4">
                                <label>ID</label>
                                <input type="text" name="" value="" placeholder="ID" id="infoID" class="gray"
                                    title="" readonly />
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li class="reg_2">
                                <label>Description</label>
                                <textarea cols="" rows="" placeholder="Description" id="infoDesc" class="gray"
                                    title="" readonly></textarea>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                            onclick="nameSpaceSet('NameSpace')">Ok</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>