<div class="dashboard dashboard_cont">

    <div class="d_box box_m box_w100">
        <div class="titbox">
            <div class="tit initial"><strong>List of Name Space</strong></div>
            <div class="top_info">
                <ul>
                    <li>
                        <a href="javascript:void(0);">Filter</a>
                        <div class="infobox">
                            <div class="box">
                                <ul>
                                    <li><a href="javascript:void(0);"
                                            onclick="commonPromptOpen('NSFltName', 'nameSpaceList')">Name</a></li>
                                    <li><a href="javascript:void(0);"
                                            onclick="commonPromptOpen('NSFltId', 'nameSpaceList')">ID</a></li>
                                    <li><a href="javascript:void(0);"
                                            onclick="commonPromptOpen('NSFltDescription', 'nameSpaceList')">Description</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Sort</a>
                        <div class="infobox">
                            <div class="box">
                                <ul>
                                    <li><a href="javascript:void(0);"
                                            onclick="tableSort('nameSpaceList', 'Name')">Name</a></li>
                                    <li><a href="javascript:void(0);"
                                            onclick="tableSort('nameSpaceList', 'ID')">ID</a></li>
                                    <li><a href="javascript:void(0);"
                                            onclick="tableSort('nameSpaceList', 'description')">Description</a></li>
                                    <!--
                                                    <li><a href="javascript:void(0);" onclick='getNameSpaceList("name")'>Name</a></li>
                                                    <li><a href="javascript:void(0);" onclick='getNameSpaceList("description")'>Description</a></li>
                                                    -->
                                    <!-- <li><a href="javascript:void(0);">Date</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Action</a>
                        <div class="infobox">
                            <div class="box">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#AddBox"
                                            onClick="displayNameSpaceInfo('REG')">Add</a></li>
                                    <!-- 
                                                    <li><a href="javascript:void(0);">Change</a></li>
                                                    -->
                                    <li><a href="javascript:void(0);"
                                            onClick="commonConfirmOpen('DeleteNameSpace')">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:void(0);"><img src="/assets/images/common/icon_question.png" alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ds_cont">

            <div class="dataTable status_list">
                <table cellpadding="0" cellspacing="0" border="1" summary="" id="nameSpaceList">
                    <!-- <colgroup>
                                        <col width="50px"><col width="20%"><col width="20%"><col width=""><col width="60px">
                                    </colgroup> -->
                    <thead>
                        <tr>
                            <th class="column-50px-chk"><input type="checkbox" name="" value="" id="th_chall"
                                    title="" /><label for="th_chall"></label></td>
                            <th class="column-20percent">Name</th>
                            <th class="column-20percent">ID</th>
                            <th>description</th>
                            <!-- <th class="column-60px"></th> -->
                        </tr>
                    </thead>
                    <tbody id="nsList">

                        <!-- {{ $length := len .NameSpaceList }}
                        {{ if eq $length 0 }}
                        <tr>
                            <td class="overlay hidden" data-th="" colspan="8">No Data</td>
                        </tr>
                        {{ end }}
                        {{range $index, $item := .NameSpaceList}}
                        <tr onclick="showNameSpaceInfo('ns_info_{{$index}}');">
                            <td class="overlay hidden column-50px-chk" data-th="">
                                <input type="hidden" id="ns_info_{{$index}}"
                                    value="{{$item.ID}}|{{$item.Name}}|{{$item.Description}}" />
                                <input type="checkbox" name="chk" value="{{$item.Name}}" id="raw_{{$index}}"
                                    title="" />
                                <label for="td_ch1"></label> <span class="ov off"></span>
                            </td>
                            <td class="btn_mtd ovm column-20percent" data-th="Name">{{$item.Name}}<span
                                    class="ov"></span></td>
                            <td class="overlay hidden column-20percent" data-th="ID">{{$item.ID}}</td>
                            <td class="overlay hidden td_left" data-th="description">{{$item.Description}}</td>

                            <td class="overlay hidden column-60px" data-th=""><a href="javascript:void(0);"><img src="/assets/images/contents/icon_link.png" class="icon" alt=""/></a></td> 
                        </tr>
                        {{ end }} -->

                    </tbody>
                </table>
            </div>

        

        </div>

    </div>

</div>