<!-- Namespace를 등록/수정/목록/상세 를 모두 관리하는 page -->
<h1>Namespace#Form</h1>
<div class="titlebox">
    <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="">Resources / <strong>NameSpace</strong></div>
    <div class="location">Home <span>&gt;</span> Setting <span>&gt;</span> Resources <span>&gt;</span>
        <strong>NameSpace</strong></div>
</div>
<%= partial("settings/namespace/list.html") %>
<%= partial("settings/namespace/create.html") %>
<%= partial("settings/namespace/detail.html") %>
<%= partial("settings/namespace/edit.html") %>
<%= javascriptTag("namespace/namespacemng.js") %>