<div class="dashboard dashboard_cont" id="monitoringConfigPolicyInfoBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Monitoring Policy Info</strong></div>
            <div class="top_info">
                <ul>
                    <li><a href="javascript:void(0);"><img src="/assets/images/common/icon_question.png"
                                alt="" /></a></li>
                </ul>
            </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label><span class="ch">*</span>MCIS Agent Interval</label>
                                <span class="sbox">
                                    <input type="text" id="mcisAgentInterval" name="mcisAgentInterval"
                                        value="" placeholder="" class="pline"
                                        title="" />
                                </span>
                            <li class="reg_1">
                                <label><span class="ch">*</span>MCIS Collector Interval</label>
                                <span class="sbox">
                                    <input type="text" id="mcisCollectorInterval" name="mcisCollectorInterval"
                                        value="" placeholder=""
                                        class="pline" title="" />
                                </span>
                            </li>                            
                        </ul>
                    </div>

                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label><span class="ch">*</span>MCK8S Agent Interval</label>
                                <span class="sbox">
                                    <input type="text" id="mck8sAgentInterval" name="mck8sAgentInterval"
                                        value="" placeholder="" class="pline"
                                        title="" />
                                </span>
                            <li class="reg_1">
                                <label><span class="ch">*</span>MCK8S Collector Interval</label>
                                <span class="sbox">
                                    <input type="text" id="mck8sCollectorInterval" name="mck8sCollectorInterval"
                                        value="" placeholder=""
                                        class="pline" title="" />
                                </span>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="ipbox ipbox1">
                        <ul>
                            <!-- <li class="reg_1">
                                <label>Monitoring Policy</label>
                                <span class="sbox">
                                    <input type="text" id="monitoringPolicy" name="monitoringPolicy"
                                        value="" placeholder=""
                                        class="gray" title="" readonly />
                                </span>

                            </li> -->
                            <li class="reg_1">
                                <label>Default Monitoring Policy</label>
                                <span class="sbox">
                                    <input type="text" id="defaultPolicy" name="defaultPolicy"
                                        value="" placeholder=""
                                        class="gray" title="" readonly />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label>Aggregate Type</label>
                                <span class="sbox">
                                    <input type="text" id="aggregateType" name="aggregateType"
                                        value="" placeholder=""
                                        class="gray" title="" readonly />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label>DeployType</label>
                                <span class="sbox">
                                    <input type="text" id="deployType" name="deployType"
                                        value="" placeholder=""
                                        class="gray" title="" readonly />
                                </span>
                            </li>
                            <li class="reg_1">
                                <label><span class="ch">*</span>Max Host Count</label>
                                <span class="sbox">
                                    <input type="text" id="maxHostCount" name="maxHostCount"
                                        value="" placeholder="" class="pline"
                                        title="" />
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label><span class="ch"></span>Puller Interval</label>
                                <span class="sbox">
                                    <input type="text" id="pullerInterval" name="pullerInterval"
                                        value="" placeholder="" class="pline"
                                        title="" />
                                </span>
                            <li class="reg_1">
                                <label><span class="ch"></span>Puller Aggregate Interval</label>
                                <span class="sbox">
                                    <input type="text" id="pullerAggregateInterval" name="pullerAggregateInterval"
                                        value="" placeholder=""
                                        class="pline" title="" />
                                </span>
                            </li>
                           
                        </ul>
                    </div>
                    

                </div>
                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_apply btn_co btn_cr_g w135 btn_ok">Apply</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>