<!-- 리전 그룹 등록 폼-->
<div class="dashboard dashboard_cont register_cont" id="regionGroupCreateBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Create RegionGroup</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label>Region Group Name</label>
                                <span class="sbox">                                    
                                    <input type="text" id="regName" name="reg_name" value="" placeholder="Input Region Group Name"
                                        class="pline" title="" />
                                </span>
                            </li>
                            <li>
                                <label>Description</label>
                                <span class="sbox">
                                    <textarea id="regDescription" name="reg_description" cols="" rows=""
                                    placeholder="Description" class="pline" title=""></textarea>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Cloud Provider</label>
                                <select class="selectbox white pline w3" id="regProviderName" name="ProvideName"
                                onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'regRegionName')">                                    
                                <option value="">Select Cloud Provider</option>
                                <%= for (provider) in cloud_os_list {%>
                                    <option value="<%= provider %>"><%= provider %></option>
                                <% } %>
                                </select>                                
                            </li>                           
                            <li>
                                <label><span class="ch">*</span>Region</label>
                                <select class="selectbox white pline w3" id="regRegionName"
                                    name="reg_regionName">
                                    <option selected>Select Region</option>
                                </select>                            
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>