<div class="dashboard dashboard_cont detail_box" id="regionGroupInfoBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>RegionGroup Info</strong> [ <span class="stxt" id="regionGroupName"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label>Region Group Name</label>
                                <span class="sbox">
                                    <input type="text" id="dtlRegionGroupName" name="dtlRegionGroupName" value="" placeholder=""
                                        class="gray" title="" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Description</label>
                                <span class="sbox">
                                    <textarea id="dtlDescription" name="dtlDescription" cols="" rows=""
                                        placeholder="" class="gray" title="" disabled></textarea>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Cloud Provider</label>
                                <input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>                           
                            <li>
                                <label>Region Name</label>
                                <input type="text" id="dtlRegionName" name="dtlRegionName" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>