<!-- 리전 그룹 목록-->
<div class="dashboard dashboard_cont">
	<div class="d_box box_m box_w100">
		<div class="titbox">
			<div class="top_info">
				<ul>
					<li>
						<a href="javascript:void(0);">Column</a>
						<div class="infobox">
							<div class="box">
								<ul>
									<li>
										<label class="display-column" data-column="status">Status
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>
									<li>
										<label class="display-column" data-column="name">Name
											<input type="checkbox" checked="checked">
											<span class="material-icons">visibility</span>
										</label>
									</li>				
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:void(0);">Action</a>
						<div class="infobox">
							<div class="box">
								<ul>
									<li>
										<ul>
											<li><a href="javascript:void(0);" data-toggle="modal"
													data-target="#RegistBox"
													onclick="mcpjs['adminconfig/regiongroupmng'].displayRegionGroupInfo('REG')">New</a>
											</li>
											<li><a href="javascript:void(0);" data-toggle="modal"
													data-target="#UnRegist"
													onclick="mcpjs['adminconfig/regiongroupmng'].deleteRegionGroup('DEL')">Delete</a></li>
										</ul>
									</li>									
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:void(0);"><span class="material-icons md-20">help</span></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="ds_cont">
			<div id="regionGroupList"></div>
		</div>

	</div>

</div>
