<!-- 관리자 화면-->
<div class="titlebox">
    <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="">Manage / <strong>Admin</strong></div>
    <div class="location">Home <span>&gt;</span> Admin <span>&gt;</span> Manage <span>&gt;</span>
        <strong>MCIS</strong></div>
</div>

<%= partial("adminconfig/regiongroup/list.html") %>
<%= partial("adminconfig/regiongroup/detail.html") %>
<!--< % = partial("admin/region_group_reg.html") % >-->

<%= javascriptTag("adminconfig/regiongroupmng.js") %>