<!-- category, menu 등록 폼-->
<div class="dashboard dashboard_cont register_cont" id="menuCreateBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Create Menu</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label>Parent Category</label>
                                <span class="sbox">                                    
                                    <input type="text" id="regName" name="reg_name" value="" placeholder="Input Category Name"
                                        class="pline" title="" />
                                </span>
                            </li>
                            <li>
                                <label>Category ID</label>
                                <span class="sbox">                                    
                                    <input type="text" id="regName" name="reg_name" value="" placeholder="Input Category Name"
                                        class="pline" title="" />
                                </span>
                            </li>
                            <li>
                                <label>Category Name</label>
                                <span class="sbox">                                    
                                    <input type="text" id="regName" name="reg_name" value="" placeholder="Input Category Name"
                                        class="pline" title="" />
                                </span>
                            </li>
                            <li>
                                <label>Description</label>
                                <span class="sbox">
                                    <textarea id="regDescription" name="reg_description" cols="" rows=""
                                    placeholder="Description" class="pline" title=""></textarea>
                                </span>
                            </li>
                            <li>
                                <label>Sort</label>
                                <span class="sbox">
                                    <textarea id="regSort" name="reg_sort" cols="" rows=""
                                    placeholder="Description" class="pline" title=""></textarea>
                                </span>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>