<div class="dashboard dashboard_cont detail_box" id="menuInfoBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Menu Info</strong> [ <span class="stxt" id="menuName"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label>Category</label>
                                <span class="sbox">
                                    <input type="text" id="dtlCategoryId" name="dtlCategoryId" value="" placeholder=""
                                        class="gray" title="" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Menu Id</label>
                                <span class="sbox">
                                    <input type="text" id="dtlMenuId" name="dtlMenuId" value="" placeholder=""
                                        class="gray" title="" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Menu Name</label>
                                <span class="sbox">
                                    <input type="text" id="dtlMenuName" name="dtlMenuName" value="" placeholder=""
                                        class="gray" title="" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Description</label>
                                <span class="sbox">
                                    <textarea id="dtlDescription" name="dtlDescription" cols="" rows=""
                                        placeholder="" class="gray" title="" disabled></textarea>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Path</label>
                                <input type="text" id="dtlPath" name="dtlPath" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>                           
                            <li>
                                <label>Sort</label>
                                <input type="text" id="dtlSort" name="dtlSort" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>