<!-- exporess form -->
<div class="container-xl">
  <div class="row">
    <div class="col-md-12">
      <div class="card sub_section" id="server_configuration">
        <div class="card-header">
          <h3 class="text-info">Server Configuration</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label required">Server Name</label>
                <input
                  class="form-control"
                  name="server_name"
                  rows="1"
                  placeholder="Input Name"
                  id="ep_name"
                />
              </div>
              <div class="form-group mb-2">
                <label class="form-label required">Spec</label>
                <div class="row g-2">
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Please Use Search"
                      name="spec"
                      id="ep_specId"
                    />

                    <input
                      type="hidden"
                      name="provider"
                      id="ep_provider"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="connectionName"
                      id="ep_connectionName"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="imageId"
                      id="ep_imageId"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="commonImageId"
                      id="ep_commonImageId"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="commonSpecId"
                      id="ep_commonSpecId"
                      value=""
                    />
                  </div>
                  <div class="col-auto">
                    <a
                      href="#"
                      class="btn"
                      data-bs-toggle="modal"
                      data-bs-target="#spec-search"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
                        ></path>
                        <path d="M21 21l-6 -6"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="form-label">Root Disk</label>
                <div class="row g-2">
                  <div class="col-6">
                    <select
                      class="form-select"
                      name="rootDiskType"
                      onchange="webconsolejs['partials/operation/manage/mciscreate'].changeDiskSize(this.value)"
                      id="ep_root_disk_type"
                    >
                      <option value="">Select Root Disk Type</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <textarea
                      class="form-control"
                      name="rootDiskSize"
                      rows="1"
                      placeholder="Root Disk Size(GB)"
                      id="ep_root_disk_size"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="form-label">Server Quantity</label>
                <div class="row g-2">
                  <div class="col-md-6">
                    <div class="input-number-container">
                      <button class="input-number-decrement">-</button>
                      <input
                        type="number"
                        class="input-number"
                        value="1"
                        min="1"
                        max="100"
                        id="ep_vm_add_cnt"
                      />
                      <button class="input-number-increment">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  name="server_description"
                  id="ep_description"
                  rows="3"
                  placeholder="type Description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div align="right">
            <button type="submit" class="btn btn-secondary">Clear</button>
            <button
              type="submit"
              class="btn btn-info"
              onclick="webconsolejs['partials/operation/manage/mciscreate'].expressDone_btn()"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- expert form -->
<div class="container-xl">
  <div class="row">
    <div class="col-md-12">
      <div class="card sub_section" id="expert_server_configuration">
        <div class="card-header">
          <h3 class="text-info">Server Configuration</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label required">Server Name</label>
                <input
                  class="form-control"
                  name="expert_server_name"
                  id="expert_name"
                  rows="1"
                  placeholder="Input Name"
                />
              </div>
              <div class="form-group mb-2">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  name="expert_server_description"
                  id="expert_description"
                  rows="3"
                  placeholder="type Description"
                ></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label">Cloud Provider / Region</label>
                <div class="row g-2">
                  <div class="col-6">
                    <select name="select-provider" class="form-select" id="expert_provider">
                      <option value="">Select Provider</option>
                      
                    </select>
                  </div>
                  <div class="col-6">
                    <select name="select-region" class="form-select" id="expert_region">
                      <option value="">Select Region</option>
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group mb-2">
                <label class="form-label required">Cloud Connection</label>
                <div class="row g-2">
                  <div class="col">
                    <select class="form-select" name="select-connection" id="expert_cloudconnection" required>
                      <option value="">Select Connection</option>
                      
                    </select>
                  </div>
                  
                </div>
              </div>
              <div class="form-group mb-2">
                <label class="form-label">Server Quantity</label>
                <div class="row g-2">
                  <div class="col-md-6">
                    <div class="input-number-container">
                      <button class="input-number-decrement">-</button>
                      <input
                        type="number"
                        class="input-number"
                        value="1"
                        min="1"
                        max="100"
                        id="expert_vm_add_cnt"
                      />
                      <button class="input-number-increment">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <!-- for tabs -->
              <div class="card">
                <div class="card-header">
                  <ul
                    class="nav nav-tabs card-header-tabs"
                    data-bs-toggle="tabs"
                  >
                    <li class="nav-item">
                      <a
                        href="#tabs-oshw-8"
                        class="nav-link active"
                        data-bs-toggle="tab"
                        >OS/HW</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="#tabs-network-8"
                        class="nav-link"
                        data-bs-toggle="tab"
                        >Network</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="#tabs-security-8"
                        class="nav-link"
                        data-bs-toggle="tab"
                        >Security</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="#tabs-other-8"
                        class="nav-link"
                        data-bs-toggle="tab"
                        >Other</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="container">
                    <div class="tab-content">
                      <div class="tab-pane fade active show" id="tabs-oshw-8">
                        <%=
                        partial("partials/operation/manage/oshwtabcard.html") %>
                      </div>
                      <div class="tab-pane fade" id="tabs-network-8">
                        <%=
                        partial("partials/operation/manage/networktabcard.html")
                        %>
                      </div>
                      <div class="tab-pane fade" id="tabs-security-8">
                        <%=
                        partial("partials/operation/manage/securitytabcard.html")
                        %>
                      </div>
                      <div class="tab-pane fade" id="tabs-other-8">
                        <%=
                        partial("partials/operation/manage/othertabcard.html")
                        %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <div align="right">
                <button type="submit" class="btn btn-secondary">Clear</button>
                <button
                  type="submit"
                  class="btn btn-info"
                  onclick="webconsolejs['partials/operation/manage/mciscreate'].exprertDone_btn()"
                >
                  Done
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= javascriptTag("partials/operation/manage/mciscreate.js") %> <%=
javascriptTag("common/api/services/mcis_api.js") %><!--API 호출-->
<%= javascriptTag("common/api/services/disk_api.js") %><!--API 호출-->
<%= javascriptTag("common/api/services/vmimage_api.js") %><!--API 호출-->
