<!-- TODO :  다른 탭의 Partial을 참조해야함-->

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><strong>MCIS</strong> / server</h3>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="table-responsive">
        <table
          class="table table-vcenter table-bordered table-nowrap card-table"
        >
          <thead>
            <tr>
              <td class="w-50">
                <div class="d-flex align-items-baseline">
                  <div class="h1 mb-0 me-2" id="total_mcis">1</div>
                  <div class="me-auto">
                    <span>/</span>
                    <span
                      class="text-gray d-inline-flex align-items-center lh-1" id="total_vm"
                    >
                      1
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-center bg-info">
                <div class="p-3 mb-2 fs-1 text-white" id="mcis_status_running">0</div>
              </td>
              <td class="text-center bg-red">
                <div class="p-3 mb-2 fs-1 text-white" id="mcis_status_stopped">0</div>
              </td>
              <td class="text-center bg-secondary">
                <div class="p-3 mb-2 fs-1 text-white" id="mcis_status_terminated">0</div>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row"></div>
  </div>
</div>

<%= javascriptTag("partials/operation/manage/mcisserver_summary.js") %>