<!-- server list 클릭 시 -->
<div class="card section" id="server_info">
  
    <div class="card-header">
      <h3 class="card-title">
        Server Info<span id="server_info_text" class="text-info">
          
        </span>
      </h3>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row p-4">
          <div class="col-md-2">
            <div class="form-group mb-2">
            <img class="img-fluid" class="rounded" width="80" id="mcis_server_info_status_img"/>

            </div>
          </div>
          <div class="col-md-6">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Name</h5>
                </div>
                <div class="form-description" id="server_info_name"></div>
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Description</h5>
                </div>
                <div class="form-description" id="server_info_desc"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row p-4">
          <div class="col-md-2">
            <div class="form-group mb-2">
            <span id="mcis_server_info_connection"></span>

            </div>
          </div>
          <div class="col-md-2">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Operating System</h5>
                </div>
                <div class="form-description" id="server_info_os"> </div>
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Architecture</h5>
                </div>
                <div class="form-description" id="server_info_archi"> </div>
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>VMSpecName</h5>
                </div>
                <div class="form-description" id="server_info_vmspec_name"> </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>StartTime</h5>
                </div>
                <div class="form-description" id="server_info_start_time"> </div>
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Public IP</h5>
                </div>
                <div class="form-description" id="server_info_public_ip"> </div>
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>/ DNS</h5>
                </div>
                <div class="form-description" id="server_info_public_dns"> </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Private IP</h5>
                </div>
                <div class="form-description" id="server_info_private_ip"> d</div>
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>/ DNS</h5>
                </div>
                <div class="form-description" id="server_info_private_dns"> </div>
              </div>

              <div class="datagrid-item">
                <div class="form-label">
                  <h5>ConfigName</h5>
                </div>
                <div class="form-description" id="server_info_connection_name"> </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>VMID</h5>
                </div>
                <div class="form-description" id="server_info_cspVMID"> </div>
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Region</h5>
                </div>
                <div class="form-description" id="server_info_region"> </div>
             
              </div>
              <div class="datagrid-item">
                <div class="form-label">
                  <h5>Zone</h5>
                </div>
                <div class="form-description" id="server_info_zone"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-4">
      <div class="col">
        <%= partial("partials/operation/manage/serverdetailinfo.html") %>
      </div>
    </div>
  </div>

