<div class="container">
  <div class="row">
    <div class="col-lg-auto">
      <div class="datagrid">
        <div class="datagrid-item">
          <div class="form-label">Server ID</div>
          <div class="form-description" id="server_detail_view_server_id"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Server Status</div>
          <div class="form-description" id="server_detail_view_server_status"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Server Spec</div>
          <div class="form-description" id="server_detail_view_server_spec"></div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Public DNS(IPv4)</div>
          <div class="form-description" id="server_detail_view_public_dns"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Public IP(IPv4)</div>
          <div class="form-description" id="server_detail_view_public_ip"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Region</div>
          <div class="form-description" id="server_detail_view_region"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Zone</div>
          <div class="form-description" id="server_detail_view_zone"></div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Security Group</div>
          <div class="form-description" id="server_detail_view_security_group_text"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Private DNS</div>
          <div class="form-description" id="server_detail_view_private_dns"></div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Private IP</div>
          <div class="form-description" id="server_detail_view_private_ip"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Image ID</div>
          <div class="form-description" id="server_detail_view_image_id"> </div>
        </div>
      </div>
    </div>
    <div class="col-lg-auto">
      <div class="datagrid">
        <div class="datagrid-item">
          <div class="form-label">Platform</div>
          <div class="form-description" id="server_detail_view_archi"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Operating System</div>
          <div class="form-description" id="server_detail_view_os"></div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">VPC ID</div>
          <div class="form-description" id="server_detail_view_vpc_id">
            
          </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">subnet ID</div>
          <div class="form-description" id="server_detail_view_subnet_id">
            
          </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Network Interface</div>
          <div class="form-description" id="server_detail_view_eth"></div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Root Device Type</div>
          <div class="form-description" id="server_detail_view_root_device_type"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Root Device</div>
          <div class="form-description" id="server_detail_view_root_device"></div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Block Device</div>
          <div class="form-description" id="block_device_section"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Keypair Name</div>
          <div class="form-description" id="server_detail_view_keypair_name"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">Access ID / Pwd</div>
          <div class="form-description" id="server_detail_view_access_id_pass"> </div>
        </div>
        <div class="datagrid-item">
          <div class="form-label">User ID / Pwd</div>
          <div class="form-description" id="server_detail_view_user_id_pass"> </div>
        </div>
      </div>
    </div>
  </div>
</div>