<div class="card bg-secondary-lt">
  <div class="card-header">
    <div class="container">
      <div class="col-sm">
        <h3 class="card-title">
          Server Detail Info<span id="server_detail_info_text" class="text-info">
            
          </span>
        </h3>
      </div>
      <div class="col-sm" id="server_detail_info_public_ip_text">
        
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= partial("partials/operation/manage/servertabcards.html") %>
  </div>
</div>
