    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Server Status</h3>
        </div>

        <div class="card-body">
        <div class="row row-cards">
            <div class="col-md-6">
            <div class="card card-borderless">
                <div class="card-header">
                <h1 class="card-title" id="total_vm">0</h1>
                </div>
            </div>
            </div>

            <div class="col-md">
            <div class="card bg-blue text-primary-fg">
                <div class="card-header">
                <h1 class="card-title mx-auto" id="vm_status_running">
                    0
                </h1>
                </div>
            </div>
            </div>

            <div class="col-md">
            <div class="card bg-red text-primary-fg">
                <div class="card-header">
                <h1 class="card-title mx-auto" id="vm_status_stopped">
                    0
                </h1>
                </div>
            </div>
            </div>

            <div class="col-md">
            <div class="card bg-muted text-primary-fg">
                <div class="card-header">
                <h1 class="card-title mx-auto" id="vm_status_terminated">
                    0
                </h1>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>