<div class="dashboard dashboard_cont detail_box" id="myImageInfoBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>MyImage Info</strong> [ <span class="stxt" id="myImageName"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li>
                                <label>My Image Name</label>
                                <span class="sbox">
                                    <input type="text" id="dtlMyImageName" name="dtlMyImageName" value=""
                                        placeholder="" class="gray" title="" disabled />
                                    <input type="hidden" id="dtlMyImageId" name="dtlMyImageId" value=""
                                        placeholder="" />
                                </span>
                            </li>
                            <li>
                                <label>Source VM ID</label>
                                <span class="sbox">
                                    <input type="text" id="dtlSouceVmId" name="dtlSouceVmId" value=""
                                        placeholder="" class="gray" title="" disabled />
                                </span>
                            </li>
                            <li>
                                <label>Cloud Provider</label>
                                <input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder=""
                                    class="gray" title="" readonly />

                            </li>                           
                            <li>
                                <label>Region Name</label>
                                <input type="text" id="dtlRegionName" name="dtlRegionName" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>
                            <!--
                            <li>
                                <label>Connection Name</label>
                                <span class="sbox">
                                    <input type="text" id="dtlConnectionName" name="dtlConnectionName" value=""
                                        placeholder="" class="gray" title="" disabled />
                                </span>
                            </li>
                            -->
                        </ul>
                    </div>
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Status</label>
                                <input type="text" id="dtlStatus" name="dtlStatus" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Creation Date</label>
                                <input type="text" id="dtlCreationDate" name="dtlCreationDate" value=""
                                    placeholder="" class="gray" title="" readonly />
                            </li>
                    
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>