		<div class="dashboard dashboard_cont detail_box" id="securityGroupInfoBox">

			<div class="d_box box_m box_w100">
				<div class="titbox_n">
					<div class="tit initial"><strong>Security Group Info</strong> [<span class="stxt"></span>]</div>
				</div>

				<div class="ds_cont">
					<div class="register_box">

						<div class="top_ipbox">
							<div class="ipbox ipbox1">
								<ul>
									<li class="reg_1">
										<label>Security Group Name</label>
										<span class="sbox">
											<input type="text" id="dtlCspSecurityGroupName"
												name="dtlCspSecurityGroupName" value="" placeholder="" class="gray"
												title="" readonly />
										</span>
									</li>

									<li class="reg_1">
										<label>Description</label>
										<textarea id="dtlDescription" name="dtlDescription" cols="" rows=""
											placeholder="Description" class="gray" title="" readonly></textarea>
									</li>
								</ul>
							</div>
							<div class="ipbox ipbox2">
								<ul>
									<li class="reg_2">
										<label>Cloud Provider</label>
										<input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder=""
											class="gray" title="" readonly />
									</li>
									<li class="reg_2">
										<label>Region</label>
										<input type="text" id="dtlRegionName" name="dtlRegionName" value="" placeholder=""
											class="gray" title="" readonly />
									</li>
									<!-- <li class="reg_2">
										<label>Cloud Connection</label>
										<input type="text" id="dtlConnectionName" name="dtlConnectionName" value=""
											placeholder="" class="gray" title="" readonly />
									</li> -->
									<li class="reg_2">
										<label>VPC Id</label>
										<input type="text" id="dtlvNetId" name="dtlvNetId" value="" placeholder=""
											class="gray" title="" readonly />
									</li>
									<li>
										<label>Firewall RuleSet</label>
										<div class="reg_stxt">

											<div class="bubble_box">
												<div class="box">
													<span class="s_txt">Inbound</span>
													<div class="bb_info" id="dtlInbound"></div>
												</div>,
												<div class="box">
													<span class="s_txt">Outbound</span>
													<div class="bb_info" id="dtlOutbound"></div>
												</div>
												<div class="box">
													<span class="s_txt">CIDR</span>
													<div class="bb_info" id="dtlCidr"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- 수정기능 없음				
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_modify">Modify</button> 
										</div>
									</div>
								 -->
					</div>
				</div>

			</div>

		</div>