<!-- <div class="register_box modal fade" id="firewallRegisterBox" tabindex="-1" role="dialog" aria-hidden="true"> -->
<div class="modal fade popup_editBox" id="firewallRegisterBox" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" id="parentsSecurityGroupAssist"><!--호출한 parent-->
	
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="pop-body">

                    <div class="title_box">
                        <div class="title">Firewall RuleSet</div>

                        <div class="btnbox">
							<div class="btn_right">
								<button name="btn_add_firewallrules" value="" class="btn_add btn_co btn_cr_g"><span>Add</span></button>
                                <button name="btn_delete_firewallrules" value="" class="btn_delete btn_co btn_cr_g"><span>Delete</span></button>                                
							</div>
						</div>
                    </div>

                    <div class="pop-cont">

                        <!-- table scrollbar -->
                        <div id="firewallRulesetList"></div>

                        <!-- <div class="dtbox scrollbar-inner">
                            <div class="dataTable dt_overlay">
                                <table cellpadding="0" cellspacing="0" border="1" summary=""
                                    id="firewallRSlistTbl">
                                    <thead>
                                        <tr>
                                            <th class="column-16percent">FromPort</th>
                                            <th class="column-16percent">ToPort</th>
                                            <th class="column-16percent">IPProtocol</th>
                                            <th>Direction</th>
                                            <th class="column-16percent">CIDR</th>
                                            <th class="column-80px"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="fwrsList">

                                        <tr class="ip" name="tr_Input">
                                            <td class="btn_mtd column-16percent" data-th="fromPort">
                                                <input type="text" value="" name="fromport" placeholder=""
                                                    class="pline" title="" />
                                                <span class="ov off"></span>
                                            </td>
                                            <td class="overlay hidden column-16percent" data-th="toPort">
                                                <input type="text" name="toport" value="" placeholder=""
                                                    class="pline" title="" />
                                            </td>
                                            <td class="overlay hidden column-16percent" data-th="ipProtocol">
                                                <select class="selectbox white pline" name="ipprotocol">
                                                    <option value="tcp">TCP</option>
                                                    <option value="udp">UDP</option>
                                                    <option value="*">ALL</option>
                                                </select>
                                            </td>
                                            <td class="overlay hidden" data-th="direction">
                                                <select class="selectbox white pline" name="direction">
                                                    <option value="inbound">Inbound</option>
                                                    <option value="outbound">Outbound</option>
                                                </select>
                                            </td>
                                            <td class="btn_mtd column-16percent" data-th="cidr">
                                                <input type="text" value="" name="cidr" placeholder=""
                                                    class="pline" title="" />
                                                <span class="ov off"></span>
                                            </td>
                                            <td class="overlay hidden column-80px" data-th="">
                                                <button class="btn btn_add" name="btn_add">add</button>
                                                <button class="btn btn_del" name="delInput">del</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                        <!-- //table scrollbar -->

                        <div class="b_txt"><span class="ch">*</span> 방화벽 RuleSet에 추가할 서버를 정의하고 하단의 <span
                                class="txt">“추가 적용” 버튼</span>을 클릭하여 서버 풀에 추가합니다.</div>
                    </div>

                </div>

                <div class="btnbox">
                    <div class="btn_right">                        
                        <button name="" value="" class="btn_apply btn_co btn_cr_g" data-dismiss="modal"><span>Apply</span></button>
                        <button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<%= javascriptTag("securitygroup/firewallruleset_modal.js") %>