/* common */

.main {
  background-color: #f3f3f3;
}

html,
body {
  height: 100%;
}

.body_hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

.logic_tbox > div > a:link {
  color: #ffffff;
  font-weight: 400;
}

.logic_tbox > div > a:hover {
  color: #dad73d;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.wrapper.scrollbar-dynamic {
  max-height: none;
}

.font-NotoKR {
  font-family: "Noto Sans KR";
}

.main-container {
  display: flex;
  height: auto;
  min-height: 100%;
  padding-bottom: 77px;
}

.contents {
  padding-right: 30px;
  padding-bottom: 50px;
  width: 100%;
}

/* lnb */
#lnb {
  width: 205px;
  padding: 0px 30px;
}

#lnb .topbox {
  width: 100%;
  margin-bottom: 20px;
}

#lnb .topbox .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lnb .topbox .info .txt_1 {
  display: none;
  color: #5e636c;
  font-size: 14px;
  font-weight: 300;
}

#lnb .topbox .info .txt_2 {
  position: relative;
  margin: 0px 0 0 0;
  cursor: pointer;
  display: inline-block;
}

#lnb .topbox .info .txt_2 span {
  position: relative;
  color: #5e636c;
  font-size: 14px;
  line-height: 20px;
  width: 135px;
  height: 30px;
  font-weight: 800;
  border-radius: 30px;
  background-color: #d9d9d9;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lnb .topbox .info .txt_2 span:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(135deg);
  border-top: 3px solid #5e636c;
  border-right: 3px solid #5e636c;
  margin-bottom: 3px;
}

#lnb .topbox .info .txt_2 .infobox {
  display: none;
  position: absolute;
  left: 50%;
  top: 43px;
  transform: translateX(-50%);
  background-color: #5e636c;
  border-radius: 8px;
  cursor: default;
  z-index: 2;
}

#lnb .topbox .info .txt_2 .infobox:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 7px solid #5e636c;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

#lnb .topbox .info .txt_2 .infobox .box {
  padding: 20px 20px 21px 24px;
  min-width: 136px;
  text-align: left;
}

#lnb .topbox .info .txt_2 .infobox .box .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #999ea7;
}

#lnb .topbox .info .txt_2 .infobox .box > ul > li {
  margin: 8px 0 2px 0;
  color: #06a9b7;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

#lnb .topbox .info .txt_2 .infobox .box > ul > li:first-child {
  margin: 0;
}

#lnb .topbox .info .txt_2 .infobox .box > ul > li > a {
  color: #06a9b7;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

#lnb .topbox .info .txt_2 .infobox .box > ul > li > ul {
  padding: 0 0 0 12px;
}

#lnb .topbox .info .txt_2 .infobox .box > ul > li > ul > li {
  margin: 8px 0 0 0;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
}

#lnb .topbox .info .txt_2 .infobox .box > ul > li > ul > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
}

#lnb .topbox .info .txt_2 .infobox .box > ul > li > ul > li > a:hover {
  color: #dad73d;
  font-weight: 400;
  background-color: #535757;
}

#lnb .leftmenu {
  position: relative;
}

#lnb .leftmenu .leftmenu-title {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  color: #252d3a;
  border-bottom: 1px solid #999ea7;
}

#lnb .leftmenu ul.menu {
  margin-top: 5px;
  margin-bottom: 50px;
}

#lnb .leftmenu ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 20px;
  height: 30px;
  color: #5e636c;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#lnb .leftmenu ul.menu > li > ul {
  display: none;
  padding-left: 30px;
}

#lnb .leftmenu ul.menu > li > ul > li > a {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 30px;
  color: #5e636c;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#lnb .leftmenu ul.menu > li > ul > li.on > a {
  border-radius: 4px;
  background-color: #d9d9d9;
}

#lnb .leftmenu ul.menu > li > a::before {
  display: inline-block;
  margin-right: 10px;
  mix-blend-mode: difference;
  background-size: contain;
  background-repeat: no-repeat;
}

#operation > li:nth-child(1) > a:before {
  content: "";
  width: 13px;
  height: 12px;
  background-image: url(/assets/images/contents/icon_menu1_1.png);
}

#operation > li:nth-child(2) > a:before {
  content: "";
  width: 13px;
  height: 15px;
  background-image: url(/assets/images/contents/icon_menu1_2.png);
}

#operation > li:nth-child(3) > a:before {
  content: "";
  width: 14px;
  height: 15px;
  background-image: url(/assets/images/contents/icon_menu1_3.png);
}

#operation > li:nth-child(4) > a:before {
  content: "";
  width: 13px;
  height: 15px;
  background-image: url(/assets/images/contents/icon_menu1_4.png);
}

#operation > li:nth-child(5) > a:before {
  content: "";
  width: 14px;
  height: 12px;
  background-image: url(/assets/images/contents/icon_menu1_5.png);
}

#operation > li:nth-child(6) > a:before {
  content: "";
  width: 13px;
  height: 12px;
  background-image: url(/assets/images/contents/icon_menu1_5.png);
}

#settings > li:nth-child(1) > a:before {
  content: "";
  width: 12px;
  height: 13px;
  background-image: url(/assets/images/contents/icon_menu2_1.png);
}

#settings > li:nth-child(2) > a:before {
  content: "";
  width: 15px;
  height: 13px;
  background-image: url(/assets/images/contents/icon_menu2_2.png);
}

#settings > li:nth-child(3) > a:before {
  content: "";
  width: 15px;
  height: 13px;
  background-image: url(/assets/images/contents/icon_menu2_3.png);
}

#settings > li:nth-child(4) > a:before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(/assets/images/contents/icon_menu2_4.png);
}

#lnb .bottom {
  display: none;
  position: relative;
  width: 100%;
  z-index: 99999;
}

#lnb .bottom .topmenu {
  position: relative;
  padding: 10px 15px 5px 0;
  border-top: 1px solid #999ea7;
}

#lnb .bottom .topmenu > ul {
  text-align: center;
}

#lnb .bottom .topmenu > ul > li {
  position: relative;
  display: inline-block;
  margin: 0 0 0 22px;
  color: #5e636c;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  vertical-align: bottom;
}

#lnb .bottom .topmenu > ul > li.user {
  display: none;
}

#lnb .bottom .topmenu > ul > li > a {
  position: relative;
  display: block;
}

#lnb .bottom .topmenu > ul > li:first-child > a img {
  height: 22px;
}

#lnb .bottom .topmenu > ul > li > a img {
  vertical-align: middle;
  display: inline-block;
}

#lnb .bottom .topmenu > ul > li > span {
  position: absolute;
  right: -8px;
  top: -7px;
  padding: 3px 6px;
  background-color: #fc1656;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
}

#lnb .bottom .topmenu .infobox {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 36px;
  transform: translateX(-50%);
  background-color: #5e636c;
  border-radius: 8px;
}

#lnb .bottom .topmenu .infobox:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 7px solid #5e636c;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

#lnb .bottom .topmenu .infobox .box {
  padding: 20px 24px 21px 24px;
  min-width: 156px;
  text-align: left;
}

#lnb .bottom .topmenu .infobox .box.box_txt {
  padding: 12px 12px;
  min-width: auto;
  white-space: nowrap;
  color: #fff;
  font-size: 13px;
}

#lnb .bottom .topmenu .infobox .box p {
  color: #06a9b7;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

#lnb .bottom .topmenu .infobox .box > ul > li {
  margin: 5px 0 0 0;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
}

#lnb .bottom .topmenu .infobox .box > ul > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
}

@media screen and (max-width: 1024px) {
  #lnb {
    width: 220px;
    padding: 50px 5px 0;
    position: fixed;
    right: -350px;
    top: 0;
    bottom: 0;
    left: auto;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    height: 100%;
    background-color: #f3f3f3;
    box-shadow: 5px 0 8px 5px #888;
  }

  #lnb .bg {
    display: none;
  }

  #lnb.on .bg {
    display: block;
    background: rgba(255, 255, 255, 0.01);
    width: 100%;
    height: 100%;
  }

  #lnb .topbox .info .txt_1 {
    display: block;
  }

  #lnb .topbox .info .txt_2 {
    margin-top: 10px;
  }

  #lnb .m_box {
    min-height: 100%;
    clear: both;
    margin-bottom: -50px;
  }

  #lnb .leftmenu {
    padding: 0 0 70px 0;
  }

  #lnb .bottom {
    display: block;
  }
}

@media screen and (max-width: 768px) {
}

#btn_menu {
  display: none;
  position: absolute;
  right: 30px;
  width: 30px;
  z-index: 999;
  margin-top: -10px;
}

#btn_menu:before,
#btn_menu:after,
#btn_menu span {
  content: "";
  display: block;
  height: 1px;
  background: #000;
}

#btn_menu span {
  width: auto;
  margin: 10px 0 10px 8px;
}

#m_close {
  display: none;
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 999999;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#m_close:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background: #a89704;
}

#m_close:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  margin: 0 auto;
  background: #a89704;
}

#badge {
  display: none;
  position: absolute;
  right: -8px;
  top: -7px;
  padding: 3px 6px;
  background-color: #fc1656;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
}

/* new left menu */
.mainnav__caption {
  color: #aaaaaa;
  font-size: 12px;
}

.mainnav__inner .mainnav__menu > .nav-item > .nav-link {
  display: flex;
  align-items: center;
}

.mainnav__inner .mainnav__menu > .nav-item > .nav-link.active {
  background-color: #666666;
  border-radius: 0.4375rem;
  box-shadow: none;
  color: #fff;
  font-weight: 700;
}

.mainnav__inner .nav-link {
  background-color: transparent;
  color: #888888;
  font-size: 14px;
  padding: 10px;
}

.mainnav__inner .nav-link.disabled {
  opacity: 0.4;
}

.mainnav__inner .nav-link:hover {
  background-color: transparent;
  color: #666666;
}

.mainnav__inner .nav-link.active:not(.important) {
  background-color: transparent;
  color: #666666;
  font-weight: 500;
}

.mainnav__inner .nav-link.active .nav-icon,
.mainnav__inner .nav-link.active i {
  color: #fff !important;
}

.mainnav__inner .nav-link .nav-icon,
.mainnav__inner .nav-link i {
  color: #c3c9cc !important;
}

.mainnav__menu .mininav-content {
  flex-direction: column;
  flex-wrap: nowrap;
}

.mainnav__menu .mininav-toggle {
  align-items: center;
  display: flex;
}

.mainnav__menu .mininav-toggle .nav-icon,
.mainnav__menu .mininav-toggle i,
.mainnav__menu .mininav-toggle > .nav-label {
  pointer-events: none;
}

.mainnav__menu .mininav-toggle .nav-label {
  display: inline-block;
  margin-left: 10px;
}

.mainnav__menu .has-sub > .mininav-toggle:not(.has-badge):after {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 0.55em;
  margin-left: auto;
  transform: rotate(135deg);
  transition: transform 175ms;
  width: 0.55em;
}

.mainnav__menu .has-sub > .mininav-toggle.collapsed:after {
  transform: rotate(45deg);
}

.mainnav__menu .has-sub.open > .mininav-content {
  display: block;
  height: auto !important;
}

.mainnav__menu .has-sub.open > .mininav-toggle:after {
  transition: none !important;
  transform: rotate(135deg) !important;
}

@media (max-width: 991.98px) {
  .mininav-content {
    position: static !important;
    transform: none !important;
  }

  .mainnav__menu > .nav-item.has-sub .has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(0, 0, 0, 0.45);
    border-radius: 0.4375rem;
    margin-inline-start: calc(0.25em + 1rem) !important;
    padding-inline-start: 0.5rem;
  }

  .mainnav__menu
    > .nav-item.has-sub
    .has-sub
    > .mininav-content
    > .nav-item
    > .nav-link {
    padding-inline: 0.75em;
  }

  .mainnav__menu > .nav-item.has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(0, 0, 0, 0.45);
    margin-inline-start: 1.75em !important;
  }

  .mainnav__menu
    > .nav-item.has-sub
    > .mininav-content
    > .nav-item
    > .nav-link {
    padding-inline-start: calc(0.1em + 1rem);
  }
}

@media (min-width: 992px) {
  .mininav-content {
    position: static !important;
    transform: none !important;
  }

  .mainnav__menu > .nav-item.has-sub .has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(0, 0, 0, 0.45);
    margin-inline-start: calc(0.25em + 1rem);
    padding-inline-start: 0.5rem;
  }

  .mainnav__menu
    > .nav-item.has-sub
    .has-sub
    > .mininav-content
    > .nav-item
    > .nav-link {
    padding-inline: 0.75em;
  }

  .mainnav__menu > .nav-item.has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(0, 0, 0, 0.45);
    margin-inline-start: 1.75em;
  }

  .mainnav__menu
    > .nav-item.has-sub
    > .mininav-content
    > .nav-item
    > .nav-link {
    padding-inline-start: calc(0.1em + 1rem);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
  margin-bottom: 30px;
  height: 60px;
  border-bottom: 1px solid #ccd0d4;
}

.header .logo img {
  height: 45px;
}

.header .topmenu > ul {
  display: flex;
  align-items: center;
}

.header .topmenu > ul > li {
  position: relative;
  float: left;
  margin: 0 0 0 42px;
  color: #5e636c;
  font-size: 14px;
  line-height: 14px;
}

.header .topmenu > ul > li.user {
  font-size: 14px;
  font-weight: 300;
}

.header .topmenu > ul > li > a {
  position: relative;
  display: block;
}

.header .topmenu > ul > li > a img {
  vertical-align: middle;
}

.header .topmenu .logout img {
  height: 22px;
}

.header .topmenu .notice {
  margin: 0 0 0 36px;
}

.header .topmenu .email {
  margin: 0 0 0 38px;
}

.header .topmenu .setting {
  margin: 0 0 0 39px;
}

.header .topmenu .infobox {
  display: none;
  position: absolute;
  right: 0;
  top: 36px;
  transform: translateX(15%);
  background-color: #5e636c;
  border-radius: 8px;
  z-index: 1;
}

.header .topmenu .infobox .box {
  padding: 20px 24px 21px 24px;
  min-width: 156px;
  text-align: left;
}

.header .topmenu .infobox .box.box_txt {
  padding: 12px 15px;
  min-width: auto;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
}

.header .topmenu .infobox .notice_table {
  min-width: 900px;
  font-size: 14px;
  vertical-align: middle;
}

.header .topmenu .infobox .notice_table thead #thDescription,
.header .topmenu .infobox .notice_table tbody #tdDescription {
  width: 60%;
}

.header .topmenu .infobox .notice_table thead {
  color: #fff;
  margin: 12px 15px 10px;
}

.header .topmenu .infobox .notice_table thead tr {
  text-align: center;
}

.header .topmenu .infobox .notice_table tbody {
  margin: 3px 5px 10px;
  padding: 5px 0 5px 10px;
  height: 300px;
  overflow-y: auto;
}

.header .topmenu .infobox .notice_table tbody tr {
  margin: 5px 0;
  text-align: center;
}

.header .topmenu .infobox .box p {
  color: #06a9b7;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.header .topmenu .infobox .box > ul > li {
  margin: 8px 0 2px 0;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
}

.header .topmenu .infobox .box > ul > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
}

@media screen and (max-width: 1200px) {
  .header .topmenu {
    right: 35px;
  }

  .header .topmenu > ul > li {
    margin: 0 0 0 30px;
  }

  .header .topmenu .notice {
    margin: 0 0 0 30px;
  }

  .header .topmenu .email {
    margin: 0 0 0 30px;
  }

  .header .topmenu .setting {
    margin: 0 0 0 30px;
  }
}

@media screen and (max-width: 1024px) {
  #btn_menu {
    display: block;
  }

  #m_close {
    display: block;
  }

  #contents {
    margin-left: 0;
  }

  .header {
    width: 100%;
    background-color: #f3f3f3;
    padding: 10px 35px;
  }

  .header .topmenu {
    display: none;
  }

  #lnb .leftmenu ul.nav li:nth-child(1) a:before {
    left: 35px;
    top: 19px;
  }

  #lnb .leftmenu ul.nav li:nth-child(2) a {
    width: 120px;
  }

  #lnb .leftmenu ul.nav li:nth-child(2) a:before {
    left: 45px;
    top: 19px;
  }

  #lnb .leftmenu ul.nav li:nth-child(2) a.active:before {
    left: 45px;
    top: 19px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 25px;
  }

  .header .topmenu {
    right: 25px;
  }

  .header .topmenu > ul > li {
    margin: 0 0 0 25px;
  }

  .header .topmenu .notice {
    margin: 0 0 0 25px;
  }

  .header .topmenu .email {
    margin: 0 0 0 25px;
  }

  .header .topmenu .setting {
    margin: 0 0 0 25px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding: 10px 20px;
  }

  .header .topmenu {
    right: 20px;
  }
}

/* container */
#contents .contbox {
  width: 100%;
  padding: 45px 45px 140px 45px;
  min-height: 750px;
}

@media screen and (max-width: 1200px) {
  #contents .contbox {
    padding: 28px 35px 120px 35px;
  }
}

@media screen and (max-width: 1024px) {
  #contents .contbox {
    padding: 100px 35px 120px 35px;
  }
}

@media screen and (max-width: 768px) {
  #contents .contbox {
    padding: 90px 25px 120px 25px;
  }
}

@media screen and (max-width: 640px) {
  #contents .contbox {
    padding: 88px 20px 120px 20px;
  }
}

/* color */
.color_b {
  color: #06a9b7;
}

.color_y {
  color: #ffc800;
}

.color_r {
  color: #fc1656;
}

.color_g {
  color: #5e636c;
}

.color_running {
  color: #06a9b7;
}

.color_stopped {
  color: #ffc800;
}

.color_terminated {
  color: #fc1656;
}

.color_etc {
  color: #5e636c;
}

.bgbox_b {
  background-color: #06a9b7;
}

.bgbox_y {
  background-color: #ffc800;
}

.bgbox_r {
  background-color: #fc1656;
}

.bgbox_g {
  background-color: #5e636c;
}

.bgbox_running {
  background-color: #06a9b7;
}

.bgbox_stop {
  background-color: #ffc800;
}

.bgbox_suspended {
  background-color: #ffc800;
}

.bgbox_terminate {
  background-color: #fc1656;
}

.bgbox_etc {
  background-color: #5e636c;
}

/* select 
.nice-select { border-radius:5px; border:none; background-color:#e7ebee; box-sizing:border-box; cursor:pointer; display:inline-block; vertical-align:middle; color:#5e636c; font-weight:300; font-size:15px; height:38px; line-height:38px; outline:none; padding:0 28px 0 15px; position:relative; text-align:left !important; -webkit-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; white-space:nowrap; }
.nice-select .current { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block; width:100%; }
.nice-select.white { border:1px solid #e1e1e1; background-color:#fff; }
.nice-select.pline { border:1px dashed #ccc; }
.nice-select:active, .nice-select.open, 
.nice-select:focus { border:none; }
.nice-select.white:active, 
.nice-select.white.open, 
.nice-select.white:focus { border:1px solid #e1e1e1; }
.nice-select.pline:active, 
.nice-select.pline.open, 
.nice-select.pline:focus { border:1px dashed #ccc; }
.nice-select:after { content:''; display:block; pointer-events:none; width:10px; height:9px; background:url(/assets/images/contents/icon_down_sel.png) center center no-repeat; position:absolute; right:12px; top:50%; transform:translateY(-50%) rotate(0deg); transition:all 0.15s ease-in-out; }
.nice-select.open:after { transform:rotate(-180deg); margin-top:-5px; }
.nice-select.open .list { opacity:1; pointer-events:auto; transform:scale(1) translateY(0); }
.nice-select.disabled:after { border-color:#cccccc; }
.nice-select .list { text-align:left; background-color:#fff; border-radius:5px; width:100%; border:1px solid #e1e1e1; box-sizing:border-box; margin:0; padding:0; color:#5e636c; font-weight:300; font-size:15px; opacity:0; overflow:hidden; pointer-events:none; position:absolute; top:100%; left:0; transform-origin:50% 0; transform:scale(0.8) translateY(0); transition:all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out; z-index:9; }
.nice-select .list:hover .option:not(:hover) { background-color:transparent !important; }
.nice-select .option { cursor:pointer; color:#5e636c; font-weight:300; font-size:15px; width:100%; line-height:38px; min-height:38px; outline:none; margin:0 !important; padding:0 14px !important; text-align:left !important; transition:all 0.2s; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.nice-select .option:hover, 
.nice-select .option.focus, 
.nice-select .option.selected.focus { background-color:#f6f6f6; }
.nice-select .option.selected { font-weight:400; }
.nice-select .option.disabled { background-color:transparent; color:#999; cursor:default; }
.no-csspointerevents .nice-select .list { display:none; }
.no-csspointerevents .nice-select.open .list { display:block; }
*/

/* add 20.11.06 s */
select {
  border-radius: 5px;
  border: none;
  background-color: #e7ebee;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #5e636c;
  font-weight: 300;
  font-size: 15px;
  height: 38px;
  line-height: 38px;
  outline: none;
  padding: 0 28px 0 15px;
}

select.white {
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

select.pline {
  border: 1px dashed #ccc;
  background-color: #fff;
}

/* add e */

#footer {
  position: relative;
  border-top: 1px solid #d8dde1;
  text-align: center;
  height: 77px;
  transform: translateY(-100%);
}

#footer .txt {
  color: #5e636c;
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#footer .btn_top {
  position: absolute;
  right: 34px;
  top: 50%;
  transform: translateY(-50%);
}

#footer .btn_top a {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  background-color: #5e636c;
}

#footer .btn_top a:before {
  content: "";
  display: block;
  width: 11px;
  height: 20px;
  background: url(/assets/images/contents/btn_top.png) center center no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#footer .btn_top a span {
  overflow: hidden;
  text-indent: -9999em;
  display: block;
}

/* loading */
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes loading-text-opacity {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading-text-opacity {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes loading-text-opacity {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* loading size */
.loading-container {
  /* position: relative; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: table;
  z-index: 1000;
}

.loading-container,
.loading {
  height: 80px;
  /* position: relative; */
  width: 80px;
  border-radius: 100%;
}

.loading {
  border: 2px solid transparent;
  border-color: transparent #05a9b5 transparent #05a9b5;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading {
  border-color: transparent #e45635 transparent #e45635;
}

.loading-container:hover .loading,
.loading-container .loading {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* text position */
#loading-text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #000;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 10px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: table-cell;
  vertical-align: middle;
}
