<div class="page page-center" >

  <div class="container container-tight py-4">

    <div class="text-center mb-4">
      <a class="navbar-brand navbar-brand-autodark">
        <div class="row">
          <div>
            <img src="/assets/static/logo/cloud.svg" width="150" >
          </div>
          <h1>MC-WEB-CONSOLE</h1>
        </div>
      </a>
    </div>

    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Unauthorized</h2>
        
          <div class="form-footer">
            <a href="/auth/login" class="btn btn-primary w-100">Back to Login</a>
          </div>

      </div>
    </div>

    <div class="text-center text-secondary mt-3">
      <a href="#" tabindex="-1">Register Account</a>
    </div>

  </div>
</div>

<!-- page JS -->
<%= javascriptTag("pages/auth/login.js") %>