
<!-- id/pw required -->
<div class="modal fade" id="required" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="txt">ID/Password required !</div>
        <div class="btnbox">
          <button type="button" class="btn_ok" data-toggle="modal" data-target="#idpwLost">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //required -->

<!-- id/password lost -->
<div class="modal fade" id="idpwLost" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="txt"><span>Illegal account / password</span> 다시 입력 하시겠습니까?</div>
        <div class="btnbox">
          <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn_ok" data-toggle="modal" data-target="#popLogin">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //id/password lost -->

<!-- popup alert : 원래는 공통으로 사용하는 modal.html을 import 하지만 login만 따로... alertArea에 대한 style 정의 필요 -->
<div class="modal fade" id="alertArea" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="txt"><span id="alertText"></div>
        <div class="btnbox">
          <input type="hidden" id="alertOkAction" value="">
          <button type="button" class="btn_ok" data-dismiss="modal" onclick="mcpjs['util/util'].commonAlertClose()">OK</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- //popup alert -->