<!-- Sidebar -->
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
            aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <h1 class="navbar-brand navbar-brand-autodark">
            <a href="/">
                <img src="/assets/static/logo/cloud.svg" width="110" height="32" alt="Tabler"class="navbar-brand-image">
                <p class="tracking-tight">MC-WEB-CONSOLE</p>
            </a>
        </h1>

        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                

                <!-- Operation -->
                <li class="nav-item">
                    <span class="nav-link">
                        Operation
                    </span>
                </li>
                <!-- Operation Dashboard-->
                <li class="nav-item box-link dropdown" name="sidebar_dashboard">
                    <div class="nav-link dropdown-toggle" name="sidebar_dashboard" href="#navbar-base" data-bs-toggle="dropdown"
                        data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-layout-dashboard">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 4h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" />
                                <path d="M5 16h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" />
                                <path
                                    d="M15 12h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" />
                                <path d="M15 4h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            Dashboard
                        </span>
                    </div>
                    <div class="dropdown-menu" name="sidebar_dashboard">
                        <div class="dropdown-menu-column">
                            <a class="dropdown-item" href="/webconsole/operation/dashboard/ns" id="sidebar_dashboard_ns">
                                NS
                            </a>
                            <a class="dropdown-item" href="/webconsole/operation/dashboard/global" id="sidebar_dashboard_global">
                                Global
                            </a>
                        </div>

                    </div>
                </li>
                <!-- Operation Manage-->
                <li class="nav-item box-link dropdown" name="sidebar_manage">
                    <div class="nav-link dropdown-toggle" name="sidebar_manage" href="#navbar-extra" data-bs-toggle="dropdown"
                        data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span
                            class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-notes">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                                <path d="M9 7l6 0" />
                                <path d="M9 11l6 0" />
                                <path d="M9 15l4 0" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            Manage
                        </span>
                    </div>
                    <div class="dropdown-menu" name="sidebar_manage">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="/webconsole/operation/manage/mcis" id="sidebar_manage_mcis">
                                    MCIS
                                </a>
                                <a class="dropdown-item" href="/webconsole/operation/manage/mcks" id="sidebar_manage_mcks">
                                    MCKS
                                </a>
                                <a class="dropdown-item" href="/webconsole/operation/manage/pmks" id="sidebar_manage_pmks">
                                    PMKS
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                <!-- Operation Monitoring-->
                <li class="nav-item box-link dropdown" name="sidebar_monitoring">
                    <div class="nav-link dropdown-toggle"  name="sidebar_monitoring" href="#navbar-extra" data-bs-toggle="dropdown"
                        data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span
                            class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z" />
                                <path d="M7 20h10" />
                                <path d="M9 16v4" />
                                <path d="M15 16v4" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            Monitoring
                        </span>
                    </div>
                    <div class="dropdown-menu"  name="sidebar_monitoring">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="/webconsole/operation/monitoring/mcis"  id="sidebar_monitoring_mcis">
                                    MCIS
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Operation Policy-->
                <li class="nav-item box-link dropdown" name="sidebar_policy">
                    <div class="nav-link dropdown-toggle" name="sidebar_policy" href="#navbar-extra" data-bs-toggle="dropdown"
                        data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span
                            class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-gavel">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M13 10l7.383 7.418c.823 .82 .823 2.148 0 2.967a2.11 2.11 0 0 1 -2.976 0l-7.407 -7.385" />
                                <path d="M6 9l4 4" />
                                <path d="M13 10l-4 -4" />
                                <path d="M3 21h7" />
                                <path
                                    d="M6.793 15.793l-3.586 -3.586a1 1 0 0 1 0 -1.414l2.293 -2.293l.5 .5l3 -3l-.5 -.5l2.293 -2.293a1 1 0 0 1 1.414 0l3.586 3.586a1 1 0 0 1 0 1.414l-2.293 2.293l-.5 -.5l-3 3l.5 .5l-2.293 2.293a1 1 0 0 1 -1.414 0z" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            Policy
                        </span>
                    </div>
                    <div class="dropdown-menu" name="sidebar_policy">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="/webconsole/operation/policy/monitoring" id="sidebar_policy_monitoring">
                                    Monitoring
                                </a>
                                <a class="dropdown-item" href="/webconsole/operation/policy/threshold" id="sidebar_policy_threshold">
                                    Threshold
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Operation Service-->
                <li class="nav-item box-link dropdown" name="sidebar_service">
                    <div class="nav-link dropdown-toggle" name="sidebar_service"href="#navbar-extra" data-bs-toggle="dropdown"data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span
                            class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heart">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            Service
                        </span>
                    </div>
                    <div class="dropdown-menu" name="sidebar_service">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="/webconsole/operation/service/nlb" id="sidebar_service_nlb">
                                    NLB
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Operation about-->
                <li class="nav-item box-link dropdown" name="sidebar_about">
                    <div class="nav-link dropdown-toggle" name="sidebar_about" href="#navbar-extra" data-bs-toggle="dropdown"
                        data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span
                            class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-robot">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M6 4m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
                                <path d="M12 2v2" />
                                <path d="M9 12v9" />
                                <path d="M15 12v9" />
                                <path d="M5 16l4 -2" />
                                <path d="M15 14l4 2" />
                                <path d="M9 18h6" />
                                <path d="M10 8v.01" />
                                <path d="M14 8v.01" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            About
                        </span>
                    </div>
                    <div class="dropdown-menu" name="sidebar_about">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="/webconsole/operation/about/about" id="sidebar_about_about">
                                    About
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Setting -->
                <li class="nav-item">
                    <span class="nav-link">
                        Setting
                    </span>
                </li>
                <!-- Setting Resources-->
                <li class="nav-item box-link dropdown" name="sidebar_resources">
                    <div class="nav-link dropdown-toggle" name="sidebar_resources" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                                <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                                <path d="M3 6l0 13" />
                                <path d="M12 6l0 13" />
                                <path d="M21 6l0 13" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            Resources
                        </span>
                    </div>
                    <div class="dropdown-menu" name="sidebar_resources" aria-expanded="false">
                        <div class="dropdown-menu-column">
                            <a class="dropdown-item" href="/webconsole/setting/resources/network" id="sidebar_resources_network">
                                Network
                            </a>
                            <a class="dropdown-item" href="/webconsole/setting/resources/security" id="sidebar_resources_security">
                                Security
                            </a>
                            <a class="dropdown-item" href="/webconsole/setting/resources/sshkey" id="sidebar_resources_sshkey">
                                SSH Key
                            </a>
                            <a class="dropdown-item" href="/webconsole/setting/resources/serverspec" id="sidebar_resources_serverspec">
                                (Server) Spec
                            </a>
                            <a class="dropdown-item" href="/webconsole/setting/resources/serverimage" id="sidebar_resources_serverimage">
                                (Server) Image
                            </a>
                            <a class="dropdown-item" href="/webconsole/setting/resources/myimage" id="sidebar_resources_myimage">
                                MyImage
                            </a>
                            <a class="dropdown-item" href="/webconsole/setting/resources/disk" id="sidebar_resources_disk">
                                Disk
                            </a>
                        </div>
                    </div>
                </li>
                <!-- Setting Cloudconn-->
                <li class="nav-item box-link dropdown" name="sidebar_cloudconnections">
                    <a class="nav-link dropdown-toggle" name="sidebar_cloudconnections"href="#navbar-extra" data-bs-toggle="dropdown"
                        data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span
                            class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M6.657 18c-2.572 0 -4.657 -2.007 -4.657 -4.483c0 -2.475 2.085 -4.482 4.657 -4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 1c1.488 1.19 2.162 3.007 1.77 4.769h.99c1.913 0 3.464 1.56 3.464 3.486c0 1.927 -1.551 3.487 -3.465 3.487h-11.878" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            Cloud Connections
                        </span>
                    </a>
                    <div class="dropdown-menu" name="sidebar_cloudconnections">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="/webconsole/setting/cloudconnections/cloudconnections" id="sidebar_cloudconnections_cloudconnections">
                                    Cloud Connections
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Setting ns-->
                <li class="nav-item box-link dropdown" name="sidebar_namespace">
                    <a class="nav-link dropdown-toggle" name="sidebar_namespace" href="#navbar-extra" data-bs-toggle="dropdown"
                        data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span
                            class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-spaces">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M6.045 9.777a6 6 0 1 0 5.951 .023" />
                                <path d="M11.997 20.196a6 6 0 1 0 -2.948 -5.97" />
                                <path d="M17.95 9.785q .05 -.386 .05 -.785a6 6 0 1 0 -3.056 5.23" />
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            NameSpace
                        </span>
                    </a>
                    <div class="dropdown-menu" name="sidebar_namespace">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="/webconsole/setting/namespace/namespace" id="sidebar_namespace_namespace">
                                    NameSpace
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</aside>