<div class="page-body">
    <div class="container-xl">

        <div class="row row-cards">

            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Operation Id List</h3>
                    </div>

                    <div class="card-body">
                        <div class="row row-cards">
                            
                            <div class="mb-2 col-sm-4 col-md-2">
                                <label class="form-label required">Target</label>
                                <select id="target" class="form-select">
                                    <option value="">Select the target...</option>
                                    <%= if (devApiSets) { %>
                                        <%= for (devApiSet) in devApiSets { %>
                                            <option value="<%= devApiSet.ServiceName %>"><%= devApiSet.ServiceName %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>

                            <div id="index" class="mb-2 col-sm-8 col-md-10 section" >
                                <label class="form-label required">Select Operation Id</label>
                                <input type="text" class="form-control" value="Select the target..." disabled>
                            </div>

                            <%= if (devApiSets) { %>
                                <%= for (devApiSet) in devApiSets { %>
                                    <div id="<%= devApiSet.ServiceName %>" class="mb-3 col-sm-8 col-md-10 section operationIdSelector" >
                                        <label class="form-label required">Select Operation Id</label>
                                        <select id="<%= devApiSet.ServiceName %>_operationId" class="form-select">
                                            <option value="">Select the operationId...</option>
                                            <%= for (SpecWithOpertaionId) in devApiSet.SpecWithOpertaionId { %>
                                                <option value="<%= SpecWithOpertaionId.OperationId %>"
                                                        resourcePath="<%= SpecWithOpertaionId.Spec.ResourcePath %>"
                                                        desc="<%= SpecWithOpertaionId.Spec.Description %>"
                                                        method="<%= SpecWithOpertaionId.Spec.Method %>">
                                                        <%= SpecWithOpertaionId.OperationId %> - <%= SpecWithOpertaionId.Spec.Description %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                <% } %>
                            <% } %>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">HTTP Request</h3>
                    </div>

                    <div class="card-body">
                        <div class="row row-cards">
                    
                            <div class="mb-2 col-sm-12 col-md-12">
                                <div class="form-label">Resource Path</div>
                                <div class="input-group">
                                    <span class="input-group-text" id="method">----</span>
                                    <input type="text" class="form-control" id="resourcePath" readonly>
                                    <input type="text" class="form-control" id="targetOpertaionId" readonly>
                                </div>
                                <small class="form-hint" id="descformhint" >please, select the OperationId</small>
                            </div>
                            
                            <div class="mb-1 col-sm-12 col-md-12">
                                <div class="form-label required">Path Params</div>
                                <div id="paramsPlaceholder">
                                    <div class="input-group">
                                        <span class="input-group-text pathParamsId">----</span>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-1 col-sm-12 col-md-12">
                                <div class="form-label">Query Params</div>
                                <textarea rows="1" class="form-control" placeholder="json" id="queryParamData"></textarea>
                            </div>

                            <div class="mb-1 col-sm-12 col-md-12">
                                <div class="form-label">Request</div>
                                <textarea rows="5" class="form-control" placeholder="json" id="requestData"></textarea>
                            </div>
                            
                        
                        </div>
                    </div>

                    <div class="card-footer text-end">
                        <button class="btn btn-primary" id="requestBtn">Make request</button>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Request Data</h4>
                        <div>
                            <pre id="responseRequestData">---</pre>
                        </div>

                        <h4>Response Data</h4>
                        <div>
                            <pre id="responseData">---</pre>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<%= javascriptTag("pages/demo/rest/apicall.js") %>
