<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Current User info</h3>
                    </div>
                    <div class="card-body">
                        <div class="datagrid">
                            <div class="datagrid-item">
                                <div class="datagrid-title">User Id</div>
                                <div class="datagrid-content" id="preferred_username">-</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">Token Expire In</div>
                                <div class="datagrid-content" id="exp">-</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">Selected WS / Prj</div>
                                <div class="datagrid-content" id="wsprj">-</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">User Role</div>
                                <div class="datagrid-content" id="role">-</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Credential</h3>
                    </div>
                    <div class="card-body">
                        <div class="row row-cards">
                            <div class="col-md">
                                <div class="card">
                                    <div class="card-status-top bg-red"></div>
                                        <div class="card-header">
                                        <h3 class="card-title">AWS</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="datagrid">
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">AccessKeyId</div>
                                                <div class="datagrid-content" id="awsAccessKeyId">-</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">SecretAccessKey</div>
                                                <div class="datagrid-content" id="awsSecretAccessKey">-</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">SessionToken</div>
                                                <div class="datagrid-content" id="awsSessionToken">-</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Expiration</div>
                                                <div class="datagrid-content" id="awsExpiration">-</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="card">
                                    <div class="card-status-top bg-red"></div>
                                        <div class="card-header">
                                        <h3 class="card-title">Alibaba</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="datagrid">
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">AccessKeySecret</div>
                                                <div class="datagrid-content" id="alibabaAccessKeySecret">-</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">SecurityToken</div>
                                                <div class="datagrid-content" id="alibabaSecurityToken">-</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">AccessKeyId</div>
                                                <div class="datagrid-content" id="alibabaAccessKeyId">-</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Expiration</div>
                                                <div class="datagrid-content" id="alibabaExpiration">-</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Vm List</h3>
                    </div>
                    <div class="card-table table-responsive" >
                        <div id="example-table"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%= javascriptTag("pages/demo/vm/list.vmlist.js") %>
<%= javascriptTag("pages/demo/vm/list.userinfo.js") %>
<%= javascriptTag("pages/demo/vm/list.cred.js") %>