<!-- Register NLB -->
<div class="dashboard dashboard_cont register_cont" id="nlbCreateBox">
    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial cg"><strong>Create NLB</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box reg">
                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label><span class="ch">*</span>NLB Name</label>
                                <input type="text" name="reg_name" id="reg_name" value="" placeholder="Input NLB Name"
                                    class="pline" title="" />
                            </li>
                            <li class="reg_1">
                                <label>Description</label>
                                <textarea name="reg_description" id="reg_description" cols="" rows=""
                                    placeholder="Description" class="pline" title=""></textarea>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label>Cloud Provider</label>
                                <span class="sbox">
                                    <select class="white pline w3" name="ProviderName" id="regProvider"
                                          onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'regRegionName')">
                                                <option value="">Select Cloud Provider</option>
                                            <%= for (provider) in cloud_os_list {%>
                                                <option value="<%= provider %>"><%= provider %></option>
                                            <% } %>
                                    </select>
                                </span>
                            </li>
                            <li>
                                <label><span class="ch">*</span>Region</label>
                                <select class="selectbox white pline w3" id="regRegionName"
                                name="reg_regionName" 
                                onchange="mcpjs['nlb/nlbmng'].changeNlbRegion('nlbcreate','regProvider','regRegionName');">
                                <option selected>Select Region</option>
                                </select>
                            </li>
                            <!-- <li class="reg_1">
                                <label>
                                    <span class="ch">*</span>Connection
                                    Name</label>
                                <span class="sbox">
                                    <select class="white pline w3" name="reg_connectionName" id="regConnectionName"
                                        onchange="getVpcInfoListForSelectbox(this.value, 'regVNetId')">
                                        <option value="1">
                                            Select Connection
                                        </option>
                                    </select>
                                </span>
                            </li> -->
                            <li class="reg_1">
                                <label><span class="ch">*</span>VPC ID</label>
                                <span class="sbox">
                                    <select class="white pline w3" name="reg_vNetId" id="regVNetId">
                                        <option value="">Select VPC</option>
                                    </select>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="graybox">
                    <div class="g_box">
                        <div class="g_ipbox g_ipbox1">
                            <ul>
                                <li>
                                    <div class="sub_titbox">
                                        <div class="tit">
                                            <strong>Listener</strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="reg_1">
                                    <label><span class="ch">*</span>Protocol/Port</label>
                                    <span class="sbox">
                                        <select id="ls_protocol" class=" white pline w_ip1 pair_input" required>
                                            <option value="" selected>Select Protocol</option>
                                            <option value="TCP">TCP</option>
                                            <option value="UDP">UDP</option>
                                        </select>
                                        <input type="text" id="ls_port" name="ls_port" placeholder="1-65535"
                                            class="pline pair_input" title="" />
                                    </span>
                                    <!-- <span class="sbox">
                                        
                                    </span> -->
                                </li>
                            </ul>
                        </div>
                        <div class="g_ipbox g_ipbox1">
                            <ul>
                                <li>
                                    <div class="sub_titbox">
                                        <div class="tit">
                                            <strong>Health Check</strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="reg_1">
                                    <label><span class="ch">*</span>Threshold</label>
                                    <span class="sbox">
                                        <input type="text" id="hc_threshold" name="hc_threshold" placeholder=""
                                            class="pline" title="" />
                                    </span>
                                </li>
                                <li class="reg_1">
                                    <label><span class="ch">*</span>Interval/Timeout</label>
                                    <span class="sbox">
                                        <input type="text" id="hc_interval" name="hc_interval" placeholder=""
                                            class="pline pair_input" title="" />
                                        <input type="text" id="hc_timeout" name="hc_timeout" placeholder=""
                                            class="pline pair_input" title="" />
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="graybox">
                    <div class="g_box">
                        <div class="sub_titbox">
                            <div class="tit">
                                <strong>Target Group</strong>
                            </div>
                        </div>
                        <div class="g_ipbox g_ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <label>Protocol/Port</label>
                                    <span class="sbox">
                                        <select id="tg_protocol" class=" white pline w_ip1 pair_input" required>
                                            <option value="" selected>Select Protocol</option>
                                            <option value="TCP">TCP</option>
                                            <option value="HTTP">HTTP</option>
                                            <option value="HTTPS">HTTPS</option>
                                        </select>
                                        <input type="text" id="tg_port" name="tg_port" placeholder="1-65535"
                                            class="pline pair_input" title="" />
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="g_ipbox g_ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <span class="sbox">
                                        <input type="hidden" id="tg_mcisId" name="tg_mcisId" placeholder=""
                                            class="ip_w1 gray noline" title="" readonly />
                                    </span>
                                </li>
                                <li class="reg_1">
                                    <label>Sub Group ID</label>
                                    <span class="sbox">
                                        <input type="text" id="tg_subGroupId" name="tg_subGroupId" placeholder=""
                                            class="pline gray with_btn" title="" readonly />                                       
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#mcisSubgroupAssist"
									class="btn_mcissubgroup">Assist</a>
                                    </span>
                                </li>
                                <li class="reg_1">
                                    <label>VMS</label>
                                    <textarea name="tg_vms" id="tg_vms" cols="" rows="" placeholder="VMs"
                                        class="pline gray" title="" readonly></textarea>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
                            onclick="mcpjs['nlb/nlbmng'].displayNlbInfo('CLOSE')">
                            Cancel
                        </button>
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok" onclick="mcpjs['nlb/nlbmng'].createNlb()">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register NLB -->

<%= partial("operations/mcismng/subgrouplist_modal.html") %><!-- //register vmpop -->

<%= javascriptTag("nlb/nlbcreate.js") %>