<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Defined Routes</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr text-align="left">
            <th class="centered">name</th>
            <th>file</th>
            <th>link</th>
            <th>HANDLER</th>
          </tr>
        </thead>
        <tbody>

          <%= for (f) in files { %>
            <tr>
              <td class="centered">
                <%= f %>
              </td>
              <td>
              <a href="/debug/tabler/<%= f %>"><%= f %></a>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>
</div>