<div class="dashboard dashboard_cont edit_box" id="vmSpecEditBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Server Spec Info</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label>Spec Name</label>
                                <span class="sbox">
                                    <input type="text" id="dtlSpecName" name="dtlSpecName" value=""
                                        placeholder="" class="pline" title="" readonly />
                                    <!-- <a href="javascript:void(0);"><img src="/assets/images/contents/icon_copy.png" class="icon" alt=""/></a> -->
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="ipbox ipbox1">
                        <ul>
                            <li class="reg_1">
                                <label>Cloud Provider</label>
                                <input type="text" id="dtlProvider" name="dtlProvider" placeholder=""
                                    class="gray" title="" readonly />

                            </li>
                            <li class="reg_1">
                                <label>Connection Name</label>
                                <input type="text" id="dtlConnectionName" name="dtlConnectionName"
                                    placeholder="" class="gray" title="" readonly />

                            </li>
                            <li class="reg_1">
                                <label>CSP Spec Name</label>
                                <input type="text" id="dtlCspSpecName" name="dtlCspSpecName" placeholder=""
                                    class="gray" title="instance유형 t2.micro 등" />
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>