<!-- popup 뜰 때 parent의 provider set : ans = Assist Namespace (VM)Spec-->
<div class="modal fade popup_editBox" id="namespaceVmspecAssist" tabindex="-1" role="dialog" aria-hidden="true">	
	<input type="hidden" id="parentsNamespaceVmSpecAssist">
	<input type="hidden" id="parentsConnectionName">
	<input type="hidden" id="selectedIndexNamespaceVmSpecAssist"><!-- Table에서 선택한 index-->

	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="pop-body">

					<div class="title_box">
						<div class="title">Spec List of Namespace</div>
					</div>

					<div class="pop-cont">
						<div class="spec_box">
							<div class="toptxt search">
								<label>Search</label>
								<input type="submit" name="" class="btn_search_spec" title="" value=""/>
								<ul>
									<li class="reg_1">
										<label class="assistLabel">Cloud Provider</label>
										<select class="selectbox white pline w3" name="assist_namespaceVmSpec_providerId"
											id="ans_providerId"
											onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'ans_regionName');">
											<option value="" selected>Select Cloud Provider</option>
											<%= for (provider) in cloud_os_list {%>
                                                <option value="<%= provider %>"><%= provider %></option>
                                            <% } %>
										</select>

									</li>
									<li class="reg_1">
										<label class="assistLabel"></span>Region</label>
										<select class="selectbox white pline w3" name="assist_namespaceVmSpec_regionName"
											id="ans_regionName">
											<option value="" selected>Select Region</option>
										</select>
									</li>
									<!-- <li class="reg_1">
										<label class="assistLabel"></span>Connection Name</label>
										<select class="selectbox white pline w3" name="assistSpecConnectionName"
											id="assistSpecConnectionName">
											<option value="" selected>Select Connection</option>
										</select>
									</li> -->
								</ul>

							</div>
							<div class="s_box s_box_1">
								<ul>

									<li>
										<label>Memory</label>
										<div class="s_slider_box" id="spec_memory">
											<input type="text" id="assist_num_memory_min"
												name="assist_max_num_memory_min"
												class="components_input txt_ipbox" title="" disabled />
											<div class="slider_ip">
												<button class="btn_s btn_s_minus">-</button>
												<div class="slider_bar">
												</div>
												<button class="btn_s btn_s_plus">+</button>
											</div>
											<input type="text" id="assist_num_memory_max"
												name="assist_max_num_memory_min"
												class="components_input txt_ipbox" title="" disabled />
										</div>
										<span class="stxt">GB</span>
									</li>

									
								</ul>
							</div>

							<div class="s_box s_box_2">
								<ul>
									<li>
										<label>vCPU</label>
										<div class="s_slider_box" id="spec_cpu">
											<input type="text" id="assist_num_vCPU_min" name="assist_num_vCPU_min"
												class="components_input txt_ipbox" title=""
												disabled />
											<div class="slider_ip">
												<button class="btn_s btn_s_minus">-</button>
												<div class="slider_bar">
												</div>
												<button class="btn_s btn_s_plus">+</button>
											</div>
											<input type="text" id="assist_num_vCPU_max" name="assist_num_vCPU_max"
												 class="components_input txt_ipbox" title=""
												disabled />
										</div>
										<span class="stxt">Unit</span>
									</li>

								

								</ul>
							</div>

						</div>

						<!-- <div class="toptxt">
							<label>Spec List : <span id="assistSpecCount"></span></label>
						</div> -->

						<!-- <div class="top_info">
							<ul>
								<li>
									<a href="javascript:void(0);">Filter</a>
									<div class="infobox">
										<div class="box">
											<ul>
												<li><a href="javascript:void(0);"
														onclick="mcpjs['util/util'].commonPromptOpen('RsFltSrvImgId', 'serverImageList')">Image
														ID</a></li>
												<li><a href="javascript:void(0);"
														onclick="mcpjs['util/util'].commonPromptOpen('RsFltSrvImgName', 'serverImageList')">Image
														Name</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<a href="javascript:void(0);">Sort</a>
									<div class="infobox">
										<div class="box">
											<ul>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'Name')">Name</a></li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'Memory')">Memory</a>
												</li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'VCPC Info')">VCPU
														Info</a></li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSpecList', 'GPU')">GPU</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li><a href="javascript:void(0);"><img src="/assets/images/common/icon_question.png"
											alt="" /></a>
								</li>
							</ul>
						</div> -->

						<!-- table scrollbar -->
						<div id="assistNamespaceVmSpecList"></div>
						<!-- //table scrollbar -->

					</div>

				</div>

				<div class="btnbox">
					<div class="btn_right">
						<button name="" value="" class="btn_apply btn_co btn_cr_g"  data-dismiss="modal"><span>Apply</span></button>
						<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">cancel</button>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
<!-- Spec Assist popup -->
<%= javascriptTag("vmspec/namespacevmspec_modal.js") %>