<!-- Recommend Spec Configuration Assist popup -->
<div class="modal fade popup_editBox" id="recommendSpecAssist" tabindex="-1" role="dialog" aria-hidden="true">
	<input type="hidden" id="parentsRecommendVmSpecAssist">
    <!-- popup에서 선택한 connection, spec -->	
	<input type="hidden" id="t_recommendProviderId" value="" />
	<input type="hidden" id="t_recommendRegionName" value="" />
	<input type="hidden" id="t_recommendCspSpec" value="" />

	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content recommend-modal">

			<div class="modal-body">
				<div class="pop-body">

					<div class="title_box">
						<div class="title">Recommend Spec Configuration</div>
					</div>
					<div class="pop-cont">
						<div class="toptxt search" id="serverNameBox" style="display: none;">
							<ul>
								<li class="reg_1">
									<label>Server Name</label>
									<input type="text" name="serverName" value="" placeholder="Input Name" class="pline"
										title="" id="serverName">
								</li>
								<li class="reg_1">
									<label>Server Quantity</label>
									<input type="text" class="pline" value="1" name="serverQuantity"
										id="serverQuantity">
								</li>
							</ul>
						</div>
						<div class="spec_box">
							<div class="toptxt search">								
								<input type="hidden" id="longitude" name="" value="" class="pline" title="" />
								<input type="hidden" id="latitude" name="" value="" class="pline" title="" />
								<ul>
									<li class="reg_1">
										<label class="assistLabel"></span>Priority Option</label>
										<select class="selectbox white pline w3"
											name="assistRecommendSpecConnectionName"
											id="assistRecommendSpecConnectionName"
											>
											<option value="" selected>Select Priority Option</option>
											<option value="location">Location</option>
											<option value="cost">Cost</option>
											<option value="latency">Latency</option>
										</select>
									</li>
									<li class="reg_1">
										<label class="assistLabel"></span>Limit</label>
										<input type="text" class="pline" value="5" name="recommendVmLimit"
											id="recommendVmLimit">
									</li>
									<li class="reg_1">
										<input type="submit" name="" class="btn_search_spec" title="" value=""
											onclick="mcpjs['vmspec/vmspecrecommendassist_modal'].getVmSpecRecommend()" />
									</li>

								</ul>

							</div>
							<div id="recommendSpecSetting">
								<div class="mapcont">
									<div class="map" id="recommend_map" style="height:300px; width: 100%; display: none;"></div>
									<!--							<div class="map" id="map" style="height:300px;"></div>-->
								</div>

								<div class="recommend_spec_filter">
									<div class="s_box recommend s_box_1">
										<ul>

											<li>
												<label>Memory</label>
												<div class="s_slider_box" id="slider_memory">
													<input type="text" id="num_memory_min"
														name="assist_max_num_memory_min" value="0" placeholder="0"
														class="components_input txt_ipbox" title="" />
													<div class="slider_ip">
														<button class="btn_s btn_s_minus">-</button>
														<div class="slider_bar">
															<!-- <input type="text" name="" value="" placeholder=""
																class="slider_bar" title="" data-slider-min="0"
																data-slider-max="100" data-slider-step="1"
																data-slider-value="1" /> -->
														</div>
														<button class="btn_s btn_s_plus">+</button>
													</div>
													<input type="text" id="num_memory_max"
														name="assist_max_num_memory_min" value="512" placeholder="512"
														class="components_input txt_ipbox" title="" />
												</div>
												<span class="stxt">GB</span>
											</li>

										</ul>
									</div>

									<div class="s_box recommend s_box_2">
										<ul>
											<li>
												<label>CPU</label>
												<div class="s_slider_box" id="slider_cpu">
													<input type="text" id="num_vCPU_min" name="assist_num_vCPU_min"
														value="0" placeholder="0" class="components_input txt_ipbox"
														title="" />
													<div class="slider_ip">
														<button class="btn_s btn_s_minus">-</button>
														<div class="slider_bar">
															<!-- <input type="text" name="" value="" placeholder=""
																class="slider_bar" title="" data-slider-min="0"
																data-slider-max="10" data-slider-step="1"
																data-slider-value="0" /> -->
														</div>
														<button class="btn_s btn_s_plus">+</button>
													</div>
													<input type="text" id="num_vCPU_max" name="assist_num_vCPU_max"
														value="512" placeholder="512" class="components_input txt_ipbox"
														title="" />
												</div>
												<span class="stxt">Unit</span>
											</li>
										</ul>
									</div>

									<div class="s_box recommend s_box_2">
										<ul>
											<li>
												<label>COST</label>
												<div class="s_slider_box" id="slider_cost">
													<input type="text" id="num_cost_min" name="assist_num_vCPU_min"
														value="0" placeholder="0" class="components_input txt_ipbox"
														title="" />
													<div class="slider_ip">
														<button class="btn_s btn_s_minus">-</button>
														<div class="slider_bar">
															<!-- <input type="text" name="" value="" placeholder=""
																class="slider_bar" title="" data-slider-min="0"
																data-slider-max="10" data-slider-step="1"
																data-slider-value="0" /> -->
														</div>
														<button class="btn_s btn_s_plus">+</button>
													</div>
													<input type="text" id="num_cost_max" name="assist_num_vCPU_max"
														value="1" placeholder="0" class="components_input txt_ipbox"
														title="" />
												</div>
												<span class="stxt">$</span>
											</li>
										</ul>
									</div>
								</div>
							</div>


						</div>

						<!-- table scrollbar -->
						<div id="assistRecommendSpecList"></div>
						<!-- //table scrollbar -->
					</div>
				</div>

				<div class="btnbox">
					<div class="btn_right">
						<button name="" value="" class="btn_apply btn_co btn_cr_g" data-dismiss="modal"><span>Apply</span></button>
						<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">cancel</button>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>

<!-- Recommend Spec Configuration Assist popup -->

<script>
	
	$(function () {

		var slider_memory_setting = {
			id: "slider_memory",
			min: 0,
			max: 128,
			step: 1,
			values: [0, 32],
		}

		var slider_cpu_setting = {
			id: "slider_cpu",
			min: 0,
			max: 128,
			step: 1,
			values: [0, 16],
		}

		var slider_cost_setting = {
			id: "slider_cost",
			min: 0,
			max: 1,
			step: 0.1,
			values: [0, 1],
		}

		mcpjs['util/util'].rangeSliderInit(slider_memory_setting)
		mcpjs['util/util'].rangeSliderInit(slider_cpu_setting)
		mcpjs['util/util'].rangeSliderInit(slider_cost_setting)
		
	})


</script>
<%= javascriptTag("vmspec/vmspecrecommendassist_modal.js") %>