<div class="dashboard dashboard_cont register_cont" id="category-CreateBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial cg"><strong>Category Create</strong></div>
        </div>

        <div class="ds_cont">
            <div class="register_box reg">

                <div class="top_ipbox">

                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Category Name</label>
                                <input type="text" id="create-category_name" name="create-category_name" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Parent Category Id</label>
                                <input type="text" id="create-parent_category_id" name="create-parent_category_id" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Description</label>
                                <input type="text" id="create-description" name="create-description" value="" placeholder=""
                                        class="" title="" />
                            </li>
                        </ul>
                    </div>
                    
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Sort</label>
                                <input type="text" id="create-sort" name="create-sort" value="" placeholder=""
                                    class="" title="" />
                            </li>                             
                        </ul>
                    </div>

                </div>

                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
                        onclick="mcpjs['util/common'].displayStateChange('category', 'REG')">Close</button>
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                            onclick>Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>