<div class="dashboard dashboard_cont detail_box" id="category-EditBox">

    <div class="d_box box_m box_w100">
        <div class="titbox_n">
            <div class="tit initial"><strong>Category Edit</strong> [ <span class="stxt" id="edit-stxt"></span>
                ] </div>
        </div>

        <div class="ds_cont">
            <div class="register_box">

                <div class="top_ipbox">
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Category Name</label>
                                <input type="text" id="edit-category_name" name="edit-category_name" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Parent Category Id</label>
                                <input type="text" id="edit-parent_category_id" name="edit-parent_category_id" value="" placeholder=""
                                        class="" title="" />
                            </li>
                            <li>
                                <label>Description</label>
                                <input type="text" id="edit-description" name="edit-description" value="" placeholder=""
                                        class="" title="" />
                            </li>
                        </ul>
                    </div>
                    
                    <div class="ipbox ipbox2">
                        <ul>
                            <li>
                                <label>Sort</label>
                                <input type="text" id="edit-sort" name="edit-sort" value="" placeholder=""
                                    class="" title="" />
                            </li>      
                            <li>
                                <label>Created</label>
                                <input type="text" id="edit-created_at" name="edit-created_at" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>
                            <li>
                                <label>Updated</label>
                                <input type="text" id="edit-updated_at" name="edit-updated_at" value="" placeholder=""
                                    class="gray" title="" readonly />
                            </li>                           
                        </ul>
                    </div>
                </div>

                <div class="btnbox">
                    <div class="btn_center">
                        <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                            onclick>Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
