<!-- SSH Assist popup setValueToFormObj('es_sshKeyList', 'tab_sshKey', 'sshKey', '{ {$sshKeyIndex} }', 'e_sshKeyId')-->
<div class="modal fade popup_editBox" id="namespaceSshKeyAssist" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" id="parentsNamespaceSshKeyAssist">
	<input type="hidden" id="parentsNamespaceSshKeyConnectionName">
	<input type="hidden" id="selectedIndexNamespaceSshKeyAssist"><!-- Table에서 선택한 index-->

	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="pop-body">

					<div class="title_box">
						<div class="title">SSH Key List of Namespace</div>
					</div>

					<div class="pop-cont">
						<div class="search_box">
							<div class="toptxt search">
								<label>Search</label>
								<ul>
									<li class="reg_1">
										<label class="assistLabel">Cloud Provider</label>
										<select class="selectbox white pline w3" name="assistSshKeyProviderId"
											id="assistSshKeyProviderId"
											onchange="mcpjs['util/util'].getRegionListByProviderForSelectbox(this.value, 'assistSshKeyRegionName');">
											<option value="" selected>Select Cloud Provider</option>
											<%= for (provider) in cloud_os_list {%>
                                                <option value="<%= provider %>"><%= provider %></option>
                                            <% } %>
										</select>

									</li>
                                    <li class="reg_1">
										<label class="assistLabel"></span>Region</label>
										<select class="selectbox white pline w3" name="AssistSshKeyRegionName"
											id="assistSshKeyRegionName">
											<option value="" selected>Select Region</option>
										</select>
									</li>
									<!-- <li class="reg_1">
										<label class="assistLabel"></span>Connection Name</label>
										<select class="selectbox white pline w3" name="assistSshKeyConnectionName"
											id="assistSshKeyConnectionName">
											<option value="" selected>onnectionName</option>
										</select>
									</li> -->
								</ul>
							</div>

							<div>
								<input type="text" id="keywordAssistSshKey" placeholder="Input Keyword"
									class="pline image"/>
								<input type="button" name="" class="btn_search_image" title="" value=""/>
							</div>
							<div class="keyword_box" id="searchAssistSshKeyKeywords">
								<input type="submit" name="" class="btn_del_all" title="" value="필터 지우기"
									onclick="delAllKeyword()" />
							</div>
						</div>
						<!-- <div class="top_info">
							<ul>
								<li>
									<a href="javascript:void(0);">Filter</a>
									<div class="infobox">
										<div class="box">
											<ul>
												<li><a href="javascript:void(0);"
														onclick="mcpjs['util/util'].commonPromptOpen('RsFltSrvImgId', 'serverImageList')">Image
														ID</a></li>
												<li><a href="javascript:void(0);"
														onclick="mcpjs['util/util'].commonPromptOpen('RsFltSrvImgName', 'serverImageList')">Image
														Name</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<a href="javascript:void(0);">Sort</a>
									<div class="infobox">
										<div class="box">
											<ul>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSecurityGroupList', 'Name')">Name</a>
												</li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSecurityGroupList', 'Status')">Status</a>
												</li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSecurityGroupList', 'GuestOS')">GuestOS</a>
												</li>
												<li><a href="javascript:void(0);"
														onclick="tableSort('assistSecurityGroupList', 'IID nameId')">IID
														nameId</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li><a href="javascript:void(0);"><img src="/assets/images/common/icon_question.png"
											alt="" /></a>
								</li>
							</ul>
						</div> -->

						<!-- table scrollbar -->
						<div id="assistSshKeyList"></div>
						<!-- //table scrollbar -->

					</div>

				</div>

				<div class="btnbox">
					<div class="btn_right">
						<button name="" value="" class="btn_apply btn_co btn_cr_g" data-dismiss="modal"><span>Apply</span></button>
						<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">cancel</button>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
<!-- SSH Assist popup -->
<%= javascriptTag("sshkey/namespacesshkey_modal.js") %>