<div class="titlebox">
    <div class="tit"><img src="/assets/images/common/icon_cont.png" alt="">Resources / <strong>SSH KEY</strong></div>
    <div class="location">Home <span>&gt;</span> Setting <span>&gt;</span> Resources <span>&gt;</span>
        <strong>SSH Key</strong></div>
</div>
<%= partial("settings/sshkey/list.html") %>
<%= partial("settings/sshkey/create.html") %>
<%= partial("settings/sshkey/detail.html") %>
<%= partial("settings/sshkey/edit.html") %>
<%= javascriptTag("sshkey/sshkeymng.js") %>