<%= partial("partials/layout/pageheader/default.html") %>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">

            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">HTTP Request</h3>
                    </div>

                    <div class="card-body">
                        <div class="row row-cards">

                            <div class="mb-3 col-sm-2 col-md-2">
                                <label class="form-label required">Target</label>
                                <select id="targetSelect" class="form-select">
                                    <option value="self">self</option>
                                    <option value="spider">spider</option>
                                    <option value="tumblebug">tumblebug</option>
                                    <option value="direct">direct</option>
                                </select>
                            </div>

                            <div class="mb-3 col-sm-3 col-md-1">
                                <label class="form-label required">Method</label>
                                <select id="methodSelect" class="form-select">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                    <option value="DELETE">DELETE</option>
                                </select>
                            </div>

                            <div class="mb-3 col-sm-1 col-md-1">
                                <label class="form-label required">CSRF</label>
                                <select id="CSRFSelect" class="form-select">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>

                            

                            <div class="mb-3 col-sm-6 col-md-8">
                                <label class="form-label required">Path</label>
                                <input id="path" type="text" class="form-control" placeholder="/api/{version}/........">
                            </div>

                        </div>
                        <div class="col-12">
                            <!-- Cards with tabs component -->
                            <div class="card-tabs">
                            <!-- Cards navigation -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#tab-top-1" class="nav-link active" data-bs-toggle="tab">Params</a></li>
                                <li class="nav-item"><a href="#tab-top-2" class="nav-link" data-bs-toggle="tab">Authorization</a></li>
                                <!-- <li class="nav-item"><a href="#tab-top-3" class="nav-link" data-bs-toggle="tab">Headers</a></li> -->
                                <li class="nav-item"><a href="#tab-top-4" class="nav-link" data-bs-toggle="tab">Body</a></li>
                            </ul>

                            <div class="tab-content">
                                <!-- Content of card #1 -->
                                <div id="tab-top-1" class="card tab-pane active show">
                                    <div class="card-body">
                                        <p><button id="paramAdd" class="btn btn-sm btn-ghost-primary">ADD</button></p>
                                        <div class="card">
                                            <div class="card-table table-responsive">
                                                <div id="paramsTable">paramsTable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Content of card #2 -->
                                <div id="tab-top-2" class="card tab-pane">
                                    <div class="card-body">
                                        <div class="row row-cards">

                                            <div class="mb-3 col-sm-4 col-md-2">
                                                <label class="form-label">Type</label>
                                                <select id="authorizationSelect" class="form-select">
                                                    <option value="NOAUTH">NOAUTH</option>
                                                    <option value="BearerToken">Bearer Token</option>
                                                </select>
                                            </div>

                                            <div class="mb-3 col-sm-8 col-md-10">
                                                <label class="form-label required">Token</label>
                                                <input id="bearerToken" name="token" type="text" class="form-control" placeholder="*************************">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Content of card #3 -->
                                <div id="tab-top-3" class="card tab-pane">
                                    <div class="card-body">
                                        <p><button id="headerAdd" class="btn btn-sm btn-ghost-primary">ADD</button></p>
                                        <div class="card">
                                            <div class="card-table table-responsive">
                                                <div id="headerTable">headerTable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Content of card #4 -->
                                <div id="tab-top-4" class="card tab-pane">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <textarea id="bodyArea" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="card-footer text-end">
                        <button id="sendBtn" class="btn btn-primary">Make request</button>
                    </div>
                </div>

            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4>Request target</h4>
                        <div>
                            <pre id="RequestTarget">...</pre>
                        </div>

                        <h4>Response Data</h4>
                        <div>
                            <pre id="ResponseData">...</pre>
                        </div>
                        
                        <h4>Response Headers</h4>
                        <div>
                            <pre id="ResponseHeaders">...</pre>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%= javascriptTag("debug/apicall/apicall.js") %>